@using mechanical.Models.Dto.UserDto
@using mechanical.Models.PCE.Dto.PCECaseDto
@using mechanical.Models.PCE.Dto.PCECaseScheduleDto

@model mechanical.Models.PCE.Dto.PCECaseScheduleDto.PCECaseSchedulePostDto

@{
    var myCase = ViewData["PCECase"] as PCECaseReturnDto;
    var caseId =  ViewData["PCECaseId"] as Guid? ?? Guid.Empty;
    var currentUser = ViewData["CurrentUser"] as ReturnUserDto;
    var caseSchedule = ViewData["PCECaseSchedule"] as IEnumerable<PCECaseScheduleReturnDto>;
    Guid userId = currentUser.Id;
}

<section class="content-header">
    <h4>Valuation Schedule</h4>
</section>

<section class="content">
    <div class="row">
        <div class="box box-primary col-xl-6">
            <div class="box-body" id="CaseSchedule">
                @{

                    if (caseSchedule != null)
                    {
                        if (caseSchedule.Count() == 0)
                        {

                            if (@currentUser.Role.Name != "Maker Officer")
                            {
                                <div class="text-center">
                                    <h6>Valuation Schedule Is Not Set Yet For This PCE Case </h6>
                                </div>
                            }
                            else
                            {
                                @using (Html.BeginForm("CreateSchedule", "PCESchedule", FormMethod.Post, new { id = "pcescheduleForm" }))
                                {
                                    <input asp-for="PCECaseId" value="@myCase.Id" type="hidden" />
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="ScheduleDate" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" required />
                                        </div>
                                        <span class="text-danger" id="dateError"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-purple btn-sm">Submit</button>
                                    </div>
                                }
                            }
                        
                        }
                        else
                        {
                            @foreach (var caseSched in caseSchedule)
                            {
                                <div class="post clearfix" style="border-bottom: 1px solid rgb(173, 181, 189); color: rgb(102, 102, 102); margin-bottom: 15px; padding-bottom: 15px;">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="/img/avatar5.png" alt="User Image">
                                        <span class="username"><a href="@Url.Action("Profile","UserManagment")?id=@caseSched.User.Id">@caseSched.User.Name</a> </span>
                                        <span class="description">@caseSched.CreatedAt</span>
                                    </div>
                                    <p id="ScheduleDate">Schedule Date: @caseSched.ScheduleDate</p>
                                    @if (@caseSched.Status == "Approved" || @caseSched.Status == "approved")
                                    {
                                        <p>Status: <span class="text-success">@caseSched.Status</span>  <i class="fas fa-check-circle text-success"></i></p>
                                    }
                                    else if (@caseSched.Status == "Rejected" || @caseSched.Status == "rejected")
                                    {
                                        <p>Status: <span class="text-danger">Another date is Proposed</span>  <i class="fas fa-times-circle text-danger"></i></p>
                                    }
                                    else
                                    {
                                        <p>Status: <span class="text-info">@caseSched.Status</span>  <i class="fas fa-spinner text-info"></i></p>
                                    }
                                    @{
                                        if (caseSched.Reason != null)
                                        {
                                            <p>Reason: <span class="text-danger">@caseSched.Reason</span></p>
                                        }
                                    }
                                    @{

                                        if (currentUser.Role.Name == "Maker Officer" || currentUser.Role.Name == "Relation Manager")
                                        {


                                            if (caseSched.User.Id != userId && (caseSched.Status == "proposed" || caseSched.Status == "Proposed"))
                                            {
                                                <div class="btn-group">
                                                    <input type="hidden" id="CaseScheduleId" name="Id" value="@caseSched.Id" />
                                                    <button id="AcceptButton" type="button" class="btn btn-sm  btn-outline-primary" data-toggle="modal">
                                                        <i class="fas fa-check-circle"></i> Accept
                                                    </button>
                                                    <button id="proposeNewScheduleButtons" type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#proposeNewSchedule-modal">
                                                        <i class="fas fa-plus-circle"></i> Propose New
                                                    </button>
                                                </div>
                                            }
                                            else if (caseSched.User.Id == userId && (caseSched.Status == "proposed" || caseSched.Status == "Proposed"))
                                            {
                                            
                                                <input type="hidden" id="CaseSchedulleId" name="Id" value="@caseSched.Id" />
                                                <button id="UpdateSchedules" class="update-link btn btn-sm btn-outline-primary">Update</button>
                                            }

                                        }
                                        else
                                        {
                                            
                                        }
                                    
                                    }
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>

</section>


<div class="modal" id="proposeNewSchedule-modals" tabindex="-1" role="dialog" aria-labelledby="proposeNewSchedule-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="proposeNewSchedule-modal-label">Update Scheduled Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="proposeNewSchedule-form">
                    <input type="hidden" name="PCECaseId" value="@myCase.Id" />
                    <div class="form-group">
                        <label for=ScheduleDate>Schedule Date</label>
                        <input id="ScheduleDate" name="ScheduleDate" type="datetime-local"  value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for=Reason>Reason</label>
                        <textarea id="Reason" name="Reason" class="form-control"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" id="CaseScheduleSubmitButton" class="btn bg-purple  btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="datetimepicker-modals" tabindex="-1" role="dialog" aria-labelledby="datetimepicker-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="datetimepicker-modal-label">Update Scheduled Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="datetimepicker-form">
                    <input type="hidden" name="CaseId" value="@myCase.Id" />
                    <div class="form-group">

                        <div class="input-group">
                            <input name="ScheduleDate" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" />
                        </div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn bg-purple  btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
