@model mechanical.Models.Dto.MotorVehicleDto.ReturnMotorVehicleDto;
<script>
    function formatNumber(number) {
        return number.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }

    function formatAndDisplayValue(elementId) {
        var element = document.getElementById(elementId);
        var value = parseFloat(element.textContent);
        var formattedValue = formatNumber(value);
        element.textContent = formattedValue;
    }
</script>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6">
                <h1 class="m-0">Motor Vehicle Evaluation Form</h1>
            </div>
            <div class="col-sm-6 col-xl-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">My Case</li>
                    <li class="breadcrumb-item active">Detail</li>
                    <li class="breadcrumb-item active">Collateral evaluation</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <section class="col-xl-12 connectedSortable">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="container col-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="text-center">General Information</h4>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Motor Vehicle Make:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.MotorVehicleMake</div>
                                </div>
                            </div>
                           
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Year Of Manufacture:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.YearOfManufacture</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Country Of Origin:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.CountryOfOrigin</div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Model No:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.ModelNo</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Engine No:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.EngineNo</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>TD No:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.TDNo</div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Plate No:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.PlateNo</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Chassis No:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.ChassisNo</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Serial No:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.SerialNo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="container col-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="text-center">Assessment Information</h4>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Current Equipment Condition:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.CurrentEqpmntCondition</div>
                                </div>
                            </div>

                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Allocated Points Range:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.AllocatedPointsRange </div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Market Share Factor:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.MarketShareFactor</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Depreciation Rate:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.DepreciationRate</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Equipment Condition Factor:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.EqpmntConditionFactor</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Replacement Cost:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div id="ReplacementCost">@Model.ReplacementCost</div>
                                </div>
                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                                <div class="row col-lg-4">
                                    <div class="col-lg-6">
                                        <label class="text-purple">Net Estimation Value:</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="text-purple" id="NetEstimationValue">@Model.NetEstimationValue</div>
                                    </div>
                                </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                     <label>Physical and Installation Assessment:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.PhysicalAndInstallationAssesment </div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                     <label>Overall Survey Assessment:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.OverallSurveyAssesment</div>
                                </div>
                            </div>
                        </div>
                            <div class="row" style="margin-top:1.25rem;">
                                <div class="row col-lg-4">
                                    <div class="col-lg-6">
                                        <label>Remark:</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>@Model.Remark </div>
                                    </div>
                                </div>
                                <div class="row col-lg-4">
                                    <div class="col-lg-6">
                                        <label>Invoice Value:</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div id="InvoiceValue">@Model.InvoiceValue </div>
                                    </div>
                                </div>
                                <div class="row col-lg-4">
                                    <div class="col-lg-6">
                                        <label>Currency:</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div></div>@Model.Currency </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row col-12" >
                    <div style="margin-top:1.25rem;" class="col-2">
                        @using (Html.BeginForm("SendCheking", "MOCase", FormMethod.Post))
                        {
                            <input asp-for="CollateralId" value=@Model.CollateralId type="hidden" id="CollateralId" />
                            <div class="row">
                                <button type="submit" class="col-xl-11  btn btn-sm  bg-purple">send for checker  <i class="fas fa-paper-plane"></i></button>
                            </div>
                        }
                    </div>  
                    <div style="margin-top:1.25rem;" class="col-2">
                            <input asp-for="CollateralId" value=@Model.CollateralId type="hidden" id="CollateralId" />
                            <div class="row">
                            <a href="@Url.Action("EditMoterVehicle", "MotorVehicle")?id=@Model.CollateralId" class="col-xl-12  btn btn-sm  bg-purple">Edit  <i class="fas fa-pen"></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
           
    </section>
</section>
<script>
    formatAndDisplayValue('ReplacementCost');
    formatAndDisplayValue('InvoiceValue');
    formatAndDisplayValue('NetEstimationValue');
</script>