@using mechanical.Models.PCE.Dto.PCECaseDto
@using mechanical.Models.PCE.Dto.PCECaseTerminateDto
@using mechanical.Models.PCE.Dto.PCECaseScheduleDto;
@using mechanical.Models.PCE.Dto.PCECaseTimeLineDto;
@model mechanical.Models.PCE.Dto.ProductionCapacityDto.PlantCapacityEstimationPostDto
@{
    var myCase = ViewData["PCECase"] as PCECaseReturntDto;
    var caseSchedule = ViewData["PCECaseSchedule"] as IEnumerable<PCECaseScheduleReturnDto>;
    var caseTerminate = ViewData["PCECaseTerminate"] as IEnumerable<PCECaseTerminateReturnDto>;
    var userId = ViewData["Id"] as Guid? ?? Guid.Empty;
}

<section class="content-header col-xl-6">
    <h4 class="text-center text-danger"> PCE Case Termination Request</h4>
</section>

<section class="content">
    <div class="row">
        <div class="box box-primary col-xl-6">
            <div class="box-body" id="CaseSchedule">
                @{

                    if (caseTerminate.Count() == 0)
                    {
                        @using (Html.BeginForm("CreateTermination", "PCECase", FormMethod.Post, new { Id = "terminationForm" }))
                        {
                            <input type="hidden" asp-for="PCECaseId" value="@myCase.Id" />
                            <div class="form-group">

                                <label for="Reason" class="form-label">Reason *</label>
                                <textarea name="Reason" rows="4" placeholder="Please enter case termination reason" class="form-control" required></textarea>
                                <span for="Reason" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger  btn-sm"><i class="fas fa-ban"></i>Terminate</button>
                            </div>
                        }

                    }
                    else
                    {
                        @foreach (var caseTerm in caseTerminate)
                        {
                            <div class="post clearfix" style="border-bottom: 1px solid rgb(173, 181, 189); color: rgb(102, 102, 102); margin-bottom: 15px; padding-bottom: 15px;">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="/img/avatar5.png" alt="User Image">
                                    <span class="username"><a href="@Url.Action("Profile","UserManagment")?id=@caseTerm.RMUser.Id">@caseTerm.RMUser.Name</a> </span>
                                    <span class="description">@caseTerm.CreationDate</span>
                                </div>
                                @if (@caseTerm.Status == "Approved")
                                {
                                    <p>Status: <span class="text-success">@caseTerm.Status</span>  <i class="fas fa-check-circle text-success"></i></p>
                                }
                                else if (@caseTerm.Status == "Rejected")
                                {
                                    <p>Status: <span class="text-danger">@caseTerm.Status</span>  <i class="fas fa-times-circle text-danger"></i></p>
                                }
                                else
                                {
                                    <p>Status: <span class="text-info">@caseTerm.Status</span>  <i class="fas fa-spinner text-info"></i></p>
                                }
                                @{
                                    if (caseTerm.Reason != null)
                                    {
                                        <p>Reason: <span class="text-danger">@caseTerm.Reason</span></p>
                                    }
                                }

                                @{
                                    if (caseTerm.RMUser.Id != userId && caseTerm.Status == "Proposed")
                                    {
                                        <div class="btn-group">
                                            <input type="hidden" id="CaseScheduleId" name="Id" value="@caseTerm.Id" />
                                            <button id="AcceptButton" type="button" class="btn btn-sm  btn-outline-primary" data-toggle="modal" data-target="#addCollateralModal">
                                                <i class="fas fa-check-circle"></i> Accept
                                            </button>
                                            <button id="proposeNewScheduleButton" type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#proposeNewSchedule-modal-modal">
                                                <i class="fas fa-plus-circle"></i> Propose New
                                            </button>
                                        </div>
                                    }
                                    else if (caseTerm.RMUser.Id == userId && caseTerm.Status == "Proposed")
                                    {
                                        <input type="hidden" id="CaseSchedulleId" name="Id" value="@caseTerm.Id" />
                                        <input type="hidden" id="caseTerminateReason" value="@caseTerm.Reason"/>
                                        <button id="UpdateTerminate" class="update-link btn btn-sm btn-outline-primary">Update</button>
                                    }
                                }

                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

</section>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Case Termination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="updateForm">
            <div class="modal-body">
                    <div class="form-group">
                        <label for="Reason" class="form-label">Reason *</label>
                        <textarea name="Reason" id="modalReason" rows="4" placeholder="Please enter case termination reason" class="form-control" required></textarea>
                        <span for="Reason" class="text-danger"></span>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn bg-purple btn-sm" id="updateButton">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>