@using mechanical.Models.PCE.Dto.PCECaseDto
@model PCEReportDataDto

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>Report Generate</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Report Generate</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" style="font-family: 'Times New Roman', Times, serif">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div class="d-flex flex-column ">
                                    <h5 class="card-title me-3 text-muted">Case Number: @Model.PCECases.CaseNo</h5>
                                    <h5 class="card-subtitle mb-2 text-muted">Applicant Name: @Model.PCECases.ApplicantName</h5>
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                <!-- <button class="btn btn-primary" style="background-color:purple; color: white">Case Report</button> -->
                                <a class="btn btn-primary" style="background-color:purple; color: white" href="@Url.Action("PCEAllReport", "PCECase")?Id= @Model.PCECases.Id">
                                    <i class="fas fa-file-alt mr-2"></i>PCE Report
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3></h3>
                <table id="MyNewCase" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Created At</th>
                            <th>PropertyOwner</th>
                            <th>Role</th>
                            <th>Production Type</th>
                            <th>Evaluated By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Productions.Count > 0)
                        {
                            @foreach (var item in Model.Productions)
                            {
                                <tr>
                                    <td>@item.CreatedAt</td>
                                    <td>@item.PropertyOwner</td>
                                    <td>@item.Role</td>
                                    <td>@item.ProductionType</td>
                                    @if (Model.PCEEvaluations.Count > 0)
                                    {
                                        var counts =0;
                                        var names = "";
                                        @foreach (var f in Model.PCEEvaluations)
                                        {
                                            if(f.PCEId == item.Id )
                                            {
                                                counts = counts + 1;
                                                names = @f.Evaluator.Name;
                                            }
                                        }
                                        if (counts >= 0)
                                        {
                                          <td> @names </td>
                                        }
                                        else
                                        {
                                          <td> Not Evaluated yet  </td>
                                        }
                                    }

                                    <td>
                                        @if (@item.CurrentStatus == "Completed")
                                        {
                                            <a class="btn btn-primary" style="background-color:purple; color: white" href="@Url.Action("PCEReport", "PCECase")?Id= @item.Id">
                                                <i class="fas fa-file-alt mr-2"></i>PCE Report
                                            </a>
                                        }else{
                                            <a class="btn btn-primary" style="background-color:purple; color: white" href="" disabled>
                                                <i class="fas fa-file-alt mr-2"></i>In Progress
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">No data available.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
 
@section Scripts {
    @{
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_CommonLibrariesScriptPartial");
    }
}