@using mechanical.Models.PCE.Entities;

@{
    var PCECase = ViewData["PCECase"] as PCECase;
    var productions = ViewData["productions"] as List<ProductionCapacity>;
    var PCEEvaluations = ViewData["PCEEvaluations"] as List<PCEEvaluation>;
    var PCECaseSchedule = ViewData["PCECaseSchedule"] as ProductionCaseSchedule;
    var commaSeparatedRegions = "";
    var commaSeparatedPropertyof = "";
    var commaSeparatedType = "";

    if (productions != null)
    {
        var uniqueRegions = productions.Select(m => m.Region).Distinct();
        commaSeparatedRegions = string.Join(", ", uniqueRegions);
        var ProportyOF = productions.Select(m => m.PropertyOwner).Distinct();
        commaSeparatedPropertyof = string.Join(", ", ProportyOF);
        var Type = productions.Select(m => m.Type).Distinct();
        commaSeparatedType = string.Join(", ", Type);

    }

    var maker = PCEEvaluations.Select(m => m.Evaluator).Distinct();

    var PCECaseScheduleDate = DateTime.Now;
    if (PCECaseSchedule != null)
    {
        PCECaseScheduleDate = PCECaseSchedule.ScheduleDate;
    }
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>PCECase Detail</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("MyPCECases", "PCECase")">Production Capacity Estimation Report </a></li>
                    <li class="breadcrumb-item active">PCECase Report</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <input value=@PCECase.Id type="hidden" id="PCECaseId" />
                <table id="PCEcaseproductions" class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-center"><h2>Commercial Bank Of Ethiopia</h2></th>
                        </tr>
                        <tr>
                            <th class="text-right" colspan="4">
                                PCECase Ref. No.:@PCECase.CaseNo
                            </th>
                        </tr>
                        <tr>
                            <th class="text-right" colspan="4">@PCECaseScheduleDate</th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="4">
                                Report on Valuation of Production Capacity Estimation
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="4">PART I: EXECUTIVE SUMMERY</th>
                        </tr>
                        <tr>
                            <th colspan="4">This is to notify that on request of @PCECase.ApplicantName we have visited <br /> the mechanical equipment of Motor Vehicle found at (@commaSeparatedRegions) <br /> area on date @PCECaseScheduleDate to carry out valuation of Motor Vehicle lying there in.</th>

                        </tr>
                        <tr>
                            <th class="text-center" colspan="4">General Description</th>
                        </tr>
                        <tr>
                            <th colspan="2"> Property of:</th>
                            <td colspan="2">(@commaSeparatedPropertyof)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Machinery and Equipment Location</th>
                            <td colspan="2">(@commaSeparatedRegions)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Type of Mechanical Equipment: </th>
                            <td colspan="2">(@commaSeparatedType)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Date as on which Valuation is made:</th>
                            <td colspan="2">TEST1</td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="4">PART II: Assesment and Remark</th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="4">Our survey assessment and remarks are as under:</th>
                        </tr>
                        @{
                            foreach (var item in PCEEvaluations)
                            {
                                if (item.SurveyRemark != null && item.SurveyRemark != String.Empty)
                                {
                                    <tr>
                                        <td colspan="4">
                                            @item.SurveyRemark
                                        </td>
                                    </tr>
                                }
                            }
                        }

                        <tr>
                            <th colspan="2">
                                Maker’s Name:
                            </th>
                            <th colspan="1">
                                Signature:
                            </th>
                            <th colspan="1">
                                Date:
                            </th>
                        </tr>
                        <tr>
                            @{
                                foreach (var item in maker)
                                {
                                    <td colspan="2">@item.Name</td>
                                    <td>test user sig</td>
                                    <td>@PCECaseScheduleDate</td>
                                }
                            }

                        </tr>
                        <tr>
                            <th colspan="2">
                                Checker’s Name:
                            </th>
                            <th colspan="1">
                                Signature:
                            </th>
                            <th colspan="1">
                                Date:
                            </th>
                        </tr>
                        <tr>
                           
                        </tr>
                        <tr>
                            <th colspan="4" class="text-center">PART III: COST SUMMERY</th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                RC, Total Replacement Cost (new) :
                            </th>
                            <td colspan="2">
                               
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Min:</th>
                            <th>Max:</th>
                            <th>Average:</th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                Total Estimation/Market Value
                            </th>
                            <td colspan="2">
                               
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="4">
                                Based on above, we certify that, 	"Total present market value of 		
                                Motor Vehicle as of 	@PCECaseScheduleDate	is   Birr
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                Maker’s Name:
                            </th>
                            <th colspan="1">
                                Signature:
                            </th>
                            <th colspan="1">
                                Date:
                            </th>
                        </tr>
                        <tr>
                            @{
                                foreach (var item in maker)
                                {
                                    <td colspan="2">@item.Name</td>
                                    <td>test user sig</td>
                                    <td>@PCECaseScheduleDate</td>
                                }
                            }
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <div class="col-xl-2"  style="margin-top:2rem;margin-bottom:1rem;margin-left:3rem;">
                    <a href="@Url.Action("Download", "PCECase", new { Id = PCECase.Id, Type = "PDF" })" id="download-pdf-btn" class="col-xl-12 btn btn-primary btn-block">
                        <i class="fas fa-paper-save mr-2"></i>  Download (PDF)
                    </a>
                </div>
                <div class="col-xl-7"></div>
                <div class="col-xl-2"  style="margin-top:2rem;margin-bottom:1rem;margin-right:3rem;">
                    <a href="@Url.Action("Download", "PCECase", new { Id = PCECase.Id, Type = "DOCX" })" id="download-docx-btn" class="col-xl-12 btn btn-primary btn-block">
                        <i class="fas fa-paper-save mr-2"></i>  Download (DOCX)
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
