@using mechanical.Models.PCE.Entities
@using mechanical.Models.PCE.Dto.PCECaseDto;
@using mechanical.Models.PCE.Dto.PCEEvaluationDto;

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
    var pceEvaluations = ViewData["pceEvaluations"] ;    
    }
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>PCE Case Summary</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("PCECases", "PCECase")">PCE Cases</a></li>
                    <li class="breadcrumb-item active">PCE Case Summary</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card" style="overflow: hidden; padding: 20px;">
            <div class="card-body">
                <input value="@myPCECase.Id" type="hidden" id="PCECaseId" />

                <h2 style="font-size: 1.5em; text-align: center; font-weight: bold; margin-bottom: 10px;">
                    Commercial Bank Of Ethiopia
                </h2>
                <h3 style="font-size: 0.5em; text-align: left; font-weight: bold; margin-bottom: 10px;"> <h3>PART I: PCE Case Summary </h3></h3>
                <table id="headertable" class="table table-bordered table-striped" style="width: 100%; font-size: 0.8em;">
                     <thead>
                       
                        <tr>
                            <th colspan="3">Case No.</th>
                            <th colspan="3">Applicant Name</th>                         
                            <th colspan="3">Segment</th>                                                   
                             @* <th colspan="3">No of Evaluated Productions</th> *@
                            <th colspan="3">Status</th>
                            <th colspan="3">Completed Date</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">@myPCECase.CaseNo</td>                           
                            <td colspan="3" id="ApplicantName">@myPCECase.ApplicantName</td>                          
                            <td colspan="3" id="Segment">@myPCECase.Segment</td>                    
                            @* <td colspan="3">@EvaluatedProductions</td> *@
                            <td colspan="3">@myPCECase.Status</td>
                            <td colspan="3">@myPCECase.CompletedAt</td>
                        </tr>
                    </tbody>
                </table>
                  
                <br/> 
                <h4 style="font-size: 0.5em; text-align: left; font-weight: bold;margin-bottom: 10px;"> <h4>PART II: Summary of Production</h4> </h4>

                <table id="summaryProductions" class="table table-bordered table-striped" style="width: 100%; font-size: 0.8em; margin-right:10px">
                    <thead>                      
                        <tr>
                            <th>#SN</th>
                            <th>Property Owner</th>
                            <th>Machine/Equipment</th>
                            <th>Manufacturing Type</th>                           
                            <th>Purpose</th>
                            <th>YoMfg</th>
                            <th>Origin</th>
                            <th>Model No</th>
                            <th>Invoice No.</th>                         
                            <th>Serial No.</th>
                            <th>License Number</th>
                            <th>Installed Place</th>
                            <th>Region</th>
                            <th>Wereda</th>
                            <th>Kebele</th>                          
                            <th>Remark</th>                      

                        </tr>
                    </thead>
                </table>
                <br/> 
                <h4 style="font-size: 0.5em; text-align: left; font-weight: bold;margin-bottom: 10px;"> <h4>PART III: Summary of Production valuation</h4> </h4>

                <table id="summaryEvaluatons" class="table table-bordered table-striped" style="width: 100%; font-size: 0.8em; margin-right:10px">
                    <thead>                       
                        <tr>
                            <th>#SN</th>
                            <th>Machine/Equipment</th>                           
                            <th>Production Line Type</th>
                            <th>Total Capacity</th>
                            <th>Technical Status</th>
                            <th>Functionality Status</th>
                            <th>Inspection Place</th>                          
                            <th>Conversion Ratio </th>
                            <th>Machine Non Functionality Reason</th>
                            <th>Other Machine Non Functionality Reason</th>
                            <th>Factors Affecting Production Capacity</th>
                            <th>Survey Remark</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                </table>

                <br/> 
               <h3 style="font-size: 0.5em; text-align: left; font-weight: bold; margin-bottom: 10px;"><h3> PART IV: Summary of Production line </h3></h3>
                @* Summary of line valuations *@

               <div id="tablesContainer"></div>                
               <br />                
            </div>
        </div>
    </div>

</section>

<style>
    .details-button {
        color: purple;
    }

    .sub-table-title {
        color: purple;
        margin: 10px 0;
    }

    .sub-table thead th {
        background-color: white; /* White background for sub-table header */
    }

</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("Partial/_PCESummaryCasesDatatableSriptsPartial");
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_CommonLibrariesScriptPartial");
    }
}
