@using mechanical.Models.PCE.Entities
@using mechanical.Models.PCE.Dto.PCECaseDto;
@using mechanical.Models.PCE.Dto.PCEEvaluationDto;

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
    var pceEvaluations = ViewData["pceEvaluations"] ;

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>PCE Case Summary</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("PCECases", "PCECase")">PCE Cases</a></li>
                    <li class="breadcrumb-item active">PCE Case Summary</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card" style="overflow: hidden; padding: 20px;">
            <div class="card-body">
                <input value="@myPCECase.Id" type="hidden" id="PCECaseId" />
                <table id="headertable" class="table table-bordered table-striped" style="width: 100%; font-size: 0.8em;">
                    <thead>
                        <tr>
                            <th colspan="14" class="text-center" style="font-size: 1.5em;"><h3>Commercial Bank Of Ethiopia</h3></th>
                        </tr>
                        <tr>
                            <th colspan="4">Applicant Name</th>
                            <th colspan="3">Applicant Address</th>
                            <th colspan="3">Date Of Evaluation</th>
                            <th colspan="4">Mechanical Equipment Type</th>
                        </tr>


                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" id="ApplicantName">@myPCECase.ApplicantName</td>
                            <td colspan="3">Unable to load the address of the Customer</td>
                            <td colspan="3">@myPCECase.CompletedAt</td>
                            <td colspan="4">Mechanical Manufacturing Production</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <h5>PART II: Summary Of Valuation</h5>
                
                <table id="summaryProductions" class="table table-bordered table-striped" style="width: 100%; font-size: 0.8em; margin-right:10px">
                    <thead>
                        <tr>
                            <th>S/No.</th>
                            <th>Property Owner</th>
                            <th>Mechanical Equipment Name</th>
                            <th>YoMfg</th>
                            <th>Origin</th>
                            <th>Model No</th>
                            <th>Invoice No.</th>
                            <th>LHC No</th>
                            <th>Type Manufacturing</th>
                            <th>Serial No.</th>
                            <th>Depreciation Rate</th>
                            <th>Actual Production Capacity</th>
                            <th>Estimated Production Capacity</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("Partial/_PCESummaryCasesDatatableSriptsPartial");
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_CommonLibrariesScriptPartial");
    }
}