@using mechanical.Models.Dto.ConstMngAgrMachineryDto;
@using mechanical.Models.Dto.IndBldgFacilityEquipmentDto;
@model mechanical.Models.Dto.CollateralDto.ReturnCollateralDto;
@{
    var movaluation = ViewData["movaluation"] as ReturnMotorVehicleDto;
    var Cavaluation = ViewData["Cavaluation"] as ConstMngAgMachineryReturnDto;
    var Ibvaluation = ViewData["Ibvaluation"] as IndBldgFacilityEquipmentReturnDto;
    var loggedRole = ViewData["loggedRole"] as Role;
    var remarkTypeCollateral = ViewData["remarkTypeCollateral"] as Collateral;
}

<section class="content">


    
    <div class="card-body" style="padding:5px;">
        @{
            if (@Model.CurrentStatus.Contains("Remark") && loggedRole?.Name == "Relation Manager")
            {
                    <h4 style="color:#6f42c1">You request @Model.CurrentStatus</h4>
                    <div class="row">
                        <div class="col-lg-10 form-group ">
                            <label>Remark</label>
                        @if (Model.Category == EnumHelper.GetEnumDisplayName(MechanicalCollateralCategory.MOV))
                        {
                            if (movaluation.Remark != null && movaluation.Remark != "")
                            {
                                <textarea type="text" rows="2" readonly value="" class="form-control form-control-sm" id="Category">@movaluation.Remark</textarea>
                            }
                        }
                        else if (Model.Category == EnumHelper.GetEnumDisplayName(MechanicalCollateralCategory.IBFEqupment))
                        {
                            if ( Ibvaluation.Remark != null && Ibvaluation.Remark != "" )
                            {
                                <textarea type="text" rows="2" readonly value="" class="form-control form-control-sm" id="Category">@Ibvaluation.Remark</textarea>

                            }
                        }
                        else if (Model.Category == EnumHelper.GetEnumDisplayName(MechanicalCollateralCategory.CMAMachinery))
                        {
                            if (Cavaluation.Remark != null && Cavaluation.Remark != "")
                            {
                                <textarea type="text" rows="2" readonly value="" class="form-control form-control-sm" id="Category">@Cavaluation.Remark</textarea>
                            }
                           
                        }
                        <span validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>
              
            }
            else
            {
                if (Model.Category == EnumHelper.GetEnumDisplayName(MechanicalCollateralCategory.MOV))
                {
                    if (movaluation != null)
                    {
                        if (movaluation.Remark == "" || movaluation.Remark == null)
                        {
                            <h4>Remark Detail</h4>
                            <h6>There is No Remark related to this Collateral</h6>
                        }

                        else
                        {
                            if (loggedRole?.Name == "Relation Manager")
                            {
                                <form action="/Collateral/handleRemark" method="post" enctype="multipart/form-data">
                                    <input name="collateralId" type="hidden" value=@movaluation.CollateralId />
                                    <input name="EvaluatorUserID" type="hidden" value=@movaluation.EvaluatorUserID />
                                    <input name="CheckerUserID" type="hidden" value=@movaluation.CheckerUserID />
                                    <div class="row">
                                        <div class="col-lg-10 form-group ">
                                            <label>Remark</label>
                                            <textarea type="text" rows="2" readonly value="" class="form-control form-control-sm" id="Category">@movaluation.Remark</textarea>
                                            <span validation-for="Category" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10 form-group ">
                                            <label>Select Remark Type <span class="text-danger">*</span></label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="RemarkType" id="Justfication" value="Justfication" required>
                                                <label class="form-check-label" for="Justification">
                                                    Justfication
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="RemarkType" id="Verfication" value="Verfication" required>
                                                <label class="form-check-label" for="Verfication">
                                                    Verfication
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-lg-10">
                                        <div class="card-body" style="padding-bottom:0px;">
                                            <h5 class="text-primary">Remark Release supporting document(not manadatory) </h5>
                                            <div class="row">
                                                <div class="form-group col-lg-10">
                                                    <label for="Category">Supporting Document Category</label>
                                                    <input name="Category" type="text" class="form-control form-control-sm" id="Category">
                                                    <span validation-for="Category" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-10">
                                                    <label for="File">Upload Document</label>
                                                    <input name="File" type="file" class="form-control form-control-sm" id="OtherDocument">
                                                    <span validation-for="File" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary" id="SendRemark">Send Remark Release</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            }
                            else if (loggedRole?.Name == "Maker Officer")
                            {
                                if (@Model.CurrentStatus == "Remark Justfication")
                                {
                                    <h4>You have a request for justification on your remark.</h4>
                                    <form action="/MotorVehicle/RemarkRelease" method="post">
                                        <input name="CollateralId" type="hidden" value=@movaluation.CollateralId />
                                        <input name="EvaluatorUserID" type="hidden" value=@movaluation.EvaluatorUserID />
                                        <input name="CurrentStatus" type="hidden" value=@Model.CurrentStatus />
                                        <input name="Id" type="hidden" value=@movaluation.Id />
                                        <div class="row">
                                            <div class="col-lg-10 form-group ">
                                                <label>Remark</label>
                                                <textarea type="text" rows="2" value="" class="form-control form-control-sm" id="Category" name="Remark">@movaluation.Remark</textarea>
                                                <span validation-for="Category" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-primary" id="ReleaseRemark">Send Justification</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                }
                                else if (@Model.CurrentStatus == "Remark Verfication")
                                {
                                    <h4>You have a request for verfication on your remark.</h4>
                                    <form action="/MOCase/ReEvaluation" method="post">
                                        <input name="Id" type="hidden" value=@movaluation.CollateralId />
                                        <input name="EvaluatorUserID" type="hidden" value=@movaluation.EvaluatorUserID />
                                        <input name="CurrentStatus" type="hidden" value=@Model.CurrentStatus />
                                        <div class="row">
                                            <div class="col-lg-10 form-group ">
                                                <label>Remark</label>
                                                <textarea type="text" rows="2" value="" readonly class="form-control form-control-sm" name="Remark" id="Category">@movaluation.Remark</textarea>
                                                <span validation-for="Category" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-primary" id="Edit">Edit Valuation</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>

                                }
                            }
                        }
                    }



                }
                else if (Model.Category == EnumHelper.GetEnumDisplayName(MechanicalCollateralCategory.IBFEqupment))
                {
                    if (Ibvaluation != null)
                    {
                        if (Ibvaluation.Remark == "" || Ibvaluation.Remark == null)
                        {
                            <h4>Remark Detail</h4>
                            <h6>There is No Remark related to this Collateral</h6>
                        }
                        else
                        {

                            if (loggedRole.Name == "Relation Manager")
                            {
                                <form action="/Collateral/handleRemark" method="post" enctype="multipart/form-data">
                                    <input name="collateralId" type="hidden" value=@Ibvaluation.CollateralId />
                                    <input name="EvaluatorUserID" type="hidden" value=@Ibvaluation.EvaluatorUserID />
                                    <input name="CheckerUserID" type="hidden" value=@Ibvaluation.CheckerUserID />
                                    <div class="row">
                                        <div class="col-lg-10 form-group ">
                                            <label>Remark</label>
                                            <textarea type="text" rows="2" readonly value="" class="form-control form-control-sm" id="Category">@Ibvaluation.Remark</textarea>
                                            <span validation-for="Category" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10 form-group ">
                                            <label>Select Remark Type <span class="text-danger">*</span></label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="RemarkType" id="Justfication" value="Justfication" required>
                                                <label class="form-check-label" for="Justfication">
                                                    Justfication
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="RemarkType" id="Verfication" value="Verfication" required>
                                                <label class="form-check-label" for="Verfication">
                                                    Verfication
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-lg-10">
                                        <div class="card-body" style="padding-bottom:0px;">
                                            <h5 class="text-primary">Remark Release supporting document(not manadatory) </h5>
                                            <div class="row">
                                                <div class="form-group col-lg-10">
                                                    <label for="Category">Supporting Document Category</label>
                                                    <input name="Category" type="text" class="form-control form-control-sm" id="Category">
                                                    <span validation-for="Category" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-10">
                                                    <label for="File">Upload Document</label>
                                                    <input name="File" type="file" class="form-control form-control-sm" id="OtherDocument">
                                                    <span validation-for="File" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary" id="SendRemark">Send Remark Release</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            }
                            else if (loggedRole.Name == "Maker Officer")
                            {
                                if (@Model.CurrentStatus == "Remark Justfication")
                                {
                                    <h4>You have a request for justification on your remark.</h4>
                                    <form action="/IndBldgFacilityEquipment/RemarkRelease" method="post">
                                        <input name="CollateralId" type="hidden" value=@Ibvaluation.CollateralId />
                                        <input name="EvaluatorUserID" type="hidden" value=@Ibvaluation.EvaluatorUserID />
                                        <input name="CurrentStatus" type="hidden" value=@Model.CurrentStatus />
                                        <input name="Id" type="hidden" value=@Ibvaluation.Id />
                                        <div class="row">
                                            <div class="col-lg-10 form-group ">
                                                <label>Remark</label>
                                                <textarea type="text" rows="2" value="" class="form-control form-control-sm" id="Category" name="Remark">@Ibvaluation.Remark</textarea>
                                                <span validation-for="Category" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-primary" id="ReleaseRemark">Send Justification</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                }
                                else if (@Model.CurrentStatus == "Remark Verfication")
                                {
                                    <h4>You have a request for justification on your remark.</h4>
                                    <form action="/MOCase/ReEvaluation" method="post">
                                        <input name="Id" type="hidden" value=@Ibvaluation.CollateralId />
                                        <input name="EvaluatorUserID" type="hidden" value=@Ibvaluation.EvaluatorUserID />
                                        <input name="CurrentStatus" type="hidden" value=@Model.CurrentStatus />
                                        <div class="row">
                                            <div class="col-lg-10 form-group ">
                                                <label>Remark</label>
                                                <textarea type="text" rows="2" value="" class="form-control form-control-sm" name="Remark" id="Category">@Ibvaluation.Remark</textarea>
                                                <span validation-for="Category" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-primary" id="Edit">Edit Valuation</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                }
                            }
                        }
                    }

                }
                else if (Model.Category == EnumHelper.GetEnumDisplayName(MechanicalCollateralCategory.CMAMachinery))
                {
                    if (Cavaluation != null)
                    {
                        if (Cavaluation.Remark == "" || Cavaluation.Remark == null)
                        {
                            <h4>Remark Detail</h4>
                            <h6>There is No Remark related to this Collateral</h6>
                        }
                        else
                        {

                            if (loggedRole.Name == "Relation Manager")
                            {

                                <form action="/Collateral/handleRemark" method="post" enctype="multipart/form-data">
                                    <input name="collateralId" type="hidden" value=@Cavaluation.CollateralId />
                                    <input name="EvaluatorUserID" type="hidden" value=@Cavaluation.EvaluatorUserID />
                                    <input name="CheckerUserID" type="hidden" value=@Cavaluation.CheckerUserID />
                                    <div class="row">
                                        <div class="col-lg-10 form-group ">
                                            <label>Remark</label>
                                            <textarea type="text" rows="2" readonly value="" class="form-control form-control-sm" id="Category">@Cavaluation.Remark</textarea>
                                            <span validation-for="Category" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10 form-group ">
                                            <label>Select Remark Type <span class="text-danger">*</span></label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="RemarkType" id="Justfication" value="Justfication">
                                                <label class="form-check-label" for="Justfication">
                                                    Justfication
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="RemarkType" id="Verfication" value="Verfication">
                                                <label class="form-check-label" for="Verfication">
                                                    Verfication
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-lg-10">
                                        <div class="card-body" style="padding-bottom:0px;">
                                            <h5 class="text-primary">Remark Release supporting document(not manadatory) </h5>
                                            <div class="row">
                                                <div class="form-group col-lg-10">
                                                    <label for="Category">Supporting Document Category</label>
                                                    <input name="Category" type="text" class="form-control form-control-sm" id="Category">
                                                    <span validation-for="Category" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-10">
                                                    <label for="File">Upload Document</label>
                                                    <input name="File" type="file" class="form-control form-control-sm" id="OtherDocument">
                                                    <span validation-for="File" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary" id="SendRemark">Send Remark Release</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>

                            }
                            else if (loggedRole.Name == "Maker Officer")
                            {
                                if (@Model.CurrentStatus == "Remark Justfication")
                                {
                                    <h4>You have a request for justification on your remark.</h4>
                                    <form action="/ConstMngAgrMachinery/RemarkRelease" method="post">
                                        <input name="CollateralId" type="hidden" value=@Cavaluation.CollateralId />
                                        <input name="CurrentStatus" type="hidden" value=@Model.CurrentStatus />
                                        <input name="EvaluatorUserID" type="hidden" value=@Cavaluation.EvaluatorUserID />
                                        <input name="Id" type="hidden" value=@Cavaluation.Id />
                                        <div class="row">
                                            <div class="col-lg-10 form-group ">
                                                <label>Remark</label>
                                                <textarea type="text" rows="2" value="" class="form-control form-control-sm" name="Remark"  id="Category">@Cavaluation.Remark</textarea>
                                                <span validation-for="Category" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-primary" id="ReleaseRemark">Send Justification</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                }
                                else if (@Model.CurrentStatus == "Remark Verfication")
                                {

                                    <form action="/MOCase/ReEvaluation" method="post">
                                        <h4>You have a request for justification on your remark.</h4>
                                        <input name="Id" type="hidden" value=@Cavaluation.CollateralId />
                                        <input name="CurrentStatus" type="hidden" value=@Model.CurrentStatus />
                                        <input name="EvaluatorUserID" type="hidden" value=@Cavaluation.EvaluatorUserID />
                                        <div class="row">
                                            <div class="col-lg-10 form-group ">
                                                <label>Remark</label>
                                                <textarea type="text" rows="2" value="" class="form-control form-control-sm" name="Remark" id="Category">@Cavaluation.Remark</textarea>
                                                <span validation-for="Category" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-primary" id="Edit">Edit Valuation</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                }
                            }
                        }
                    }

                }
            }
        }
    </div>
</section>