@using mechanical.Models.Dto.UserDto
@using mechanical.Models.PCE.Dto.PCECaseDto
@using mechanical.Models.PCE.Dto.PCECaseScheduleDto

@model mechanical.Models.PCE.Dto.PCECaseScheduleDto.PCECaseSchedulePostDto

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
    var currentUser = ViewData["CurrentUser"] as ReturnUserDto;
    var pceCaseSchedule = ViewData["PCECaseSchedule"] as IEnumerable<PCECaseScheduleReturnDto>;

    var currentUserRole = currentUser?.Role?.Name as string;
}

<section class="content-header">
    <h4>Valuation Schedule</h4>
</section>

@* terminated and completed and date
 *@
 <section class="content">
    <div class="row">
        <div class="box box-primary col-xl-6">
            <div class="box-body" id="CaseSchedule">
                @{
                    if (pceCaseSchedule != null)
                    {
                        if (pceCaseSchedule.Count() == 0)
                        {
                            if (@currentUserRole != "Maker Officer")
                            {
                                <div class="text-center">
                                    <h6>Valuation Schedule Is Not Set Yet For This PCE Case </h6>
                                </div>
                            }
                            else
                            {
                                @using (Html.BeginForm("CreateSchedule", "PCECaseSchedule", FormMethod.Post, new { id = "createSchedule-form" }))
                                {
                                    <input type="hidden" name="PCECaseId" value="@myPCECase.Id" />
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="ScheduleDate" id="ScheduleDate" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                                        </div>
                                        <span class="text-danger" id="dateError"></span> <!-- Error message will be displayed here -->
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-purple btn-sm">Submit</button>
                                    </div>
                                }
                            }                        
                        }
                        else
                        {
                            @foreach (var pceCaseSched in pceCaseSchedule)
                            {
                                <div class="post clearfix" style="border-bottom: 1px solid rgb(173, 181, 189); color: rgb(102, 102, 102); margin-bottom: 15px; padding-bottom: 15px;">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="/img/avatar5.png" alt="User Image">
                                        <span class="username"><a href="@Url.Action("Profile","UserManagment")?id=@pceCaseSched.User.Id">@pceCaseSched.User.Name</a> </span>
                                        <span class="description">@pceCaseSched.CreatedAt</span>
                                    </div>
                                    <p id="ScheduleDate">Schedule Date: @pceCaseSched.ScheduleDate</p>
                                    @if (@pceCaseSched.Status == "Approved" || @pceCaseSched.Status == "approved")
                                    {
                                        <p>Status: <span class="text-success">@pceCaseSched.Status</span>  <i class="fas fa-check-circle text-success"></i></p>

                                        if(currentUserRole == "Maker Officer" || currentUserRole =="Relation Manager")
                                        {
                                      
                                            <div class="btn-group">
                                                <input type="hidden" id="ScheduleId" name="Id" value="@pceCaseSched.Id" />
                                                <button id="rescheduleButton" type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#reschedule-modal">
                                                    <i class="fas fa-plus-circle"></i> Re-Schedule
                                                </button>
                                            </div>
                                         }
                                    }
                                    else if (@pceCaseSched.Status == "Rejected" || @pceCaseSched.Status == "rejected")
                                    {
                                        <p>Status: <span class="text-danger">Another date is Proposed</span>  <i class="fas fa-times-circle text-danger"></i></p>
                                    }
                                    else if (@pceCaseSched.Status == "rescheduled" || @pceCaseSched.Status == "Rescheduled")
                                    {                                        
                                        <p>Status: <span class="text-warning">@pceCaseSched.Status</span>  <i class="fas fa-times-circle text-danger"></i></p>
                                    }
                                    else
                                    {
                                        <p>Status: <span class="text-info">@pceCaseSched.Status</span>  <i class="fas fa-spinner text-info"></i></p>
                                    }
                                    @{
                                        if (pceCaseSched.Reason != null)
                                        {
                                            <p>Reason: <span class="text-danger">@pceCaseSched.Reason</span></p>
                                        }                                 

                                        if (currentUserRole == "Maker Officer" || currentUserRole == "Relation Manager")
                                        {
                                            if (pceCaseSched.User.Id != currentUser.Id && (pceCaseSched.Status == "proposed" || pceCaseSched.Status == "Proposed"))
                                            {
                                                <div class="btn-group">
                                                    <input type="hidden" id="ScheduleId" name="Id" value="@pceCaseSched.Id" />
                                                    <button id="acceptButton" type="button" class="btn btn-sm  btn-outline-primary" >
                                                        <i class="fas fa-check-circle"></i> Accept
                                                    </button>
                                                    <button id="proposeNewScheduleButton" type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#proposeNewSchedule-modal">
                                                        <i class="fas fa-plus-circle"></i> Propose New
                                                    </button>
                                                </div>
                                            }
                                            else if (pceCaseSched.User.Id == currentUser.Id && (pceCaseSched.Status == "proposed" || pceCaseSched.Status == "Proposed"))
                                            {
                                            
                                                <input type="hidden" id="ScheduleId" name="Id" value="@pceCaseSched.Id" />
                                                <button id="updateScheduleButton" class="update-link btn btn-sm btn-outline-primary">Update</button>
                                            }
                                        }
                                        else
                                        {
                                            
                                        }                                    
                                    }
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>

<div class="modal" id="proposeNewSchedule-modals" tabindex="-1" role="dialog" aria-labelledby="proposeNewSchedule-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="proposeNewSchedule-modal-label">Propose Scheduled Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="proposeNewSchedule-form">
                    <input type="hidden" name="PCECaseId" value="@myPCECase.Id" />
                    <div class="form-group">
                        <label for=ScheduleDate>Schedule Date</label>
                        <input id="proposeScheduleDate" name="ScheduleDate" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                        <span class="text-danger" id="proposeDateError"></span>
                    </div>
                    <div class="form-group">
                        <label for=Reason>Reason</label>
                        <textarea id="Reason" name="Reason" class="form-control" required></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" id="CaseScheduleSubmitButton" class="btn bg-purple  btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="reschedule-modals" tabindex="-1" role="dialog" aria-labelledby="reschedule-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reschedule-modal-label">Re Scheduled </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reschedule-form">
                    <input type="hidden" name="PCECaseId" value="@myPCECase.Id" />
                    <div class="form-group">
                        <label for=ScheduleDate>Schedule Date</label>
                        <input id="rescheduleDate" name="ScheduleDate" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                        <span class="text-danger" id="rescheduleDateError"></span> <!-- Error message will be displayed here -->

                    </div>
                    <div class="form-group">
                        <label for=Reason>Reason</label>
                        <textarea id="Reason" name="Reason" class="form-control" required></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" id="rescheduleSubmitButton" class="btn bg-purple  btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="updateSchedule-modals" tabindex="-1" role="dialog" aria-labelledby="updateSchedule-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSchedule-modal-label">Update Scheduled Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateSchedule-form">
                    <input type="hidden" name="PCECaseId" value="@myPCECase.Id" />
                    <div class="form-group">

                        <div class="input-group">
                            <input id="updateScheduleDate" name="ScheduleDate" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                        </div>
                        <span class="text-danger" id="updateDateError"></span> <!-- Error message will be displayed here -->

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn bg-purple  btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>