@model mechanical.Models.PCE.Dto.PCEDto.CollateralEstimationFeeDto
@using mechanical.Models.PCE.Enum.PCEEnums.Collateral

<div class="container-fluid">
    <div class="row">
        <!-- Collateral Information -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Collateral Information</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CollateralClass)</dt>
                        <dd class="col-sm-8">
                            <h6><strong>@Html.DisplayFor(model => model.CollateralClass)</strong></h6>
                        </dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CollateralCategory)</dt>
                        <dd class="col-sm-8">
                            <h6><strong>@Html.DisplayFor(model => model.CollateralCategory)</strong></h6>
                        </dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UnitOfMeasure)</dt>
                        <dd class="col-sm-8">
                            <h6><strong>@Html.DisplayFor(model => model.UnitOfMeasure)</strong></h6>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- Fee Information -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Fee Information</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6">@Html.DisplayNameFor(model => model.EstimationFeePerUnit)</dt>
                        <dd class="col-sm-6">
                            <h6><strong>@Html.DisplayFor(model => model.EstimationFeePerUnit)</strong></h6>
                        </dd>

                        <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Quantity)</dt>
                        <dd class="col-sm-6">
                            <h6><strong>@Html.DisplayFor(model => model.Quantity)</strong></h6>
                        </dd>

                        <dt class="col-sm-6">@Html.DisplayNameFor(model => model.TotalFee)</dt>
                        <dd class="col-sm-6">
                            <h6><strong>@Html.DisplayFor(model => model.TotalFee)</strong></h6>
                        </dd>

                        <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Status)</dt>
                        <dd class="col-sm-6">
                            <h6><strong>@Html.DisplayFor(model => model.Status)</strong></h6>
                        </dd>
                        @if (Model.Status == FeeStatus.Rejected)
                        {
                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.RejectionReason)</dt>
                            <dd class="col-sm-6">
                                <h6><strong>@Html.DisplayFor(model => model.RejectionReason)</strong></h6>
                            </dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
