@{
    ViewData["Title"] = "Get Evaluated Moter Vehicle";
}
@* @model mechanical.Models.Dto.MotorVehicleDto.CreateMotorVehicleDto;
 *@
@model mechanical.Models.Dto.ConstMngAgrMachineryDto.ConstMngAgMachineryReturnDto;
<script>
    function formatNumber(number) {
        return number.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }

    function formatAndDisplayValue(elementId) {
        var element = document.getElementById(elementId);
        console.log(element.value);
        var value = parseFloat(element.value); // Use .value
        var formattedValue = formatNumber(value);
        element.value = formattedValue; // Update the value of the input
    }
</script>
@{
    var collateral = ViewData["collateral"] as ReturnEvaluatedCaseDto;
    var collateralFiles = ViewData["collateralFile"] as IEnumerable<ReturnFileDto>;
    var comment = ViewData["comments"] as Dictionary<string, string>;
    var constMngAgMachinery = ViewData["constMngAgMachinery"];
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8 col-xl-8">
                <h4 class="m-0">Construction and Machinery Equipment Valuated Checking Form </h4>
            </div>
            <div class="col-sm-4 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">My Case</li>
                    <li class="breadcrumb-item active">Detail</li>
                    <li class="breadcrumb-item active">Collateral evaluation</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <section class="col-xl-12 connectedSortable">
        <div class="card">
            <div class="card-body">
                <input id="TxtmovId" value="@Model.CollateralId" type="hidden" />
                <input id="TxtEquipmentId" value="@Model.Id" type="hidden" />
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <button type="submit"  class="btn btn-outline-success  mr-2 checkedButton">Checked <i class="fas fa-check"></i></button>
                                <button type="submit" class="btn btn-outline-danger mr-2 correctionButton">Send for Correction <i class="fas fa-reply-all"></i></button>
                                <button id="CheckAssesmentButton" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#CheckAssesmentModal">
                                    Evaluation Tool <i class="fas fa-toolbox"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-6">
                        <div class="form-group">
                            <label id="MechanicalEqpmntName">Mechanical Equipment Name</label>
                            <div class="input-group">
                                <input id="MechanicalEqpmntName" value=@Model.MechanicalEqpmntName type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["MechanicalEqpmntName"] != null && comment["MechanicalEqpmntName"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MechanicalEqpmntName" data-comment="@comment["MechanicalEqpmntName"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MechanicalEqpmntName"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MechanicalEqpmntName"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-6">
                        <div class="form-group">
                            <label id="constructionMiningAgriculturalMachineryType">Cons, Min & Agri Machinery Type</label>
                            <div class="input-group">
                                <input id="constructionMiningAgriculturalMachineryType" value=@Model.constructionMiningAgriculturalMachineryType type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["IndustrialBuildingMachineryType"] != null && comment["IndustrialBuildingMachineryType"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="IndustrialBuildingMachineryType" data-comment="@comment["IndustrialBuildingMachineryType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="IndustrialBuildingMachineryType"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="IndustrialBuildingMachineryType"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-6">
                        <div class="form-group">
                            <label id="lblEngineType">Engine/Motor Type</label>
                            <div class="input-group">
                                <input id="txtCollateralId" value="@Model.EngineType" type="text" class="form-control" readonly />
                                <span id="SpEngineType" class="text-danger"></span>
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["EngineType"] != null && comment["EngineType"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineType" data-comment="@comment["EngineType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineType"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineType"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-6">
                        <div class="form-group">
                            <label id="PowerSupply">Power Supply</label>
                            <div class="input-group">
                                <input id="PowerSupply" value="@Model.PowerSupply" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["PowerSupply"] != null && comment["PowerSupply"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PowerSupply" data-comment="@comment["PowerSupply"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PowerSupply"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PowerSupply"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lbNoOfCylinder">Number Of Cylinder</label>
                            <div class="input-group">
                                <input id="lbNoOfCylinder" value="@Model.NoOfCylinder" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["NoOfCylinder"] != null && comment["NoOfCylinder"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NoOfCylinder" data-comment="@comment["NoOfCylinder"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NoOfCylinder"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NoOfCylinder"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="TransmissionType">Transmission Type</label>
                            <div class="input-group">
                                <input id="txtTransmissionType" value="@Model.TransmissionType" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["TransmissionType"] != null && comment["TransmissionType"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TransmissionType" data-comment="@comment["TransmissionType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TransmissionType"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TransmissionType"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblLoadingCapacity">Ignition System</label>
                            <div class="input-group">
                                <input id="txtLoadingCapacity" value="@Model.IgnitionSystem" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["IgnitionSystem"] != null && comment["IgnitionSystem"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="IgnitionSystem" data-comment="@comment["IgnitionSystem"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="IgnitionSystem"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="IgnitionSystem"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblCoolingType">Cooling Type</label>
                            <div class="input-group">
                                <input id="txtCoolingType" value=@Model.CoolingType type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["CoolingType"] != null && comment["CoolingType"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CoolingType" data-comment="@comment["CoolingType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CoolingType"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CoolingType"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblEnginePower">Engine Power</label>
                            <div class="input-group">
                                <input id="txtEnginePower" value=@Model.EnginePower type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["EnginePower"] != null && comment["EnginePower"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EnginePower" data-comment="@comment["EnginePower"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EnginePower"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EnginePower"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblWorkingProductionCapacity">Working Production Capacity</label>
                            <div class="input-group">
                                <input id="txtWorkingProductionCapacity" value="@Model.WorkingProductionCapacity" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["WorkingProductionCapacity"] != null && comment["WorkingProductionCapacity"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="WorkingProductionCapacity" data-comment="@comment["WorkingProductionCapacity"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="WorkingProductionCapacity"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="WorkingProductionCapacity"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblTechnologyStandard">Technology Standard</label>
                            <div class="input-group">
                                <input id="txtTechnologyStandard" value="@Model.TechnologyStandard" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["TechnologyStandard"] != null && comment["TechnologyStandard"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TechnologyStandard" data-comment="@comment["TechnologyStandard"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TechnologyStandard"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TechnologyStandard"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblMakerPreferenceType">Maker Preference Type</label>
                            <div class="input-group">
                                <input id="txtMakerPreferenceType" value="@Model.MakerPreferenceType" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["MakerPreferenceType"] != null && comment["MakerPreferenceType"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerPreferenceType" data-comment="@comment["MakerPreferenceType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerPreferenceType"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerPreferenceType"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblCabinType">CabinType</label>
                            <div class="input-group">
                                <input id="txtCabinType" value="@Model.CabinType" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["CabinType"] != null && comment["CabinType"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CabinType" data-comment="@comment["CabinType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CabinType"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CabinType"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblNumberOfAxle">Number Of Axle</label>
                            <div class="input-group">
                                <input id="txtNumberOfAxle" value="@Model.NumberOfAxle" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["NumberOfAxle"] != null && comment["NumberOfAxle"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NumberOfAxle" data-comment="@comment["NumberOfAxle"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NumberOfAxle"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NumberOfAxle"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblColor">Color</label>
                            <div class="input-group">
                                <input id="lblColor" value="@Model.Color" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["Color"] != null && comment["Color"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Color" data-comment="@comment["Color"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Color"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Color"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblBodyType">Maker Company</label>
                            <div class="input-group">
                                <input id="txtBodyType" value="@Model.MakerCompany" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["MakerCompany"] != null && comment["MakerCompany"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerCompany" data-comment="@comment["MakerCompany"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerCompany"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerCompany"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label>Current Equipment Condition</label>
                            <div class="input-group">
                                <p class="form-control">@Model.CurrentEqpmntCondition</p>
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["CurrentEqpmntCondition"] != null && comment["CurrentEqpmntCondition"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CurrentEqpmntCondition" data-comment="@comment["CurrentEqpmntCondition"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CurrentEqpmntCondition"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CurrentEqpmntCondition"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label>Allocated Points Range</label>
                            <div class="input-group">
                                <p class="form-control">@Model.AllocatedPointsRange</p>
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["AllocatedPointsRange"] != null && comment["AllocatedPointsRange"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AllocatedPointsRange" data-comment="@comment["AllocatedPointsRange"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AllocatedPointsRange"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AllocatedPointsRange"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblModelNo">Model Number</label>
                            <div class="input-group">
                                <input id="lblModelNo" value="@Model.ModelNo" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["ModelNo"] != null && comment["ModelNo"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ModelNo" data-comment="@comment["ModelNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ModelNo"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ModelNo"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblEngineNo">Engine Number</label>
                            <div class="input-group">
                                <input id="txtEngineNo" type="text" value="@Model.EngineNo" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["EngineNo"] != null && comment["EngineNo"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineNo" data-comment="@comment["EngineNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineNo"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineNo"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="ChassisNo">ChassisNo</label>
                            <div class="input-group">
                                <input id="txtChassisNoo" type="text" value="@Model.ChassisNo" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["ChassisNo"] != null && comment["ChassisNo"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ChassisNo" data-comment="@comment["ChassisNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ChassisNo"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ChassisNo"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblSerialNo">Serial Number</label>
                            <div class="input-group">
                                <input id="txtSerialNo" type="text" value="@Model.SerialNo" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["SerialNo"] != null && comment["SerialNo"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="SerialNo" data-comment="@comment["SerialNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="SerialNo"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="SerialNo"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="PlateNo">Plate Number</label>
                            <div class="input-group">
                                <input id="txtPlateNo" type="text" value="@Model.PlateNo"  class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["PlateNo"] != null && comment["PlateNo"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PlateNo" data-comment="@comment["PlateNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PlateNo"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PlateNo"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="TDNo">TD No</label>
                            <div class="input-group">
                                <input id="txtTDNo" value="@Model.TDNo" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["TDNo"] != null && comment["TDNo"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TDNo" data-comment="@comment["TDNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TDNo"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TDNo"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblYearOfManufacture">Year of Manufacture</label>
                            <div class="input-group">
                                <input id="txtYearOfManufacture" value="@Model.YearOfManufacture" type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["YearOfManufacture"] != null && comment["YearOfManufacture"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="YearOfManufacture" data-comment="@comment["YearOfManufacture"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="YearOfManufacture"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="YearOfManufacture"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblRemark">Remark</label>
                            <div class="input-group">
                                <textarea id="txtCountryOfOrigin" value=@Model.Remark type="text" class="form-control" readonly>@Model.Remark</textarea>
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["Remark"] != null && comment["Remark"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Remark" data-comment="@comment["Remark"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Remark"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Remark"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblPhysicalAndInstallationAssesment">Physical and Installation Assessment</label>
                            <div class="input-group">
                                <textarea id="txtPhysicalAndInstallationAssesment" type="text" value="@Model.PhysicalAndInstallationAssesment" class="form-control" readonly>@Model.PhysicalAndInstallationAssesment</textarea>
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["PhysicalAndInstallationAssesment"] != null && comment["PhysicalAndInstallationAssesment"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PhysicalAndInstallationAssesment" data-comment="@comment["PhysicalAndInstallationAssesment"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PhysicalAndInstallationAssesment"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PhysicalAndInstallationAssesment"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-4">
                        <div class="form-group">
                            <label id="lblOverallSurveyAssesment">Overall Survey Assessment</label>
                            <div class="input-group">
                                <textarea id="txtaOverallSurveyAssesment" class="form-control" value="@Model.OverallSurveyAssesment" type="text" readonly>@Model.OverallSurveyAssesment</textarea>
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["OverallSurveyAssesment"] != null && comment["OverallSurveyAssesment"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="OverallSurveyAssesment" data-comment="@comment["OverallSurveyAssesment"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="OverallSurveyAssesment"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="OverallSurveyAssesment"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-3">
                        <div class="form-group">
                            <label id="lblCountryOfOrigin">Country of Origin</label>
                            <div class="input-group">
                                <input id="txtCountryOfOrigin" value=@Model.CountryOfOrigin type="text" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["CountryOfOrigin"] != null && comment["CountryOfOrigin"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CountryOfOrigin" data-comment="@comment["CountryOfOrigin"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CountryOfOrigin"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CountryOfOrigin"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-3">
                        <div class="form-group">
                            <label id="lblInvoiceValue">Invoice Value</label>
                            <div class="input-group">
                               <input id="txtInvoiceValue" type="text" class="form-control" value="@Model.InvoiceValue"  readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["InvoiceValue"] != null && comment["InvoiceValue"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="InvoiceValue" data-comment="@comment["InvoiceValue"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="InvoiceValue"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="InvoiceValue"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-3">
                        <div class="form-group">
                            <label id="lblCurrency">Currency</label>
                            <div class="input-group">
                                <input id="txtCurrency" list="currencyList" type="text" value="@Model.Currency" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["Currency"] != null && comment["Currency"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Currency" data-comment="@comment["Currency"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Currency"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Currency"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xl-3">
                        <div class="form-group">
                            <label id="lblExchangeRate">Exchange Rate</label>
                            <div class="input-group">
                                <input id="txtExchangeRate" type="number" value="@Model.ExchangeRate" class="form-control" readonly />
                                <div class="input-group-append">
                                    @{
                                        try
                                        {
                                            if (comment?["ExchangeRate"] != null && comment["ExchangeRate"] != "")
                                            {
                                                <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ExchangeRate" data-comment="@comment["ExchangeRate"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ExchangeRate"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        catch (Exception)
                                        {
                                            <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ExchangeRate"> <i class="fas fa-plus"></i> </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <h3 class="card-title">Assessment Information</h3>
                    </div>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Market Share Factor</label>
                                    <div class="input-group">
                                        <p class="form-control">@Model.MarketShareFactor</p>
                                        <div class="input-group-append">
                                            @{
                                                try
                                                {
                                                    if (comment?["MarketShareFactor"] != null && comment["MarketShareFactor"] != "")
                                                    {
                                                        <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MarketShareFactor" data-comment="@comment["MarketShareFactor"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MarketShareFactor"> <i class="fas fa-plus"></i> </button>
                                                    }
                                                }
                                                catch (Exception)
                                                {
                                                    <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MarketShareFactor"> <i class="fas fa-plus"></i> </button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Depreciation Rate</label>
                                    <div class="input-group">
                                        <p class="form-control">@Model.DepreciationRate</p>
                                        <div class="input-group-append">
                                            @{
                                                try
                                                {
                                                    if (comment?["DepreciationRate"] != null && comment["DepreciationRate"] != "")
                                                    {
                                                        <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="DepreciationRate" data-comment="@comment["DepreciationRate"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="DepreciationRate"> <i class="fas fa-plus"></i> </button>
                                                    }
                                                }
                                                catch (Exception)
                                                {
                                                    <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="DepreciationRate"> <i class="fas fa-plus"></i> </button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Equipment Condition Factor</label>
                                    <div class="input-group">
                                        <p class="form-control">@Model.EqpmntConditionFactor</p>
                                        <div class="input-group-append">
                                            @{
                                                try
                                                {
                                                    if (comment?["EqpmntConditionFactor"] != null && comment["EqpmntConditionFactor"] != "")
                                                    {
                                                        <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EqpmntConditionFactor" data-comment="@comment["EqpmntConditionFactor"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EqpmntConditionFactor"> <i class="fas fa-plus"></i> </button>
                                                    }
                                                }
                                                catch (Exception)
                                                {
                                                    <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EqpmntConditionFactor"> <i class="fas fa-plus"></i> </button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Replacement Cost</label>
                                    <div class="input-group">
                                        <input id="ReplacementCost" type="text" class="form-control" value="@Model.ReplacementCost" readonly />
                                        <div class="input-group-append">
                                            @{
                                                try
                                                {
                                                    if (comment?["ReplacementCost"] != null && comment["ReplacementCost"] != "")
                                                    {
                                                        <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ReplacementCost" data-comment="@comment["ReplacementCost"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ReplacementCost"> <i class="fas fa-plus"></i> </button>
                                                    }
                                                }
                                                catch (Exception)
                                                {
                                                    <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ReplacementCost"> <i class="fas fa-plus"></i> </button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Net Estimation Value</label>
                                    <div class="input-group">
                                        <input id="NetEstimationValue" type="text" class="form-control" value="@Model.NetEstimationValue" readonly />
                                        <div class="input-group-append">
                                            @{
                                                try
                                                {
                                                    if (comment?["NetEstimationValue"] != null && comment["NetEstimationValue"] != "")
                                                    {
                                                        <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NetEstimationValue" data-comment="@comment["NetEstimationValue"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NetEstimationValue"> <i class="fas fa-plus"></i> </button>
                                                    }
                                                }
                                                catch (Exception)
                                                {
                                                    <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NetEstimationValue"> <i class="fas fa-plus"></i> </button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Please Enter Your Additional Comments </label>
                                        <div class="input-group-append">
                                        @{
                                            try
                                            {
                                                if (comment?["AdditionalComment"] != null && comment["AdditionalComment"] != "")
                                                {
                                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AdditionalComment" data-comment="@comment["AdditionalComment"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AdditionalComment"> <i class="fas fa-plus"></i> </button>
                                                }
                                            }
                                            catch (Exception)
                                            {
                                                <button type="button" class="btn btn-outline-info show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AdditionalComment"> <i class="fas fa-plus"></i> </button>
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                          
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button type="submit"  class="btn btn-outline-success  mr-2 checkedButton">Checked <i class="fas fa-check"></i></button>
                                            <button type="submit" class="btn btn-outline-danger mr-2 correctionButton">Send for Correction <i class="fas fa-reply-all"></i></button>
                                            <button id="CheckAssesmentButton" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#CheckAssesmentModal"> Evaluation Tool <i class="fas fa-toolbox"></i> </button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@await Html.PartialAsync("CheckAssesment")


@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptPartial/_InduSriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
    }
}
<script>
        formatAndDisplayValue('ReplacementCost');
    formatAndDisplayValue('txtInvoiceValue');
    formatAndDisplayValue('NetEstimationValue');
    const CheckAssesmentButton = document.getElementById("CheckAssesmentButton");

    // const myCaseId = "myCase.Id";
    CheckAssesmentButton.addEventListener("click", function () {
        $('#CheckAssesmentModal').modal('show');
    });

    
</script>
<!--this is file Box modal code-->
<div class="modal fade" id="CollateralFileModal" tabindex="-1" role="dialog" aria-labelledby="addCollateralModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CollateralFileModalLabel">   <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon"> Collateral Related Document List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>File Catagory</th>
                        <th>File Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (collateralFiles != null)
                        {
                            foreach (var collateralFile in collateralFiles)
                            {
                                <tr>
                                    <td>@collateralFile.Name</td>
                                    <td>@collateralFile.Catagory</td>
                                    <td>@collateralFile.ContentType</td>
                                    <td><a href="@Url.Action("DownloadFile", "Collateral", new { id = collateralFile.Id })">Download</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- this is the updated comment box modal code-->
<div class="modal fade" id="CommentBoxModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Add Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea id="comment" class="form-control" rows="4" placeholder="Enter your comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save-comment">Save</button>
            </div>
        </div>
    </div>
</div>