@model mechanical.Models.Dto.ProductionCapacityDto.ProductionCapacityEstimationDto

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Type of Output</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.TypeOfOutput" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Phase of Output</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.PhaseOfOutput" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Production Line or Equipment Name</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.ProductionLineOrEquipmentName" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Country of Origin</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.CountryOfOrigin" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Shifts Per Day</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.ShiftsPerDay" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Working Days Per Month</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.WorkingDaysPerMonth" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Unit of Production</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.UnitOfProduction" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Production Per Hour</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.ProductionPerHour" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Effective Production Hour</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.EffectiveProductionHour" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Production Measurement</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.ProductionMeasurement" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Estimated Production Capacity</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.EstimatedProductionCapacity" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Bottleneck Production Line Capacity</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.BottleneckProductionLineCapacity" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Overall Actual Current Plant Capacity</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.OverallActualCurrentPlantCapacity" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Technical Obsolescence Status</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.TechnicalObsolescenceStatus" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Depreciation Rate Applied</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.DepreciationRateApplied" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Discrepancies</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.Discrepancies" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Design Production Capacity</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.DesignProductionCapacity" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Attainable Production Capacity</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.AttainableProductionCapacity" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Actual Production Capacity</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.ActualProductionCapacity" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Place of Inspection</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.PlaceOfInspection" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Inspection Date</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.InspectionDate?.ToString("yyyy-MM-dd")" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Factors Affecting Production Capacity</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.FactorsAffectingProductionCapacity" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Machine Functionality Status</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.MachineFunctionalityStatus" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Machine Functionality Reason</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.MachineFunctionalityReason" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Other Machine Functionality Reason</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.OtherMachineFunctionalityReason" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Survey Remark</label>
    <div class="col-sm-10">
        <input class="form-control-plaintext" readonly value="@Model.SurveyRemark" />
    </div>
</div>
