@model IEnumerable<mechanical.Models.Entities.ProductionCapacity.ManufacturingCapacity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturingSector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aerospace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BussinessLicence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingSector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aerospace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BussinessLicence)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
