@using mechanical.Models.Dto.ConstMngAgrMachineryDto;
@using mechanical.Models.PCE.Dto.PCEEvaluationDto
@using mechanical.Models.PCE.Dto.ProductionCapacityDto
@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ReturnProductionDto;
@{
    var Manufacturingavaluation = ViewData["Mavaluation"] as ReturnProductionDto;
    var Plantavaluation = ViewData["Pavaluation"] as PlantEditPostDto;
    var PCEValuationResult = ViewData["PcevalutionDto"] as PCEEvaluationReturnDto;
    
    var CurrentUserId = ViewData["CurrentUserId"] as Guid? ?? Guid.Empty;
    var currentStage = Model.CurrentStage;
}
<script>
    function formatNumber(number) {
        return number.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }

    function formatAndDisplayValue(elementId) {
        var element = document.getElementById(elementId);
        var value = parseFloat(element.textContent);
        var formattedValue = formatNumber(value);
        element.textContent = formattedValue;
    }
</script>
<section class="content">
    <section class="col-xl-12 connectedSortable">
        <div class="card">
            <div class="card-body">
                @{
                    if (Manufacturingavaluation != null)
                    {

                        <div class="row mb-2">
                            <div class="col-sm-12 col-xl-12">
                                <h4 class="m-0 text-center"> PCE valuation result</h4>
                            </div>
                        </div>


                        if (Manufacturingavaluation.ProductionType == "Manufacturing")
                        {
                            //dispaly Manufacturing General Information
                            <div class="row">
                                <div class="container col-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="text-center">General Information</h4>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Manufacturing Main Sector:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.Category</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Manufacturing sector:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.Type</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Machine Name:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.MachineName</div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Purpose:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.Purpose</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label> Manufacture Year:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.ManufactureYear</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Property Address:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.Region</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Model Number:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.ModelNo</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Production Type:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.ProductionType</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Bussiness Licence:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.ProductionBussinessLicence</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Installed Place:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Manufacturingavaluation.MachineryInstalledPlace</div>
                                            </div>
                                        </div>
                                        @if (Manufacturingavaluation.MachineryInstalledPlace == "Private Owned LHC")
                                        {
                                            <div class="row col-lg-4">
                                                <div class="col-lg-6">
                                                    <label>LHC Number::</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>@Manufacturingavaluation.LHCNumber</div>
                                                </div>
                                            </div>
                                            <div class="row col-lg-4">
                                                <div class="col-lg-6">
                                                    <label>Owner Name in the LHC:</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>@Manufacturingavaluation.OwnerName</div>
                                                </div>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="row col-lg-4">
                                                <div class="col-lg-6">
                                                    <label>Industrial Park:</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>@Manufacturingavaluation.Industrialpark</div>
                                                </div>
                                            </div>

                                        }

                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-12">
                                            <div class="col-lg-4">
                                                <label>Poduction Capcity Description:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div>@Manufacturingavaluation.ProductDescription</div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            //dispaly plant General Information
                            <div class="row">
                                <div class="container col-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="text-center">General Information</h4>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Type of Farming:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.PlantName</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Owner Of Machinery:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.OwnerOfMachinery</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Country Of Orgin:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.CountryOfOrgin</div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Place Of Inspection:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.PlaceOfInspection</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label> Date Of Inspection:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.DateOfInspection</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Property Address:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.Region</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Model Number:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.LHCNumber</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Production Type:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.ProductionType</div>
                                            </div>
                                        </div>
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Bussiness Licence:</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.TradeLicenseNumber</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-4">
                                            <div class="col-lg-6">
                                                <label>Obsolescence status :</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div>@Plantavaluation.ObsolescenceStatus</div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row" style="margin-top:1.25rem;">
                                        <div class="row col-lg-12">
                                            <div class="col-lg-4">
                                                <label>Date of Inspection:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div>@Plantavaluation.DateOfInspection</div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        }
                        //dispaly Coman evalution for both manufacturing and plant General Information
                        <div class="row">
                            <div class="container col-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="text-center">Valuation result</h4>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:1.25rem;">
                                    <div class="row col-lg-4">
                                        <div class="col-lg-6">
                                            <label>ProductionLine Or EquipmentName:</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <div>@PCEValuationResult.BottleneckProductionLineCapacity</div>
                                        </div>
                                    </div>
                                   
                                </div>
                                
                                <div class="row" style="margin-top:1.25rem;">
                                    <div class="row col-lg-12">
                                        <div class="col-lg-4">
                                            <label>Actual Production Capacity:</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>@PCEValuationResult.ActualProductionCapacity</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                      
                        
                        <div class="row col-12">
                            @{
                                if (PCEValuationResult.EvaluatorId == CurrentUserId && currentStage == "Maker Officer")
                                {
                                    @using (Html.BeginForm("SendCheking", "MOCase", FormMethod.Post))
                                    {
                                        <div class="row col-12">
                                            <div style="margin-top:1.25rem;" class="col-2">
                                                <input name="CollateralId" value=@Manufacturingavaluation.Id type="hidden" id="CollateralId" />

                                                <div class="row">
                                                    <button type="submit" class="col-xl-11  btn btn-sm  bg-purple">send for checker  <i class="fas fa-paper-plane"></i></button>

                                                </div>
                                            </div>
                                            <div style="margin-top:1.25rem;" class="col-2">
                                                <div class="row">
                                                    <a href="@Url.Action("Edit", "ProductionCapcity")?id=@Manufacturingavaluation.Id" class="col-xl-12  btn btn-sm  bg-purple">Edit  <i class="fas fa-pen"></i></a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div>
                            <h6 class="text-center">not evaluated yet </h6>
                        </div>
                    }

                }
               
            </div>
        </div>
    </section>
</section>
<script>
     formatAndDisplayValue('ReplacementCost');
     formatAndDisplayValue('InvoiceValue');
     formatAndDisplayValue('NetEstimationValue');
</script>