@using mechanical.Models.PCE.Entities
@using mechanical.Models.PCE.Enum.PCEEvaluation
@using mechanical.Models.PCE.Dto.PCEEvaluationDto
@using mechanical.Models.PCE.Dto.ProductionCapacityDto

@model PCEEvaluationPostDto
@{
    ViewData["Title"] = ViewBag.Title as string;
    var myProduction = ViewData["Production"] as ProductionReturnDto;
    var Reestimation = ViewData["Reestimation"] as ProductionReestimation;
    var ReturnPost = new ReturnedProductionPostDto
    {
        PCEId = myProduction.Id,
        Reason = ""
    };
    ViewData["ReturnPost"] = ReturnPost;
}

<section class="content-header" style="padding-top:5px;padding-bottom:0px;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4 offset-xl-8">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("PCECases", "PCECase")">PCE Cases</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Productions", "ProductionCapacity")">Productions</a></li>
                    <li class="breadcrumb-item active">Create Evaluation</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content-header" style="padding-top:0px;">
    <div class="container-fluid">
        @{
            if (Reestimation != null)
            {
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-info">Reason for Reestimation</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            @Reestimation.Reason
                        </div>
                    </div>
                </div>
            }
        }
        
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon">
                    Create PCE Evaluation Form
                </h3>
            </div>
            <div class="card-body">
                <div class="error-container">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>Error:</strong> @ViewBag.ErrorMessage
                        </div>
                    }

                    @* @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    } *@
                </div>
                <form method="post" enctype="multipart/form-data" asp-action="Create" id="evaluationForm">

                    @Html.AntiForgeryToken()
                    <input asp-for="PCEId" value=@myProduction.Id type="hidden" />

                    <div class="row">
                        @await Html.PartialAsync("Partial/_EvaluationCreateFormPartial", Model)
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-2">
                            <button type="button" id="return-btn" class="btn btn-block btn-danger" data-toggle="modal" data-target="#returnModal1">
                                <i class="fas fa-undo mr-2"></i> Return
                            </button>
                        </div>
                        <div class="col-xl-2">
                            <button type="submit" class="btn btn-block btn-primary">
                                <i class="fas fa-save mr-2"></i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_PCEScriptPartial");
        await Html.RenderPartialAsync("Partial/_ProductionLineScriptPartial");
        await Html.RenderPartialAsync("PCEScriptPartial/_ReturnModal", ViewData["ReturnPost"]);
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_CommonLibrariesScriptPartial");
    }
}