@using mechanical.Models.PCE.Enum.PCEEvaluation
@using mechanical.Models.PCE.Dto.PCEEvaluationDto
@using mechanical.Models.PCE.Dto.ProductionCapacityDto

@model mechanical.Models.PCE.Dto.PCEEvaluationDto.PCEEvaluationPostDto

@{
    ViewData["Title"] = ViewBag.Title ?? "PCE Case";
    var myPCE = ViewData["PCE"] as ReturnProductionDto;
    var RejectPost = new PCERejectPostDto {
            PCEId = myPCE.Id, 
            RejectionComment = "" 
    }; 
    ViewData["RejectPost"] = RejectPost; 
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6 offset-xl-1">
                <h4 class="m-0">PCE Evaluation</h4>
            </div>
            <div class="col-sm-6 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">My PCE Case</li>
                    <li class="breadcrumb-item active">Detail</li>
                    <li class="breadcrumb-item active">Evaluation</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <section class="col-xl-10 offset-xl-1 connectedSortable">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon">
                    PCE Evaluation Form
                </h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="Create" id="form">
  
                    @Html.AntiForgeryToken()
                    @Html.Partial("Partial/_DataLists")

                    <input asp-for="PCEId" value=@myPCE.Id type="hidden" /> 

                    <!-- General Information -->
                    <div class="row mt-3">
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.ProductionLineOrEquipmentName) <i class="text-danger">*</i></label>
                            <input asp-for="ProductionLineOrEquipmentName" class="form-control form-control-sm" required />
                            <span asp-validation-for="ProductionLineOrEquipmentName" class="text-danger" id="ProductionLineOrEquipmentName-error"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.OriginCountry) <i class="text-danger">*</i></label>                           
                            <input asp-for="OriginCountry" type="text" class="form-control form-control-sm" placeholder="Select Country of Origin" list="country" required>
                            <span asp-validation-for="OriginCountry" class="text-danger" id="OriginCountry-error"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.OutputPhase) <i class="text-danger">*</i></label>
                            <select asp-for="OutputPhase" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<OutputPhase>()" >
                                <option value="" disabled selected>Select Phase of Output</option>
                            </select>
                            <span asp-validation-for="OutputPhase" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.WorkingDaysPerMonth) <i class="text-danger">*</i></label>
                            <input asp-for="WorkingDaysPerMonth" class="form-control form-control-sm" type="number" min="1" />
                            <span asp-validation-for="WorkingDaysPerMonth" class="text-danger"></span>
                        </div>  
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.EffectiveProductionHour) <i class="text-danger">*</i></label>
                            <input asp-for="EffectiveProductionHour" class="form-control form-control-sm" type="number" step="0.01" />
                            <span asp-validation-for="EffectiveProductionHour" class="text-danger"></span>
                        </div> 
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.EffectiveProductionHourType) <i class="text-danger">*</i></label>
                            <select asp-for="EffectiveProductionHourType" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ProductionHourType>()" >
                                <option value="" disabled selected>Select Hour Type</option>
                            </select>
                            <span asp-validation-for="EffectiveProductionHourType" class="text-danger"></span>
                        </div>              
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.ShiftsPerDay) <i class="text-danger">*</i></label>
                            <input asp-for="ShiftsPerDay" id="ShiftsPerDay" class="form-control form-control-sm" type="number" min="1" max="5" />
                            <span asp-validation-for="ShiftsPerDay" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-8" id="shiftHoursContainer"></div>
                    </div>

                    <!-- Capacity Information -->
                    <div class="row mt-3">
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.DesignProductionCapacity) <i class="text-danger">*</i></label>
                            <input asp-for="DesignProductionCapacity" class="form-control form-control-sm" />
                            <span asp-validation-for="DesignProductionCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.AttainableProductionCapacity) <i class="text-danger">*</i></label>
                            <input asp-for="AttainableProductionCapacity" class="form-control form-control-sm" />
                            <span asp-validation-for="AttainableProductionCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.ActualProductionCapacity) <i class="text-danger">*</i></label>
                            <input asp-for="ActualProductionCapacity" class="form-control form-control-sm" />
                            <span asp-validation-for="ActualProductionCapacity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.EstimatedProductionCapacity)</label>
                            <input asp-for="EstimatedProductionCapacity" class="form-control form-control-sm" />
                            <span asp-validation-for="EstimatedProductionCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.BottleneckProductionLineCapacity)</label>
                            <input asp-for="BottleneckProductionLineCapacity" class="form-control form-control-sm" />
                            <span asp-validation-for="BottleneckProductionLineCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.OverallActualCurrentPlantCapacity)</label>
                            <input asp-for="OverallActualCurrentPlantCapacity" class="form-control form-control-sm" />
                            <span asp-validation-for="OverallActualCurrentPlantCapacity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.ProductionUnit) <i class="text-danger">*</i></label>
                            <select asp-for="ProductionUnit" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ProductionUnit>()">
                                <option value="" disabled selected>Select Unit of Production</option>
                            </select>
                            <span asp-validation-for="ProductionUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.ProductionMeasurement)</label>
                            <select asp-for="ProductionMeasurement" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ProductionMeasurement>()">
                                <option value="" disabled selected>Select Production Measurement</option>
                            </select>
                            <span asp-validation-for="ProductionMeasurement" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.DepreciationRateApplied)</label>
                            <input asp-for="DepreciationRateApplied" class="form-control form-control-sm" type="number" step="0.01" />
                            <span asp-validation-for="DepreciationRateApplied" class="text-danger"></span>
                        </div>                        
                        @* <div class="form-group col-xl-3">
                            <label asp-for="Currency">Currency</label>
                            <input asp-for="Currency" list="currencyList" type="text" class="form-control" placeholder="Select Currency" required>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div> *@
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>@Html.DisplayNameFor(model => model.FactorsAffectingProductionCapacity)</label>
                            <textarea asp-for="FactorsAffectingProductionCapacity" class="form-control form-control-sm"></textarea>
                            <span asp-validation-for="FactorsAffectingProductionCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>@Html.DisplayNameFor(model => model.Discrepancies)</label>
                            <textarea asp-for="Discrepancies" class="form-control form-control-sm"></textarea>
                            <span asp-validation-for="Discrepancies" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Inspection Information -->
                    <div class="row mt-3">
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.MachineFunctionalityStatus) <i class="text-danger">*</i></label>
                            <select asp-for="MachineFunctionalityStatus" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<MachineFunctionalityStatus>()">
                                <option value="" disabled selected>Select Functionality of Machine</option>
                            </select>
                            <span asp-validation-for="MachineFunctionalityStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4" id="functionalityReasonRow" style="display: none;">
                            <label>@Html.DisplayNameFor(model => model.MachineNonFunctionalityReason) <i class="text-danger">*</i></label>
                            <select asp-for="MachineNonFunctionalityReason" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<MachineNonFunctionalityReason>()">
                                <option value="" disabled selected>Select Reason of Unfunctionality </option>
                            </select>
                            <span asp-validation-for="MachineNonFunctionalityReason" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4" id="otherReasonRow" style="display: none;">
                            <label>@Html.DisplayNameFor(model => model.OtherMachineNonFunctionalityReason) <i class="text-danger">*</i></label>
                            <textarea asp-for="OtherMachineNonFunctionalityReason" class="form-control form-control-sm"></textarea>
                            <span asp-validation-for="OtherMachineNonFunctionalityReason" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group col-lg-4">
                            <label>@Html.DisplayNameFor(model => model.TechnicalObsolescenceStatus)</label>
                            <input asp-for="TechnicalObsolescenceStatus" class="form-control form-control-sm" />
                            <span asp-validation-for="TechnicalObsolescenceStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Checkingg Started At</label>
                            <input asp-for="TimeConsumedToCheck.Start" class="form-control form-control-sm" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                            <span asp-validation-for="TimeConsumedToCheck.Start" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Checking Ended At</label>
                            <input asp-for="TimeConsumedToCheck.End" class="form-control form-control-sm" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                            <span asp-validation-for="TimeConsumedToCheck.End" class="text-danger"></span>
                        </div>
                    </div>  
                    <div class="row mt-3">
                        <div class="form-group col-lg-6">
                            <label>@Html.DisplayNameFor(model => model.SupportingEvidences) <i class="text-danger">*</i></label>
                            <input asp-for="SupportingEvidences" type="file" class="form-control form-control-sm" multiple />
                            <span asp-validation-for="SupportingEvidences" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>@Html.DisplayNameFor(model => model.ProductionProcessFlowDiagrams) <i class="text-danger">*</i></label>
                            <input asp-for="ProductionProcessFlowDiagrams" type="file" class="form-control form-control-sm" multiple />
                            <span asp-validation-for="ProductionProcessFlowDiagrams" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <!-- Additional Information -->
                    <div class="row mt-3">
                        <div class="form-group col-lg-12">
                            <label>@Html.DisplayNameFor(model => model.SurveyRemark)</label>
                            <textarea asp-for="SurveyRemark" class="form-control form-control-sm"></textarea>
                            <span asp-validation-for="SurveyRemark" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group col-lg-6">
                            <label>@Html.DisplayNameFor(model => model.InspectionPlace)</label>
                            <input asp-for="InspectionPlace" class="form-control form-control-sm" />
                            <span asp-validation-for="InspectionPlace" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3"></div>
                        <div class="form-group col-lg-3">
                            <label>@Html.DisplayNameFor(model => model.InspectionDate)</label>
                            <input asp-for="InspectionDate" class="form-control form-control-sm" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="InspectionDate" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <!-- Form Buttons -->                   
                   <div class="row mt-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-md btn-primary">
                                    <i class="fas fa-save mr-2"></i> Save
                                </button>
                                <button type="button" id="reject-btn" class="btn btn-md btn-danger" data-toggle="modal" data-target="#rejectionModal1">
                                    <i class="fas fa-undo mr-2"></i> Return
                                </button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </form>
            </div>
        </div>
    </section>
</section>


@section Scripts {
    <script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/jszip.min.js"></script>
    <script src="~/lib/datatable/js/pdfmake.min.js"></script>
    <script src="~/lib/datatable/js/vfs_fonts.js"></script>
    <script src="~/lib/datatable/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatable/js/buttons.print.min.js"></script>
    <script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

    @{
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
        await Html.RenderPartialAsync("Partial/_RejectModal", ViewData["RejectPost"]);
    } 

    <script>
         $(document).ready(function () {
            $("#ShiftsPerDay").change(function () {
                var shiftsPerDay = $(this).val();
                var shiftHoursContainer = $("#shiftHoursContainer");

                shiftHoursContainer.empty();

                if (shiftsPerDay >= 1 && shiftsPerDay <= 5) {
                    for (var i = 0; i < shiftsPerDay; i++) {
                        shiftHoursContainer.append(`
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Shift ${i + 1} Starts At </label>
                                    <input name="ShiftHours[${i}].Start" class="form-control form-control-sm" type="time" value="@DateTime.Now.ToString("HH:mm:ss")" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Shift ${i + 1} Ends At</label>
                                    <input name="ShiftHours[${i}].End" class="form-control form-control-sm" type="time" value="@DateTime.Now.ToString("HH:mm:ss")" />
                                </div>
                            </div>
                        `);
                    }
                } else {
                    alert("Please enter a value between 1 and 5 (inclusive) for Shifts Per Day.");
                }
            });

            $("#ShiftsPerDay").attr({
                "min": 1,
                "max": 5
            });

            $("#MachineFunctionalityStatus").change(function () {
                var selectedStatus = $(this).val();
                if (selectedStatus === '@((int)MachineFunctionalityStatus.NotFunctional)') {
                    $("#functionalityReasonRow").show();
                } else {
                    $("#functionalityReasonRow").hide();
                    $("#otherReasonRow").hide();
                }
            });

            $("#MachineNonFunctionalityReason").change(function () {
                var selectedReason = $(this).val();
                if (selectedReason === '@((int)MachineNonFunctionalityReason.Other)') {
                    $("#otherReasonRow").show();
                } else {
                    $("#otherReasonRow").hide();
                }
            });

            $("#Status").change(function () {
                var selectedStatus = $(this).val();
                if (selectedStatus === '@((int)Status.Rejected)') {
                    $("#ReasonRow").show();
                } else {
                    $("#ReasonRow").hide();
                }
            });

            // Add alphanumeric validation
            function addAlphanumericValidation(elementId, errorElementId) {
                document.getElementById(elementId).addEventListener("input", function () {
                    var input = this.value;
                    var alphanumericRegex = /^[A-Za-z0-9]+$/;
                    if (!alphanumericRegex.test(input)) {
                        this.setCustomValidity("Only alphanumeric characters are allowed.");
                        document.getElementById(errorElementId).textContent = "Only alphanumeric characters are allowed.";
                    } else {
                        this.setCustomValidity("");
                        document.getElementById(errorElementId).textContent = "";
                    }
                });
            }

            // Applying alphanumeric validation to various input fields
            // addAlphanumericValidation("ProductionLineOrEquipmentName", "ProductionLineOrEquipmentName-error");
            // addAlphanumericValidation("OriginCountry", "OriginCountry-error");
            // addAlphanumericValidation("OutputType", "OutputType-error");

            // Function for handling dropdown value changes
            function handleDropdownChange(selectElement, otherInputId) {
                var otherInput = document.getElementById(otherInputId);
                if (selectElement.value === "Other") {
                    otherInput.style.display = "block";
                    otherInput.setAttribute("required", "required");
                } else {
                    otherInput.style.display = "none";
                    otherInput.removeAttribute("required");
                }
            }

            document.getElementById("OutputPhase").addEventListener("change", function () {
                handleDropdownChange(this, "OtherOutputPhase");
            });
        });
   
    </script>
}





@* @model mechanical.Models.Dto.PCEDto.PCEDto
@using mechanical.Models.Enum.CollateralAndPCEEnums.PCE

@section Scripts {
    <script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/jszip.min.js"></script>
    <script src="~/lib/datatable/js/pdfmake.min.js"></script>
    <script src="~/lib/datatable/js/vfs_fonts.js"></script>
    <script src="~/lib/datatable/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatable/js/buttons.print.min.js"></script>
    <script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    @{await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#ShiftsPerDay").change(function () {
                var shiftsPerDay = $(this).val();
                var shiftHoursContainer = $("#shiftHoursContainer");

                shiftHoursContainer.empty();

                if (shiftsPerDay >= 1 && shiftsPerDay <= 5) {
                    for (var i = 0; i < shiftsPerDay; i++) {
                        shiftHoursContainer.append(`
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Shift ${i + 1} @Html.DisplayNameFor(model => model.ShiftHours[0].Start)</label>
                                    <input name="ShiftHours[${i}].Start" class="form-control form-control-sm" type="time" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Shift ${i + 1} @Html.DisplayNameFor(model => model.ShiftHours[0].End)</label>
                                    <input name="ShiftHours[${i}].End" class="form-control form-control-sm" type="time" />
                                </div>
                            </div>
                        `);
                    }
                } else {
                    alert("Please enter a value between 1 and 5 for Shifts Per Day.");
                }
            });

            $("#ShiftsPerDay").attr({
                "min": 1,
                "max": 5
            });

            $("#MachineFunctionalityStatus").change(function () {
                var selectedStatus = $(this).val();
                if (selectedStatus === '@((int)MachineFunctionalityStatus.NotFunctional)') {
                    $("#functionalityReasonRow").show();
                } else {
                    $("#functionalityReasonRow").hide();
                    $("#otherReasonRow").hide();
                }
            });

            $("#MachineNonFunctionalityReason").change(function () {
                var selectedReason = $(this).val();
                if (selectedReason === '@((int)MachineNonFunctionalityReason.Other)') {
                    $("#otherReasonRow").show();
                } else {
                    $("#otherReasonRow").hide();
                }
            });

            $("#Status").change(function () {
                var selectedStatus = $(this).val();
                if (selectedStatus === '@((int)Status.Rejected)') {
                    $("#ReasonRow").show();
                } else {
                    $("#ReasonRow").hide();
                }
            });

            $("button[data-toggle='tab']").on("click", function (e) {
                var targetTab = $(this).attr("href");
                $('.nav-tabs a[href="' + targetTab + '"]').tab('show');
            });
        });
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6 offset-xl-1">
                <h4 class="m-0">Create PCE Evaluation</h4>
            </div>
            <div class="col-sm-6 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Create PCE Evaluation</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <section class="col-xl-10 offset-xl-1 connectedSortable">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon">
                    PCE Evaluation
                </h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="Create">
                    @Html.AntiForgeryToken()

                    <!-- Tabs Navigation -->
                    <ul class="nav nav-tabs" id="estimationTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-info-tab" data-toggle="tab" href="#general-info" role="tab" aria-controls="general-info" aria-selected="true">General Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="capacity-info-tab" data-toggle="tab" href="#capacity-info" role="tab" aria-controls="capacity-info" aria-selected="false">Capacity Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="inspection-info-tab" data-toggle="tab" href="#inspection-info" role="tab" aria-controls="inspection-info" aria-selected="false">Inspection Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="additional-info-tab" data-toggle="tab" href="#additional-info" role="tab" aria-controls="additional-info" aria-selected="false">Additional Information</a>
                        </li>
                    </ul>

                    <!-- Tab Contents -->
                    <div class="tab-content" id="estimationTabsContent">
                        <!-- General Information Tab -->
                        <div class="tab-pane fade show active" id="general-info" role="tabpanel" aria-labelledby="general-info-tab">
                            <div class="row mt-3">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.ProductionLineOrEquipmentName) <i class="text-danger">*</i></label>
                                    <input asp-for="ProductionLineOrEquipmentName" class="form-control form-control-sm" required />
                                    <span asp-validation-for="ProductionLineOrEquipmentName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.OriginCountry) <i class="text-danger">*</i></label>
                                    <input asp-for="OriginCountry" class="form-control form-control-sm" required />
                                    <span asp-validation-for="OriginCountry" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.OutputType) <i class="text-danger">*</i></label>
                                    <input asp-for="OutputType" class="form-control form-control-sm" required />
                                    <span asp-validation-for="OutputType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.OutputPhase) <i class="text-danger">*</i></label>
                                    <select asp-for="OutputPhase" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<OutputPhase>()" required></select>
                                    <span asp-validation-for="OutputPhase" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.EffectiveProductionHour) <i class="text-danger">*</i></label>
                                    <input asp-for="EffectiveProductionHour" class="form-control form-control-sm" type="number" step="0.01" required />
                                    <span asp-validation-for="EffectiveProductionHour" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.EffectiveProductionHourType) <i class="text-danger">*</i></label>
                                    <select asp-for="EffectiveProductionHourType" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ProductionHourType>()" required></select>
                                    <span asp-validation-for="EffectiveProductionHourType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.WorkingDaysPerMonth) <i class="text-danger">*</i></label>
                                    <input asp-for="WorkingDaysPerMonth" class="form-control form-control-sm" type="number" min="1" required />
                                    <span asp-validation-for="WorkingDaysPerMonth" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>@Html.DisplayNameFor(model => model.ShiftsPerDay) <i class="text-danger">*</i></label>
                                    <input asp-for="ShiftsPerDay" id="ShiftsPerDay" class="form-control form-control-sm" type="number" min="1" max="5" required />
                                    <span asp-validation-for="ShiftsPerDay" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-5" id="shiftHoursContainer"></div>
                            </div>
                            <div class="row mt-3">                                
                                <div class="col-xl-11"></div>
                                <button type="button" class="col-xl-1 btn btn-primary" data-toggle="tab" href="#capacity-info">Next</button>
                            </div>
                        </div>

                        <!-- Capacity Information Tab -->
                        <div class="tab-pane fade" id="capacity-info" role="tabpanel" aria-labelledby="capacity-info-tab">
                            <div class="row mt-3">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.DesignProductionCapacity) <i class="text-danger">*</i></label>
                                    <input asp-for="DesignProductionCapacity" class="form-control form-control-sm" type="number" step="0.01" required />
                                    <span asp-validation-for="DesignProductionCapacity" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.AttainableProductionCapacity) <i class="text-danger">*</i></label>
                                    <input asp-for="AttainableProductionCapacity" class="form-control form-control-sm" type="number" step="0.01" required />
                                    <span asp-validation-for="AttainableProductionCapacity" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.ActualProductionCapacity) <i class="text-danger">*</i></label>
                                    <input asp-for="ActualProductionCapacity" class="form-control form-control-sm" type="number" step="0.01" required />
                                    <span asp-validation-for="ActualProductionCapacity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.EstimatedProductionCapacity)</label>
                                    <input asp-for="EstimatedProductionCapacity" class="form-control form-control-sm" type="number" step="0.01" />
                                    <span asp-validation-for="EstimatedProductionCapacity" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.BottleneckProductionLineCapacity)</label>
                                    <input asp-for="BottleneckProductionLineCapacity" class="form-control form-control-sm" type="number" />
                                    <span asp-validation-for="BottleneckProductionLineCapacity" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.OverallActualCurrentPlantCapacity)</label>
                                    <input asp-for="OverallActualCurrentPlantCapacity" class="form-control form-control-sm" type="number" />
                                    <span asp-validation-for="OverallActualCurrentPlantCapacity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.ProductionUnit) <i class="text-danger">*</i></label>
                                    <select asp-for="ProductionUnit" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ProductionUnit>()" required></select>
                                    <span asp-validation-for="ProductionUnit" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.ProductionMeasurement)</label>
                                    <select asp-for="ProductionMeasurement" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ProductionMeasurement>()"></select>
                                    <span asp-validation-for="ProductionMeasurement" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.DepreciationRateApplied)</label>
                                    <input asp-for="DepreciationRateApplied" class="form-control form-control-sm" type="number" step="0.01" />
                                    <span asp-validation-for="DepreciationRateApplied" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>@Html.DisplayNameFor(model => model.FactorsAffectingProductionCapacity)</label>
                                    <textarea asp-for="FactorsAffectingProductionCapacity" class="form-control form-control-sm"></textarea>
                                    <span asp-validation-for="FactorsAffectingProductionCapacity" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>@Html.DisplayNameFor(model => model.Discrepancies)</label>
                                    <textarea asp-for="Discrepancies" class="form-control form-control-sm"></textarea>
                                    <span asp-validation-for="Discrepancies" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <button type="button" class="col-xl-1 btn btn-secondary" data-toggle="tab" href="#general-info">Back</button>
                                <div class="col-xl-10"></div>
                                <button type="button" class="col-xl-1 btn btn-primary" data-toggle="tab" href="#inspection-info">Next</button>
                            </div>
                        </div>

                        <!-- Inspection Information Tab -->
                        <div class="tab-pane fade" id="inspection-info" role="tabpanel" aria-labelledby="inspection-info-tab">
                            <div class="row mt-3">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.MachineFunctionalityStatus) <i class="text-danger">*</i></label>
                                    <select asp-for="MachineFunctionalityStatus" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<MachineFunctionalityStatus>()" required></select>
                                    <span asp-validation-for="MachineFunctionalityStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4" id="functionalityReasonRow" style="display: none;">
                                    <label>@Html.DisplayNameFor(model => model.MachineNonFunctionalityReason) <i class="text-danger">*</i></label>
                                    <select asp-for="MachineNonFunctionalityReason" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<MachineNonFunctionalityReason>()" required></select>
                                    <span asp-validation-for="MachineNonFunctionalityReason" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4" id="otherReasonRow" style="display: none;">
                                    <label>@Html.DisplayNameFor(model => model.OtherMachineNonFunctionalityReason) <i class="text-danger">*</i></label>
                                    <input asp-for="OtherMachineNonFunctionalityReason" class="form-control form-control-sm" required />
                                    <span asp-validation-for="OtherMachineNonFunctionalityReason" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="form-group col-lg-4">
                                    <label>@Html.DisplayNameFor(model => model.TechnicalObsolescenceStatus)</label>
                                    <select asp-for="TechnicalObsolescenceStatus" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<TechnicalObsolescenceStatus>()"></select>
                                    <span asp-validation-for="TechnicalObsolescenceStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Inspection Started At</label>
                                    <input asp-for="TimeConsumedToCheck.Start" class="form-control form-control-sm" type="datetime-local" />
                                    <span asp-validation-for="TimeConsumedToCheck.Start" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Inspection Ended At</label>
                                    <input asp-for="TimeConsumedToCheck.End" class="form-control form-control-sm" type="datetime-local" />
                                    <span asp-validation-for="TimeConsumedToCheck.End" class="text-danger"></span>
                                </div>
                            </div>   
                            <div class="row mt-3">
                                <div class="form-group col-lg-6">
                                    <label>@Html.DisplayNameFor(model => model.SupportingEvidences) <i class="text-danger">*</i></label>
                                    <input asp-for="SupportingEvidences" type="file" class="form-control form-control-sm" multiple required />
                                    <span asp-validation-for="SupportingEvidences" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>@Html.DisplayNameFor(model => model.ProductionProcessFlowDiagrams) <i class="text-danger">*</i></label>
                                    <input asp-for="ProductionProcessFlowDiagrams" type="file" class="form-control form-control-sm" multiple required />
                                    <span asp-validation-for="ProductionProcessFlowDiagrams" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <button type="button" class="col-xl-1 btn btn-secondary" data-toggle="tab" href="#capacity-info">Back</button>
                                <div class="col-xl-10"></div>
                                <button type="button" class="col-xl-1 btn btn-primary" data-toggle="tab" href="#additional-info">Next</button>
                            </div>
                            
                        </div>

                        <!-- Additional Information Tab -->
                        <div class="tab-pane fade" id="additional-info" role="tabpanel" aria-labelledby="additional-info-tab">
                            
                            <div class="row mt-3">
                                <div class="form-group col-lg-12">
                                    <label>@Html.DisplayNameFor(model => model.SurveyRemark)</label>
                                    <textarea asp-for="SurveyRemark" class="form-control form-control-sm"></textarea>
                                    <span asp-validation-for="SurveyRemark" class="text-danger"></span>
                                </div>
                            </div>    
                            <div class="row mt-3">
                                <div class="form-group col-lg-2">
                                    <label>@Html.DisplayNameFor(model => model.Status)</label>
                                    <select asp-for="Status" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<Status>()"></select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-4"></div>
                                <div class="form-group col-lg-3">
                                    <label>@Html.DisplayNameFor(model => model.InspectionPlace)</label>
                                    <input asp-for="InspectionPlace" class="form-control form-control-sm" />
                                    <span asp-validation-for="InspectionPlace" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>@Html.DisplayNameFor(model => model.InspectionDate)</label>
                                    <input asp-for="InspectionDate" class="form-control form-control-sm" type="date" />
                                    <span asp-validation-for="InspectionDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12" id="ReasonRow" style="display: none;">
                                    <label>@Html.DisplayNameFor(model => model.RejectReason)</label>
                                    <textarea asp-for="RejectReason" class="form-control form-control-sm"></textarea>
                                    <span asp-validation-for="RejectReason" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <button type="button" class="col-xl-1 btn btn-secondary" data-toggle="tab" href="#inspection-info">Back</button>
                                <div class="col-xl-4"></div>
                                <a asp-action="Index" class="col-xl-2 btn btn-secondary">Back to List</a>
                                <div class="col-xl-4"></div>
                                <button type="submit" class="col-xl-1 btn bg-purple">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section> *@
