@model mechanical.Models.PCE.Dto.PCEEvaluationDto.PCEEvaluationReturnDto

@{
    ViewData["Title"] = "Delete PCE Evaluation";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6 offset-xl-1">
                <h4 class="m-0">Delete PCE Evaluation</h4>
            </div>
            <div class="col-sm-6 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Index", "PCE")">PCE Evaluations</a></li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <section class="col-xl-10 offset-xl-1 connectedSortable">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h3 class="card-title">
                    Are you sure you want to delete this evaluation?
                </h3>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />

                    <!-- Display fields in read-only mode with formatted data columns -->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ProductionLineOrEquipmentName)</th>
                                    <td>@Html.DisplayFor(model => model.ProductionLineOrEquipmentName)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.OriginCountry)</th>
                                    <td>@Html.DisplayFor(model => model.OriginCountry)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.EffectiveProductionHourType)</th>
                                    <td>@Html.DisplayFor(model => model.EffectiveProductionHourType)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.EffectiveProductionHour)</th>
                                    <td>@Html.DisplayFor(model => model.EffectiveProductionHour)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ProductionUnit)</th>
                                    <td>@Html.DisplayFor(model => model.ProductionUnit)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.DesignProductionCapacity)</th>
                                    <td>@Html.DisplayFor(model => model.DesignProductionCapacity)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.AttainableProductionCapacity)</th>
                                    <td>@Html.DisplayFor(model => model.AttainableProductionCapacity)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ActualProductionCapacity)</th>
                                    <td>@Html.DisplayFor(model => model.ActualProductionCapacity)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.InspectionPlace)</th>
                                    <td>@Html.DisplayFor(model => model.InspectionPlace)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
                            <a asp-action="Index" class="btn btn-secondary btn-block w-100"> <i class="fas fa-times mr-2"></i> Cancel</a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
                            <button type="submit" class="btn bg-danger text-white w-100">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");    
        await Html.RenderPartialAsync("ScriptPartial/_CommonLibrariesScriptPartial");
    }
}