@model mechanical.Models.PCE.Dto.PCEEvaluationDto.PCEEvaluationReturnDto

@{
    ViewData["Title"] = "PCE Evaluation Detail";
    @* var Model =  ViewData["PCE"]; *@
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6 offset-xl-1">
                <h4 class="m-0">PCE Evaluation Details</h4>
            </div>
            <div class="col-sm-6 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">My Case</li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "PCE")">PCE Evaluations</a></li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-purple card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"><i class="nav-icon fas fa-home"></i> General Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><i class="nav-icon fas fa-file"></i> Production Capacity Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false"><i class="nav-icon fas fa-file-alt"></i> Additional Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false"><i class="nav-icon fas fa-search-alt"></i> Inspection Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false"><i class="nav-icon fas fa-document-alt"></i> Supporting Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">
                            <i class="fas fa-comments"> </i> Comments <span class="badge badge-warning right CommentBage"> </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                

                <div class="row">
                    <!-- General Information -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">General Information</h3>
                            </div>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.ProductionLineOrEquipmentName)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.ProductionLineOrEquipmentName)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.OutputPhase)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.OutputPhase)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.OriginCountry)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.OriginCountry)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.WorkingDaysPerMonth)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.WorkingDaysPerMonth)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.ShiftsPerDay)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.ShiftsPerDay)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.EffectiveProductionHourType)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.EffectiveProductionHourType)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.EffectiveProductionHour)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.EffectiveProductionHour)</strong></h6></dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <!-- Capacity Information -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Capacity Information</h3>
                            </div>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.DesignProductionCapacity)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.DesignProductionCapacity)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.AttainableProductionCapacity)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.AttainableProductionCapacity)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.ActualProductionCapacity)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.ActualProductionCapacity)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.EstimatedProductionCapacity)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.EstimatedProductionCapacity)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.BottleneckProductionLineCapacity)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.BottleneckProductionLineCapacity)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.OverallActualCurrentPlantCapacity)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.OverallActualCurrentPlantCapacity)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.ProductionUnit)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.ProductionUnit)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.ProductionMeasurement)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.ProductionMeasurement)</strong></h6></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Additional Information -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Additional Information</h3>
                            </div>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.TechnicalObsolescenceStatus)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.TechnicalObsolescenceStatus)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.DepreciationRateApplied)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.DepreciationRateApplied)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.FactorsAffectingProductionCapacity)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.FactorsAffectingProductionCapacity)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Discrepancies)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.Discrepancies)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.MachineFunctionalityStatus)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.MachineFunctionalityStatus)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.MachineFunctionalityReason)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.MachineFunctionalityReason)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.OtherMachineFunctionalityReason)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.OtherMachineFunctionalityReason)</strong></h6></dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <!-- Inspection Information -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Inspection Information</h3>
                            </div>
                            <div class="card-body">
                                <dl class="row">

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Status)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.Status)</strong></h6></dd>

                                    @* <dt class="col-sm-6">@Html.DisplayNameFor(model => model.RejectionReason)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.RejectionReason)</strong></h6></dd> *@
                                    
                                    <dt class="col-sm-6">Inspection Started At</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.TimeConsumedToCheck.Start, new { @class = "datetime-format" })</strong></h6></dd>

                                    <dt class="col-sm-6">Inspection Ended At</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.TimeConsumedToCheck.End, new { @class = "datetime-format" })</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.InspectionPlace)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.InspectionPlace)</strong></h6></dd>

                                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.InspectionDate)</dt>
                                    <dd class="col-sm-6"><h6><strong>@Html.DisplayFor(model => model.InspectionDate)</strong></h6></dd>
                                </dl>
                            </div>
                        </div>
                </div>
                <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Supporting Documents</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.SupportingEvidences == null || !Model.SupportingEvidences.Any())
                                            {
                                                <tr>
                                                    <td colspan="2">There is no Supporting Evidence related to this PCE Evaluation</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var file in Model.SupportingEvidences)
                                                {
                                                    <tr>
                                                        <td>@file.Name</td>
                                                        <td>@file.Name</td><a href="@Url.Action("ViewFile", "FileUpload", new { id = file.Id })" class="btn btn-sm btn-info">View</a>
                                                        <td><a href="@Url.Action("DownloadFile", "FileUpload", new { id = file.Id })">Download <i class="fas fas-solid fa-download"></i></a></td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Production Process Flow Diagrams</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.ProductionProcessFlowDiagrams == null || !Model.ProductionProcessFlowDiagrams.Any())
                                            {
                                                <tr>
                                                    <td colspan="2">There is no Production Process Flow Diagram related to this PCE Evaluation</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var file in Model.ProductionProcessFlowDiagrams)
                                                {
                                                    <tr>
                                                        <td>@file.Name</td><a href="@Url.Action("ViewFile", "FileUpload", new { id = file.Id })" class="btn btn-sm btn-info">View</a>
                                                        <td><a href="@Url.Action("DownloadFile", "FileUpload", new { id = file.Id })">Download <i class="fas fas-solid fa-download"></i></a></td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
    
                <div class="row col-12">
                    <div style="margin-top:1.25rem;margin-bottom:1.25rem;" class="col-1"></div>
                    <div style="margin-top:1.25rem;" class="col-2">
                        <input asp-for="PCEId" value=@Model.PCEId type="hidden" id="PCEId" />
                        <div class="row">
                            <a href="@Url.Action("Edit", "PCEEvaluation")?id=@Model.PCEId" class="col-xl-12  btn btn-sm btn-info">Edit <i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                    <div style="margin-top:1.25rem;margin-bottom:1.25rem;" class="col-6"></div>
                    <div style="margin-top:1.25rem;margin-bottom:1.25rem;" class="col-2">
                        @using (Html.BeginForm("SendToRM", "PCEEvaluation", FormMethod.Post))
                        {
                            <input asp-for="PCEId" value=@Model.PCEId type="hidden" id="PCEId" />
                            <div class="row">
                                <button type="submit" class="col-xl-11  btn btn-sm  bg-purple">Send To RM <i class="fas fa-paper-plane"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
           
</section>
    
@section Scripts {
    @{await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial"); }

    <script>
        // formatAndDisplayValue('CollateralEstimationFee');
    </script>
    <script>
        function formatAndDisplayValue(elementId) {
            var element = document.getElementById(elementId);
            var value = parseFloat(element.textContent);
            var formattedValue = formatNumber(value);
            element.textContent = formattedValue;
        }
    </script>
}