@model mechanical.Models.Entities.CreateUser
@using mechanical.Models.Enum;
@{
    ViewData["Title"] = "Edit User";
}

<section class="content">
    <section class="col-xl-12 connectedSortable">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Edit User Access
                </h3>
            </div>
            <div class="card-body">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <ul>
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        </ul>
                    </div>
                }
                <form method="POST" action="/UserManagment/Edit">
                   <input type="hidden" asp-for="Id" /> 

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-xl-5">
                            <label asp-for="emp_ID" class="control-label">Employee Id <span class="text-danger">*</span></label>
                            <div class="input-group" style="margin:0;">
                                <input asp-for="emp_ID" id="emp_ID" class="form-control" disabled required />
                            </div>
                            <span asp-validation-for="emp_ID" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-7">
                            <label asp-for="Name" class="control-label">Full name <span class="text-danger">*</span></label>
                            <input asp-for="Name" id="Name" class="form-control" disabled required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-xl-7">
                            <label asp-for="Email" class="control-label">Email <span class="text-danger">*</span></label>
                            <input asp-for="Email" id="Email" class="form-control" disabled required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-xl-5">
                            <label asp-for="title" class="control-label">Title <span class="text-danger">*</span></label>
                            <input asp-for="title" id="title" class="form-control" disabled required />
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label asp-for="Branch" class="control-label">Department <span class="text-danger">*</span></label>
                            <input asp-for="Branch" id="Branch" class="form-control" disabled required />
                            <span asp-validation-for="Branch" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-6">
                            <label asp-for="company" class="control-label">Company <span class="text-danger">*</span></label>
                            <input asp-for="company" id="company" class="form-control" disabled required />
                            <span asp-validation-for="company" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Rest of form fields with existing values -->
                    <div class="row">
                        <div class="form-group col-xl-4">
                            <label asp-for="PhoneNO" class="control-label">Phone Number</label>
                            <input asp-for="PhoneNO" class="form-control" value="@Model.PhoneNO" />
                            <span asp-validation-for="PhoneNO" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-4">
                            <label asp-for="DistrictId" class="control-label">Center <span class="text-danger">*</span></label>
                            <select id="DistrictId" name="DistrictId" class="form-control" required>
                                @foreach (var district in ViewBag.Districts)
                                {
                                    <option value="@district.Id" selected="@(district.Id == Model.DistrictId)">@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="DistrictId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-4">
                            <label asp-for="RoleId" class="control-label">Roles <span class="text-danger">*</span></label>
                            <select id="RoleId" name="RoleId" class="form-control" required>
                                @foreach (var role in ViewBag.Roles)
                                {
                                    <option value="@role.Id" selected="@(role.Id == Model.RoleId)">@role.Name</option>
                                }
                            </select>
                            <span asp-validation-for="RoleId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row" id="CEV" style="display: @(Model.Role?.Name == "Relation Manager" ? "none" : "auto")">
                        <div class="form-group col-xl-6">
                            <label asp-for="Department" class="control-label">Division <span class="text-danger">*</span></label>
                            <select name="Department" id="Department" class="form-control" @(Model.Role?.Name == "Relation Manager" ? "" : "required")>
                                <option value="" selected disabled>Select valuation unit</option>
                                <option value="Mechanical" selected="@(Model.Department == "Mechanical")">Mechanical</option>
                                <option value="Civil" selected="@(Model.Department == "Civil")">Civil</option>
                                <option value="Agriculture" selected="@(Model.Department == "Agriculture")">Agriculture</option>
                            </select>
                            <span asp-validation-for="Department" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-6">
                            <label asp-for="SupervisorId" class="control-label">SuperVisor </label>
                            <select id="SupervisorId" name="SupervisorId" class="form-control">
                            </select>
                            <span asp-validation-for="SupervisorId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row" id="RM" style="display: @(Model.Role?.Name == "Relation Manager" ? "auto" : "none")">
                        <select name="Department" id="Department" hidden class="form-control" required>
                            <option value="CRM" selected> </option>
                        </select>
                        <div class="form-group col-xl-6 col-md-6 col-sm-6">
                            <label asp-for="BroadSegment">Broad Segment <i class="text-danger">*</i></label>
                            <select id="BroadSegmentDropdown" asp-for="BroadSegment" required class="form-control form-control-sm"
                                    asp-items="@(new SelectList(Enum.GetValues(typeof(Segment)).Cast<Segment>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                                <option value="" disabled selected>Select Broad Segment </option>
                            </select>
                            <span asp-validation-for="BroadSegment" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-6 col-md-6 col-sm-6">
                            <label asp-for="Unit">Unit <i class="text-danger">*</i></label>
                            <select id="UnitDropdown" name="Unit" required class="form-control form-control-sm">
                               
                            </select>
                            <span asp-validation-for="Unit" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="~/js/adminlte.min.js"></script>
<script src="~/js/dashboard.js"></script>
<script src="~/lib/chart.js/chart.min.js"></script>
<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>


<script>
    $(function(){
        const initialSegment = "@Model.BroadSegment";
      
            $('#UnitDropdown').val("@Model.Unit");
        
             var roleId ="@Model.RoleId";
            var Department = "@Model.Department";
            var districtId = "@Model.DistrictId";

        $.ajax({
            url: '/UserManagment/GetSupervisors', // Replace with your endpoint
            type: 'GET',
            data: { roleId: roleId, districtId: districtId, Department: Department },
            success: function (data) {
                var dropdown = $('#SupervisorId');
                dropdown.empty(); // Clear the "Loading..." option

                // Add default option
                dropdown.append('<option value="">Select Supervisor</option>');

                // Populate dropdown with fetched data
                data.forEach(function (supervisor) {
                    var option = $('<option></option>')
                        .val(supervisor.id)
                        .text(supervisor.name);

                    // Set selected value if it matches Model.SupervisorId
                    if (supervisor.id === "@Model.SupervisorId") {
                        option.prop('selected', true);
                    }

                    dropdown.append(option);
                });
            },
            error: function () {
                console.error('Error fetching supervisors.');
                $('#SupervisorId').html('<option value="">Error loading supervisors</option>');
            }
        });

         var BroadSegmentDropdown = "@Model.BroadSegment";
        var selectedUnit = "@Model.Unit"; 
        console.log(BroadSegmentDropdown);
        UnitDropdown = $("#UnitDropdown");
        UnitDropdown.empty();
        UnitDropdown.append('<option value="" disabled selected>Select Unit</option>');

        switch (BroadSegmentDropdown) {
            case "WholesaleConventional":
                appendOption("LargeCorporate", "Large Corporate", selectedUnit);
                appendOption("MediumCorporate", "Medium Corporate", selectedUnit);
                appendOption("SmallCorporate", "Small Corporate", selectedUnit);
                appendOption("WholesaleDistrict", "Wholesale District", selectedUnit);
                appendOption("CooperativeAndFinancialInstitution", "Cooperative and Financial Institution", selectedUnit);
                appendOption("StateOwnedEnterpriseAndOtherPublic", "State Owned Enterprise & Other Public", selectedUnit);
                appendOption("RegionalGovernment", "Regional Government", selectedUnit);
                appendOption("CentralGovernment", "Central Government", selectedUnit);
                break;
            case "WholesaleIFB":
                appendOption("IFBCorporate", "Corporate", selectedUnit);
                appendOption("IFBSMEBanking", "SME Banking", selectedUnit);
                appendOption("IFBDistrict", "District", selectedUnit);
                break;
            case "Retail":
                appendOption("Retail", "Retail", selectedUnit);
                break;
            case "Foreclosure":
                appendOption("Foreclosure", "Foreclosure", selectedUnit);
                break;
            case "Litigation":
                appendOption("Litigation", "Litigation", selectedUnit);
                break;
            case "AcquiredAssetAdministration":
                appendOption("AcquiredAssetAdministration", "Acquired Asset Administration", selectedUnit);
                break;
            case "FacilityManagement":
                appendOption("FacilityManagement", "Facility Management", selectedUnit);
                break;
            default:
                break;
        }

        function appendOption(value, text, selectedValue) {
            var option = $('<option></option>')
                .val(value)
                .text(text);
                console.log(selectedValue);
                console.log(value);
            // Set selected if the value matches the selected unit
            if (value === selectedValue) {
                option.prop('selected', true);
            }

            UnitDropdown.append(option);
        }


        $("#BroadSegmentDropdown").change(function () {
            UnitDropdown.prop("disabled", false);
            populateUnitDropdown();
        });

        function populateUnitDropdown() {
            var BroadSegmentDropdown = $("#BroadSegmentDropdown").val();
            console.log(BroadSegmentDropdown);
            UnitDropdown = $("#UnitDropdown");
            UnitDropdown.empty();
            UnitDropdown.append('<option value="" disabled selected>Select Unit</option>');

            switch (BroadSegmentDropdown) {
                case "WholesaleConventional":
                    UnitDropdown.append('<option value="LargeCorporate">Large Corporate</option>');
                    UnitDropdown.append('<option value="MediumCorporate">Medium Corporate</option>');
                    UnitDropdown.append('<option value="SmallCorporate">Small Corporate</option>');
                    UnitDropdown.append('<option value="WholesaleDistrict">Wholesale District</option>');
                    UnitDropdown.append('<option value="CooperativeAndFinancialInstitution">Cooperative and Financial Institution</option>');
                    UnitDropdown.append('<option value="StateOwnedEnterpriseAndOtherPublic">State Owned Enterprise & Other Public</option>');
                    UnitDropdown.append('<option value="RegionalGovernment">Regional Government</option>');
                    UnitDropdown.append('<option value="CentralGovernment">Central Government</option>');
                    break;
                case "WholesaleIFB":
                    UnitDropdown.append('<option value="IFBCorporate">Corporate</option>');
                    UnitDropdown.append('<option value="IFBSMEBanking">SME Banking</option>');
                    UnitDropdown.append('<option value="IFBDistrict">District</option>');
                    break;
                case "Retail":
                    UnitDropdown.append('<option value="Retail">Retail</option>');
                    break;
                case "Foreclosure":
                    UnitDropdown.append('<option value="Foreclosure">Foreclosure</option>');
                    break;
                case "Litigation":
                    UnitDropdown.append('<option value="Litigation">Litigation</option>');
                    break;
                case "AcquiredAssetAdministration":
                    UnitDropdown.append('<option value="AcquiredAssetAdministration">Acquired Asset Administration</option>');
                    break;
                case "FacilityManagement":
                    UnitDropdown.append('<option value="FacilityManagement">Facility Management</option>');
                    break;
                default:
                    break;
            }
        }


        $("#RoleId").change(function () {
            var selectedRole = $(this).find(":selected").text();
            console.log(selectedRole);
            if (selectedRole == 'Relation Manager') {
                $("#RM").show();
                $("#CEV").hide();
               $("#Department").attr("disabled", true);
                $("#BroadSegmentDropdown").removeAttr("disabled");
                $("#UnitDropdown").removeAttr("disabled");
            } else {
                $("#RM").hide();
                $("#CEV").show();
                $("#Department").removeAttr("disabled");
                $("#BroadSegmentDropdown").attr("disabled", true);
                $("#UnitDropdown").attr("disabled", true);

                $('#Department').html(`
                  <option value="" selected disabled>Select valuation unit</option>
                  <option value="Mechanical">Mechanical</option>
                  <option value="Civil">Civil</option>
                  <option value="Agriculture">Agriculture</option>`);
            }
        });

        $("#Department").change(function () {
            var roleId = $("#RoleId").val();
            var Department = $("#Department").val();
            var districtId = $("#DistrictId").val();
            var dropdown = $('#SupervisorId');
            dropdown.empty();
            dropdown.append($('<option></option>').val('').text('Select Supervisor'));
            if (roleId) {
                $.ajax({
                    url: '/UserManagment/GetSupervisors',
                    type: 'GET',
                    data: { roleId: roleId, districtId: districtId, Department: Department },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if (data != null && data.length > 0) {
                            dropdown.prop('disabled', false);
                            $(data).each(function (index, supervisor) {
                                dropdown.append($('<option></option>').val(supervisor.Id).text(supervisor.Name));
                            });
                        } else {
                            dropdown.prop('disabled', true);
                        }
                    },
                    error: function () {
                        alert('Error getting supervisors.');
                        console.log("your list of supervisors are" + data);
                    }
                });
            } else {
            }
        });
    });
    $(document).ready(function () {
        $('#loadingIndicator').hide();
        $('#GetEmployeeInfo').click(function () {
            var empId = $('#emp_ID').val();

            // Check if empId is not empty
            if (empId) {
                // Show loading indicator
                $('#loadingIndicator').show(); // Add a loading element in your HTML

                $.ajax({
                    url: '/UserManagment/GetEmployeeInfo', // Adjust the URL based on your routing
                    type: 'GET',
                    data: { id: empId },
                    success: function (data) {
                        // Hide loading indicator
                        $('#loadingIndicator').hide();

                        // Check if data is null or empty
                        if (!data || $.isEmptyObject(data)) {
                            // Show toaster notification
                            toastr.warning('No employee information found for the provided ID.');
                            return;
                        }
                        $('#Name').val(data.DisplayName);
                        $('#Email').val(data.Email);
                        $('#title').val(data.jobTitle);
                        $('#Branch').val(data.Department);
                        $('#company').val(data.company);
                    },
                    error: function () {
                        // Hide loading indicator
                        $('#loadingIndicator').hide();

                        alert('Error retrieving employee information.');
                    }
                });
            } else {
                alert('Please enter an Employee ID.');
            }
        });
    });
</script>