@using mechanical.Models.Dto.UploadFileDto
@using mechanical.Models.PCE.Enum.PCEEvaluation
@using mechanical.Models.PCE.Dto.PCEEvaluationDto
@using mechanical.Models.PCE.Dto.ProductionCapacityDto

@model mechanical.Models.PCE.Dto.PCEEvaluationDto.PCEEvaluationUpdateDto
@{
    var myProduction = ViewData["Production"] as ProductionReturnDto;
}

<div class="row">
    <div class="card border-0 shadow-lg mb-4">
        <div class="card-body p-4">
            <!-- Capacity Information -->
            <div class="border my-2 p-2 position-relative shadow custom-form">
                <div class="bg-white px-2 position-absolute top-0 start-50 translate-middle"><h6>Capacity Information </h6></div>
                <div class="row mt-3">
                    <div class="form-group col-lg-4">
                        <label>Machine Name</label>
                        <input id="MachineName" type="text" type="text" class="form-control form-control-sm" value="@(myProduction.MachineName)" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Country of Origin</label>
                        <input id="CountryOfOrgin" type="text" type="text" class="form-control form-control-sm" value="@(myProduction.CountryOfOrgin)" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-lg-4">
                        <label>@Html.DisplayNameFor(model => model.ProductionLineType) <i class="text-danger">*</i></label>
                        <select asp-for="ProductionLineType" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ProductionLineType>()"></select>
                        <span asp-validation-for="ProductionLineType" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label>@Html.DisplayNameFor(model => model.TechnicalObsolescenceStatus) <i class="text-danger">*</i></label>
                        <input asp-for="TechnicalObsolescenceStatus" class="form-control form-control-sm" required />
                        <span asp-validation-for="TechnicalObsolescenceStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-lg-4">
                        <label>@Html.DisplayNameFor(model => model.MachineFunctionalityStatus) <i class="text-danger">*</i></label>
                        <select asp-for="MachineFunctionalityStatus" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<MachineFunctionalityStatus>()"></select>
                        <span asp-validation-for="MachineFunctionalityStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4" id="functionalityReasonRow" @(Model.MachineFunctionalityStatus == MachineFunctionalityStatus.NonFunctional ? "" : "style=\"display: none;\"")>
                        <label>@Html.DisplayNameFor(model => model.MachineNonFunctionalityReason) <i class="text-danger">*</i></label>
                        <select asp-for="MachineNonFunctionalityReason" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<MachineNonFunctionalityReason>()"></select>
                        <span asp-validation-for="MachineNonFunctionalityReason" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4" id="otherReasonRow" @(Model.MachineNonFunctionalityReason == MachineNonFunctionalityReason.Other ? "" : "style=\"display: none;\"")>
                        <label>@Html.DisplayNameFor(model => model.OtherMachineNonFunctionalityReason) <i class="text-danger">*</i></label>
                        <textarea asp-for="OtherMachineNonFunctionalityReason" class="form-control form-control-sm"></textarea>
                        <span asp-validation-for="OtherMachineNonFunctionalityReason" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Production Line Evaluations -->
            <div class="border my-2 p-2 position-relative shadow custom-form">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="bg-white px-2 position-absolute top-0 start-50 translate-middle"><h6>Production Line Evaluation</h6></div>
                    <button type="button" id="addProductionLineBtn" class="btn btn-sm btn-primary ms-auto mt-3">
                        <i class="fas fa-plus"></i> Add Production Line
                    </button>
                </div>
                <div id="productionLineContainer">
                    @if (Model.ProductionLines != null && Model.ProductionLines.Any())
                    {
                        for (var i = 0; i < Model.ProductionLines.Count(); i++)
                        {
                            <div class="card shadow-sm production-line-evaluation-item production-line-form border my-2 p-2 position-relative shadow mt-4 custom-form" data-index="@i">
                                <div class="bg-white px-2 position-absolute top-0 start-50 translate-middle"><h6>Production Line @(i + 1)</h6></div>
                                <div class="production-line-form my-0 p-0 mt-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Machine/Equipment Name <span class="text-danger">*</span></label>
                                                <input asp-for="ProductionLines[i].LineName" class="form-control form-control-sm" required />
                                                <span asp-validation-for="ProductionLines[i].LineName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Output Type <span class="text-danger">*</span></label>
                                                <input asp-for="ProductionLines[i].OutputType" class="form-control form-control-sm" required />
                                                <span asp-validation-for="ProductionLines[i].OutputType" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Output Phase <span class="text-danger">*</span></label>
                                                <select asp-for="ProductionLines[i].OutputPhase" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<OutputPhase>()" required>
                                                    <option value="" disabled selected>Select Phase</option>
                                                </select>
                                                <span asp-validation-for="ProductionLines[i].OutputPhase" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Production Unit <span class="text-danger">*</span></label>
                                                <select asp-for="ProductionLines[i].ProductionUnit" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<MeasurementUnit>()" required>
                                                    <option value="" disabled selected>Select Unit</option>
                                                </select>
                                                <span asp-validation-for="ProductionLines[i].ProductionUnit" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Input/Output Conversion <span class="text-danger">*</span></label>
                                                <input asp-for="ProductionLines[i].ConversionRatio" class="form-control form-control-sm" required />
                                                <span asp-validation-for="ProductionLines[i].ConversionRatio" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="inputs-container">
                                            @if (Model.ProductionLines[i].ProductionLineInputs != null && Model.ProductionLines[i].ProductionLineInputs.Any()) 
                                            {
                                                for (int j = 0; j < Model.ProductionLines[i].ProductionLineInputs.Count(); j++)
                                                {
                                                <div class="input-item row">
                                                    <div class="col-md-3">
                                                        <label>Input Type</label>
                                                        <input asp-for="ProductionLines[i].ProductionLineInputs[j].Type" 
                                                            class="form-control form-control-sm" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Quantity</label>
                                                        <input asp-for="ProductionLines[i].ProductionLineInputs[j].Quantity" 
                                                            class="form-control form-control-sm" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Unit</label>
                                                        <select asp-for="ProductionLines[i].ProductionLineInputs[j].Unit" 
                                                                class="form-control form-control-sm" 
                                                                asp-items="Html.GetEnumSelectList<MeasurementUnit>()">
                                                            <option value="">Select Unit</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" 
                                                                class="btn btn-danger btn-sm mt-4 remove-input">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        } 
                                        </div> 

                                        <button type="button" class="btn btn-sm btn-secondary add-input-btn">
                                            Add Input
                                        </button>
                                    </div>
                                </div>

                                <button type="button"
                                        class="btn btn-sm btn-danger px-2 py-1 remove-line-btn position-absolute top-0 end-0 m-2"
                                        title="Remove this production line"
                                        @(Model.ProductionLines.Count() <= 1 ? "style=display:none" : "")>
                                    <i class="fas fa-times fa-md"></i>
                                </button>
                            </div>
                        }
                    }
                </div>
            </div>

            <!-- Inspection Information -->
            <div class="border my-2 p-2 position-relative shadow custom-form">
                <div class="bg-white px-2 position-absolute top-0 start-50 translate-middle"><h6>Inspection Information </h6></div>
                <div class="row mt-3">
                    <div class="form-group col-lg-6">
                        <label>@Html.DisplayNameFor(model => model.FactorsAffectingProductionCapacity)</label>
                        <textarea asp-for="FactorsAffectingProductionCapacity" class="form-control form-control-sm"></textarea>
                        <span asp-validation-for="FactorsAffectingProductionCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>@Html.DisplayNameFor(model => model.SurveyRemark)</label>
                        <textarea asp-for="SurveyRemark" class="form-control form-control-sm"></textarea>
                        <span asp-validation-for="SurveyRemark" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-lg-3">
                        <label>@Html.DisplayNameFor(model => model.InspectionPlace) <i class="text-danger">*</i></label>
                        <input asp-for="InspectionPlace" class="form-control form-control-sm" required />
                        <span asp-validation-for="InspectionPlace" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>@Html.DisplayNameFor(model => model.InspectionDate) <i class="text-danger">*</i></label>
                        <input asp-for="InspectionDate" class="form-control form-control-sm" type="date" value="@(Model.InspectionDate.ToString("yyyy-MM-dd"))" required />
                        @Html.ValidationMessageFor(m => m.InspectionDate)
                        <span asp-validation-for="InspectionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Checking Started At <i class="text-danger">*</i></label>
                        <input asp-for="TimeConsumedToCheck.Start" class="form-control form-control-sm" type="datetime-local" value="@Model.TimeConsumedToCheck.Start.ToString("yyyy-MM-ddTHH:mm:ss")" required />
                        <span asp-validation-for="TimeConsumedToCheck.Start" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Checking Ended At <i class="text-danger">*</i></label>
                        <input asp-for="TimeConsumedToCheck.End" class="form-control form-control-sm" type="datetime-local" value="@Model.TimeConsumedToCheck.End.ToString("yyyy-MM-ddTHH:mm:ss")" required />
                        <span asp-validation-for="TimeConsumedToCheck.End" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Update Documents -->
            <div class="border my-2 p-2 position-relative shadow custom-form"></div>
                <div class="bg-white px-2 position-absolute top-0 start-50 translate-middle"><h6>Update Documents </h6></div>
                <div class="row">
                    <div class="form-group col-xl-6">
                        <label>Witness Form<i class="text-danger">*</i></label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-10">File Names</th>
                                        <th class="col-md-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="file-list1">
                                    @if (Model.WitnessForm == null)
                                    {
                                        <tr id="no-witness-form" class="text-center file-row" data-file-id="0">
                                            <td colspan="2">
                                                <h6>No witness form submitted</h6>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr id="file-@Model.WitnessForm.Id" class="file-row" data-file-id="@Model.WitnessForm.Id">
                                            <td class="text-truncate">@Model.WitnessForm.Name</td>
                                            <td>
                                                <a href="@Url.Action("ViewFile", "UploadFile", new { id = Model.WitnessForm.Id })" target="_blank"><i class="fas fa-eye"> View</i></a> |
                                                <a href="#" data-file-id="@Model.WitnessForm.Id" onclick="deleteFile('@Model.WitnessForm.Id', event)" style="color: red;"><i class="fas fa-trash">  Delete</i></a>
                                            </td>
                                        </tr>
                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                        <input asp-for="NewSupportingEvidences" type="file" class="form-control" multiple />
                        <span asp-validation-for="NewSupportingEvidences" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xl-6">
                        <label>Production Process Flow Diagrams</label>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-10">File Name</th>
                                        <th class="col-md-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="file-list2">
                                    @if (Model.ProductionProcessFlowDiagrams == null || !Model.ProductionProcessFlowDiagrams.Any())
                                    {
                                        <tr id="no-diagram" class="text-center file-row" data-file-id="0">
                                            <td colspan="2">
                                                <h6>No production process flow diagram</h6>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var file in Model.ProductionProcessFlowDiagrams)
                                        {
                                            <tr id="file-@file.Id" class="file-row" data-file-id="@file.Id">
                                                <td class="text-truncate">@file.Name</td>
                                                <td>
                                                    <a href="@Url.Action("ViewFile", "UploadFile", new { id = file.Id })" target="_blank"><i class="fas fa-eye"> View</i></a> |
                                                    <a href="#" data-file-id="@file.Id" onclick="deleteFile('@file.Id', event)" style="color: red;"><i class="fas fa-trash"> Delete</i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <input asp-for="NewProductionProcessFlowDiagrams" type="file" class="form-control" multiple />
                        <span asp-validation-for="NewProductionProcessFlowDiagrams" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xl-6">
                        <label>Supporting Evidences</label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-10">File Names</th>
                                        <th class="col-md-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="file-list1">
                                    @if (Model.SupportingEvidences == null || !Model.SupportingEvidences.Any())
                                    {
                                        <tr id="no-evidence" class="text-center file-row" data-file-id="0">
                                            <td colspan="2">
                                                <h6>No supporting evidence</h6>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var file in Model.SupportingEvidences)
                                        {
                                            <tr id="file-@file.Id" class="file-row" data-file-id="@file.Id">
                                                <td class="text-truncate">@file.Name</td>
                                                <td>
                                                    <a href="@Url.Action("ViewFile", "UploadFile", new { id = file.Id })" target="_blank"><i class="fas fa-eye"> View</i></a> |
                                                    <a href="#" data-file-id="@file.Id" onclick="deleteFile('@file.Id', event)" style="color: red;"><i class="fas fa-trash">  Delete</i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <input asp-for="NewSupportingEvidences" type="file" class="form-control" multiple />
                        <span asp-validation-for="NewSupportingEvidences" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partial/_ProductionLineTemplatePartial")

<style>
    .text-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 36rem;
    }
</style>
