@model IEnumerable<mechanical.Models.PCE.Dto.PCEEvaluationDto.PCEEvaluationReturnDto>
@using mechanical.Models.PCE.Enum.PCEEvaluation

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ProductionLineOrEquipmentName)</td>
        <td>@Html.DisplayFor(modelItem => item.OriginCountry)</td>
        <td>@Html.DisplayFor(modelItem => item.InspectionPlace)</td>
        <td>
            <span class="badge 
                @(item.Status == null ? "badge-secondary" :
                item.Status == Status.New ? "badge-primary" :
                item.Status == Status.Evaluated ? "bg-purple" :
                item.Status == Status.Pending ? "badge-warning" :
                item.Status == Status.Reevaluated ? "badge-info" :
                item.Status == Status.Rejected ? "badge-danger" :
                item.Status == Status.Completed ? "badge-success" : "badge-dark")">
                @(item.Status.HasValue ? item.Status.Value.ToString() : "Unknown")
            </span>
        </td>
        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
        <td>     
            <div class="btn-group" role="group">
                @if (item.Status == Status.New || item.Status == Status.Reevaluated)
                {
                    <a href="@Url.Action("Update", "PCEEvaluation", new { id = item.Id })" class="btn btn-sm btn-warning">Update <i class="fas fa-pen"></i></a>
                    <button type="button" class="btn btn-sm bg-purple" onclick="sendToRM('@item.Id')">Send To RM <i class="fas fa-paper-plane"></i></button>
                }
                else if (item.Status == Status.Evaluated || item.Status == Status.Pending || item.Status == Status.Rejected)
                {
                    <a href="@Url.Action("Update", "PCEEvaluation", new { id = item.Id })" class="btn btn-sm btn-warning">Update <i class="fas fa-pen"></i></a>
                }
                <a href="@Url.Action("Detail", "PCEEvaluation", new { id = item.Id })" class="btn btn-sm btn-info">Detail <i class="fas fa-pen"></i></a>
                <a href="@Url.Action("Delete", "PCEEvaluation", new { id = item.Id })" class="btn btn-sm btn-danger">Delete <i class="fas fa-pen"></i></a>
            </div>
        </td>
    </tr>
}

<script>
    function sendToRM(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "@Url.Action("SendToRM", "PCEEvaluation")");

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "PCEId");
        hiddenField.setAttribute("value", id);

        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    }
</script>