@using mechanical.Models.Dto.UserDto
@using mechanical.Models.PCE.Dto.PCECaseDto

@{
    ViewData["Title"] = ViewBag.Title as string;
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
    var currentUser = ViewData["CurrentUser"] as ReturnUserDto;

    var currentUserRole = currentUser?.Role?.Name as string;
    var emptyMessage = "There are no assigned Productions for this PCE Case.";
    var fetchUrl = "/ProductionCapacity/GetAssignedProduction?PCECaseId=" + myPCECase.Id; 
    
    var subbName = "";
    var assiName = "";
    var selectName = "";             

    if (currentUserRole == "Maker Manager")
    {
        subbName = "GetMakerTeamleader";
        assiName = "PCEReAssignMakerTeamleader";
        selectName = "Team Leader";  
    }
    else if (currentUserRole == "District Valuation Manager")
    {
        subbName = "GetMakerTeamleader";
        assiName = "PCEReAssignMakerOfficer";
        selectName = "Maker Officer";
    }
    else if (currentUserRole == "Maker TeamLeader")
    {
        subbName = "GetMakerOfficer";
        assiName = "PCEReAssignMakerOfficer";
        selectName = "Maker Officer";
    }
    
    var getSubordinateUrl = "/UserManagment/" + subbName;
    var assignUrl = "/PCECaseAssignment/" + assiName;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>My PCE Assignments</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("PCECases", "PCECase")">PCE Cases</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Productions", "ProductionCapacity")">Productions</a></li>
                    <li class="breadcrumb-item active">My PCE Assignments</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-purple card-outline card-outline-tabs">
            <table id="Productions" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="form-check bg-purple" id="selectAllCheckbox"></th>
                        <th>Property Owner</th>
                        <th>Role</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Assignment Date</th>
                        <th>Case Owner</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <button id="assignButton" class="col-12 btn btn-sm bg-purple">Re-Assign</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <h5 class="modal-title" id="assignModalLabel">Re-Assign Production(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(assiName, "PCECaseAssignment", FormMethod.Post, new { id = "assignForm" }))
                {
                    <input type="hidden" id="SelectedPCEIds" name="SelectedPCEIds">
                    <div class="form-group">
                        <label for="OptionDropdown">Select Employee:</label>
                        <select class="form-control" id="OptionDropdown" name="AssignedId">
                        </select>
                    </div>
                    <div class="row col-12">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm bg-purple col-6  ms-1">Re-Assign</button>
                            <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{  
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_CommonLibrariesScriptPartial");
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_FetchSubordinatesScriptPartial");
        await Html.RenderPartialAsync("Partial/_MyAssignmentDatatableSriptsPartial");
    }
    <script>
        $(document).ready(function () {

            var selectName = '@selectName';
            var emptyMessage = '@emptyMessage';
            var currentUserRole = '@currentUserRole';
            var fetchUrl = '@System.Web.HttpUtility.JavaScriptStringEncode(fetchUrl)';
            var assignUrl = '@System.Web.HttpUtility.JavaScriptStringEncode(assignUrl)';
            var getSubordinateUrl = '@System.Web.HttpUtility.JavaScriptStringEncode(getSubordinateUrl)';

            loadProductions(fetchUrl, emptyMessage);
            initializeForAssignment(getSubordinateUrl, assignUrl, selectName, fetchUrl, currentUserRole, emptyMessage);
        });
    </script>
} 
