@model IEnumerable<mechanical.Models.PCE.Dto.PCEDto.PCEReturnDto>

@{
    ViewData["Title"] = "Production Capacity Estimations";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6 offset-xl-1">
                <h4 class="m-0">Production Capacity Estimations</h4>
            </div>
            <div class="col-sm-6 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Production Capacity Estimations</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-purple card-outline card-outline-tabs">
            <div class="card-header">
                <h3 class="card-title">
                    <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon">
                    Production Capacity Estimations
                </h3>
                <div class="card-tools">
                    <a href="@Url.Action("Create")" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Create New</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">            
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().ProductionLineOrEquipmentName)</th>\
                            <th>@Html.DisplayNameFor(model => model.First().OutputType)</th>
                            <th>@Html.DisplayNameFor(model => model.First().OriginCountry)</th>
                            <th>@Html.DisplayNameFor(model => model.First().InspectionPlace)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Status)</th>                     
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ProductionLineOrEquipmentName)</td>
                                <td>@Html.DisplayFor(modelItem => item.OutputType)</td>
                                <td>@Html.DisplayFor(modelItem => item.OriginCountry)</td>
                                <td>@Html.DisplayFor(modelItem => item.InspectionPlace)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>                               
                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial"); }
}
