@{
    var myCase = ViewData["case"] as CaseReturntDto;
    var moFile = ViewData["moFile"] as IEnumerable<ReturnFileDto>;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Applicant Information</h3>
                    </div>
                    <div class="card-body">
                        <h6><strong>Name:</strong> @myCase.ApplicantName</h6>
                        <h6 style="margin-top:1.2rem;"><strong>Customer Id: </strong> @myCase.CustomerId</h6>
                        <h6 style="margin-top:1.2rem;"><strong>Email:</strong> @myCase.CustomerEmail</h6>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Case Information</h3>
                    </div>
                    <div class="card-body">
                        <h6><strong>Segment:</strong> @myCase.Segement</h6>
                        <h6 style="margin-top:1.2rem;"><strong>Case No:</strong> @myCase.CaseNo</h6>
                        <h6 style ="margin-top:1.2rem;"><strong>Status:</strong> @myCase.Status</h6>
                        <h6 style="margin-top:1.2rem;"><strong>Center: </strong> @myCase.District</h6>
                        <h6 style="margin-top:1.2rem;"><strong>Total Number of Collateral:</strong> @myCase.TotalNoOfCollateral</h6>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Attached Document</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>File Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (myCase.BussinessLicence == null && moFile == null)
                                    {
                                        <tr>
                                            <td class="text-center" colspan="3">There is no document related to this case</td>
                                        </tr>
                                    }
                                    else if (myCase.BussinessLicence != null)
                                    {
                                        <tr>

                                            <td>@myCase.BussinessLicence.Name</td>
                                            <td>@myCase.BussinessLicence.Catagory</td>
                                            <td><a href="/UploadFile/ViewFile?id=@myCase.BussinessLicence.Id" target="_blank">View <i class="fas fas-solid fa-eye"></i></a>&nbsp;|&nbsp;<a href="/UploadFile/DownloadFile?id=@myCase.BussinessLicence.Id" target="_blank">Download <i class="fas fas-solid fa-download"></i></a></td>
                                        </tr>
                                    }
                                     if (moFile != null)
                                    {
                                        if (moFile.Count() != 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="3">Documents Uploaded by Maker Officer</td>
                                            </tr>
                                            @foreach (var item in moFile)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.Catagory</td>
                                                    <td><a href="/UploadFile/ViewFile?id=@item.Id" target="_blank">View <i class="fas fas-solid fa-eye"></i></a>&nbsp;|&nbsp;<a href="/UploadFile/DownloadFile?id=@item.Id" target="_blank">Download <i class="fas fas-solid fa-download"></i></a></td>
                                                </tr>
                                            }
                                        }
                                        else if (myCase.BussinessLicence == null)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="3">There is no document related to this case</td>
                                            </tr>
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>