@model mechanical.Models.Dto.IndBldgFacilityEquipmentDto.IndBldgFacilityEquipmentPostDto;
@{
    var comment = ViewData["comments"] as Dictionary<string, string>;

    var collateralFiles = ViewData["collateralFile"] as IEnumerable<ReturnFileDto>;
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-8">
                <h4 class="m-0">Industrial (Mfg) & Building Facility Machinery Type Evaluation Form</h4>
            </div>
            <div class="col-sm-6 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">My Case</li>
                    <li class="breadcrumb-item active">Detail</li>
                    <li class="breadcrumb-item active">Collateral evaluation</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content col-xl-12 connectedSortable">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-action="EditIndBldgFacilityEquipment" asp-route-Id="@Model.Id">
            <input asp-for="CollateralId" value=@Model.Id type="hidden" />
            <div class="row">
                <div class="form-group col-xl-6">
                    <label asp-for="MechanicalEqpmntName">Mechanical Equipment Name</label>
                    <div class="input-group">
                        <input asp-for="MechanicalEqpmntName" type="text" class="form-control" id="MechanicalEqpmntName" placeholder="Motor Power (Cc/Kw/Hp)" required>
                        @{
                            try
                            {
                                if (comment?["MechanicalEqpmntName"] != null && comment["MechanicalEqpmntName"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MechanicalEqpmntName" data-comment="@comment["MechanicalEqpmntName"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="MechanicalEqpmntName" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-6">
                    <label asp-for="IndustrialBuildingMachineryType">Indu(Mfg) & Bud Facility Machinery Type</label>
                    <div class="input-group">
                        <select asp-for="IndustrialBuildingMachineryType" class="form-control"
                                asp-items="@(new SelectList(Enum.GetValues(typeof(IndustrialBuildingMachineryType)).Cast<IndustrialBuildingMachineryType>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                            <option value="" disabled>Select Indu(Mfg) & Bud Facility Machinery Type</option>
                        </select>
                        @{
                            try
                            {
                                if (comment?["IndustrialBuildingMachineryType"] != null && comment["IndustrialBuildingMachineryType"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="IndustrialBuildingMachineryType" data-comment="@comment["IndustrialBuildingMachineryType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="IndustrialBuildingMachineryType" class="text-danger"></span>
                </div>
            </div><div class="row">
                <div class="form-group col-xl-6">
                    <label asp-for="EngineType"> Power Source & Fuel Type</label>
                    <div class="input-group">
                        <select asp-for="EngineType" class="form-control"
                                asp-items="@(new SelectList(Enum.GetValues(typeof(EngineType)).Cast<EngineType>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                            <option value="" disabled> Select Power Source & Fuel Type </option>
                        </select>
                        @{
                            try
                            {
                                if (comment?["EngineType"] != null && comment["EngineType"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineType" data-comment="@comment["EngineType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="EngineType" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-6">
                    <label asp-for="PowerSupply">Power Supply</label>
                    <div class="input-group">
                        <select asp-for="PowerSupply" class="form-control"
                                asp-items="@(new SelectList(Enum.GetValues(typeof(PowerSupply)).Cast<PowerSupply>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                            <option value="" disabled>Select Power Supply</option>
                        </select>
                        @{
                            try
                            {
                                if (comment?["PowerSupply"] != null && comment["PowerSupply"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PowerSupply" data-comment="@comment["PowerSupply"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="PowerSupply" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label asp-for="MotorPower">Motor Power (Cc/Kw/Hp)</label>
                    <div class="input-group">
                        <input asp-for="MotorPower" type="text" class="form-control" id="enginePower" placeholder="Motor Power (Cc/Kw/Hp)" required>
                        @{
                            try
                            {
                                if (comment?["MotorPower"] != null && comment["MotorPower"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MotorPower" data-comment="@comment["MotorPower"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="MotorPower" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="WorkingProductionCapacity">Working/Production Capacity</label>
                    <div class="input-group">
                        <input asp-for="WorkingProductionCapacity" type="text" class="form-control" id="enginePower" placeholder="Working/Production Capacity" required>
                        @{
                            try
                            {
                                if (comment?["WorkingProductionCapacity"] != null && comment["WorkingProductionCapacity"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="WorkingProductionCapacity" data-comment="@comment["WorkingProductionCapacity"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="WorkingProductionCapacity" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="OtherTechSpec">Insert Other Tech. Spec.(if any)</label>
                    <div class="input-group">
                        <input asp-for="OtherTechSpec" type="text" class="form-control" id="OtherTechSpec" placeholder="Insert Other Tech. Spec.(if any)" required>

                        @{
                            try
                            {
                                if (comment?["OtherTechSpec"] != null && comment["OtherTechSpec"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="OtherTechSpec" data-comment="@comment["OtherTechSpec"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="OtherTechSpec" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label asp-for="MakerCompany">Insert Maker Company </label>
                    <div class="input-group">
                        <input asp-for="MakerCompany" type="text" class="form-control" id="MakerCompany" placeholder="Insert Other Tech. Spec.(if any)" required>
                        @{
                            try
                            {
                                if (comment?["MakerCompany"] != null && comment["MakerCompany"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerCompany" data-comment="@comment["MakerCompany"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="MakerCompany" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="TechnologyStandard">Technology Standard</label>
                    <div class="input-group">
                        <select asp-for="TechnologyStandard" class="form-control"
                                asp-items="@(new SelectList(Enum.GetValues(typeof(MachineryTechnologyStandard)).Cast<MachineryTechnologyStandard>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                            <option value="" disabled>Select Technology Standard</option>
                        </select>
                        @{
                            try
                            {
                                if (comment?["TechnologyStandard"] != null && comment["TechnologyStandard"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="TechnologyStandard" data-comment="@comment["TechnologyStandard"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="TechnologyStandard" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="MakerPreferenceType">Type of Maker Preference</label>
                    <div class="input-group">
                        <select asp-for="MakerPreferenceType" class="form-control" id="enginePower" required>
                            <option value="">Select the preference</option>
                            <option value="Normal Preference">Normal Preference</option>
                            <option value="Exceptional Preference">Exceptional Preference</option>
                        </select>
                        @{
                            try
                            {
                                if (comment?["MakerPreferenceType"] != null && comment["MakerPreferenceType"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="MakerPreferenceType" data-comment="@comment["MakerPreferenceType"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="MakerPreferenceType" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label asp-for="CurrentEqpmntCondition">Current Equipment Condition</label>
                    <div class="input-group">
                        <select asp-for="CurrentEqpmntCondition" class="form-control"
                                asp-items="@(new SelectList(Enum.GetValues(typeof(EquipmentCondition)).Cast<EquipmentCondition>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                            <option value="" disabled>Select Current Equipment Condition</option>
                        </select>
                        @{
                            try
                            {
                                if (comment?["CurrentEqpmntCondition"] != null && comment["CurrentEqpmntCondition"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CurrentEqpmntCondition" data-comment="@comment["CurrentEqpmntCondition"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="CurrentEqpmntCondition" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="AllocatedPointsRange">Allocated Points Range</label>
                    <div class="input-group">
                        <select asp-for="AllocatedPointsRange" class="form-control"
                                asp-items="@(new SelectList(Enum.GetValues(typeof(AllocatedPointRange)).Cast<AllocatedPointRange>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                            <option value="" disabled>Select Current Equipment Condition</option>
                        </select>
                        @{
                            try
                            {
                                if (comment?["AllocatedPointsRange"] != null && comment["AllocatedPointsRange"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AllocatedPointsRange" data-comment="@comment["AllocatedPointsRange"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="AllocatedPointsRange" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="ModelNo">Model Number</label>
                    <div class="input-group">
                        <input asp-for="ModelNo" type="text" value="@Model.ModelNo" class="form-control" placeholder="Model Number" required>
                        @{
                            try
                            {
                                if (comment?["ModelNo"] != null && comment["ModelNo"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ModelNo" data-comment="@comment["ModelNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="ModelNo" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label asp-for="EngineNo">Motor Number</label>
                    <div class="input-group">
                        <input asp-for="EngineNo" type="text" value="@Model.EngineNo" class="form-control" placeholder="Engine Number" required>
                        @{
                            try
                            {
                                if (comment?["EngineNo"] != null && comment["EngineNo"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="EngineNo" data-comment="@comment["EngineNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="EngineNo" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="SerialNo">Serial Number</label>
                    <div class="input-group">
                        <input asp-for="SerialNo" type="text" value="@Model.SerialNo" class="form-control" placeholder="Serial Number" required>
                        @{
                            try
                            {
                                if (comment?["SerialNo"] != null && comment["SerialNo"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="SerialNo" data-comment="@comment["SerialNo"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="SerialNo" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="YearOfManufacture">Year of Manufacture</label>
                    <div class="input-group">
                        <input asp-for="YearOfManufacture" value="@Model.YearOfManufacture" type="number" class="form-control" min="1900" max="2099" step="1" required>
                        @{
                            try
                            {
                                if (comment?["YearOfManufacture"] != null && comment["YearOfManufacture"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="YearOfManufacture" data-comment="@comment["YearOfManufacture"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="YearOfManufacture" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label asp-for="ScaleOfOperation">Scale of Operation</label>
                    <div class="input-group">
                      <select asp-for="ScaleOfOperation" class="form-control" required>
                                <option value="" disabled>Scale of Operation</option>
                                <option value="Small" >Small</option>
                                <option value="large" >Large</option>
                            </select>
                        @{
                            try
                            {
                                if (comment?["ScaleOfOperation"] != null && comment["ScaleOfOperation"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ScaleOfOperation" data-comment="@comment["ScaleOfOperation"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="ScaleOfOperation" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="NoOfProductionLine">Number of Production Line</label>
                    <div class="input-group">
                        <input asp-for="NoOfProductionLine" id="NoOfProductionLine" type="text" class="form-control" placeholder="Number of Production Line" required oninput="validateSerialNoInput(this)">
                        @{
                            try
                            {
                                if (comment?["NoOfProductionLine"] != null && comment["NoOfProductionLine"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="NoOfProductionLine" data-comment="@comment["NoOfProductionLine"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="NoOfProductionLine" class="text-danger"></span>
                </div>
                 <div class="form-group col-xl-4">
                    <label asp-for="CountryOfOrigin">Country of Origin</label>
                    <div class="input-group">
                        <input asp-for="CountryOfOrigin" type="text" class="form-control" placeholder="Select Country of Origin" list="country" required>
                        @{
                            try
                            {
                                if (comment?["CountryOfOrigin"] != null && comment["CountryOfOrigin"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="CountryOfOrigin" data-comment="@comment["CountryOfOrigin"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label asp-for="Remark">Remark</label>
                    <div class="input-group">
                        <textarea asp-for="Remark" class="form-control" placeholder="Remark" rows="3" required></textarea>
                        @{
                            try
                            {
                                if (comment?["Remark"] != null && comment["Remark"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Remark" data-comment="@comment["Remark"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="PhysicalAndInstallationAssesment">Physical and Installation Assessment</label>
                    <div class="input-group">
                        <textarea asp-for="PhysicalAndInstallationAssesment" class="form-control" rows="3" placeholder="Physical and Installation Assessment" required></textarea>
                        @{
                            try
                            {
                                if (comment?["PhysicalAndInstallationAssesment"] != null && comment["PhysicalAndInstallationAssesment"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="PhysicalAndInstallationAssesment" data-comment="@comment["PhysicalAndInstallationAssesment"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="PhysicalAndInstallationAssesment" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="OverallSurveyAssesment">Overall Survey Assessment</label>
                    <div class="input-group">
                        <textarea asp-for="OverallSurveyAssesment" class="form-control" placeholder="Overall Survey Assessment" rows="3" required></textarea>
                        @{
                            try
                            {
                                if (comment?["OverallSurveyAssesment"] != null && comment["OverallSurveyAssesment"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="OverallSurveyAssesment" data-comment="@comment["OverallSurveyAssesment"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="OverallSurveyAssesment" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label asp-for="InvoiceValue">Invoice Value</label>
                    <div class="input-group">
                        <input asp-for="InvoiceValue" type="number" class="form-control" placeholder="Invoice Value" required>
                        @{
                            try
                            {
                                if (comment?["InvoiceValue"] != null && comment["InvoiceValue"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="InvoiceValue" data-comment="@comment["InvoiceValue"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="InvoiceValue" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="Currency">Currency</label>
                    <div class="input-group">
                        <input asp-for="Currency" list="currencyList" type="text" class="form-control" placeholder="Select Currency" required>
                        @{
                            try
                            {
                                if (comment?["Currency"] != null && comment["Currency"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="Currency" data-comment="@comment["Currency"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4">
                    <label asp-for="ExchangeRate">Exchange Rate</label>
                    <div class="input-group">
                        <input asp-for="ExchangeRate" list="currencyList" type="text" class="form-control" placeholder="Enter Exchange Rate" required>
                        @{
                            try
                            {
                                if (comment?["ExchangeRate"] != null && comment["ExchangeRate"] != "")
                                {
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="ExchangeRate" data-comment="@comment["ExchangeRate"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="ExchangeRate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label>Additional Comment</label>
                    <div class="input-group">
                        @{
                            try
                            {
                                if (comment?["AdditionalComment"] != null && comment["AdditionalComment"] != "")
                                {
                                    <input type="text" class="form-control" value="Additional Comment" readonly>
                                    <button type="button" class="btn btn-outline-danger show-comment-box" data-toggle="modal" data-target="#CommentBoxModal" data-field-id="AdditionalComment" data-comment="@comment["AdditionalComment"]"> <i class="fas fa-exclamation-triangle"></i> </button>
                                }else{
                                    <input   type="text" class="form-control" value="Ther is no Additional Comment" readonly >
                                }
                            }
                            catch (Exception) { }
                        }
                    </div>
                    <span asp-validation-for="ExchangeRate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <button type="submit" id="btnSaveForResubmiting" class="btn bg-purple col-xl-3">Send for Checker</button>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptPartial/_InduSriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
    }
}

<!-- this is the updated comment box modal code-->
<div class="modal fade" id="CommentBoxModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Read your Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea id="comment" class="form-control" rows="4"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<style>
    .motion-button {
        transition: transform 0.3s ease-in-out;
        color: red;
    }

        .motion-button:hover {
            transform: scale(1.1);
        }

    .comment-text {
        color: red;
    }

    .alert {
        color: #f44336; /* Danger color */
        /*         font-size: 12px; /* Adjust the font size as needed */
        */
    }
</style>

<datalist id="carColors">
    <option value="Black" />
    <option value="White" />
    <option value="Silver" />
    <option value="Gray" />
    <option value="Red" />
    <option value="Blue" />
    <option value="Green" />
    <option value="Yellow" />
    <option value="Orange" />
    <option value="Brown" />
    <option value="Beige" />
    <option value="Gold" />
    <option value="Purple" />
    <option value="Pink" />
    <option value="Bronze" />
    <option value="Burgundy" />
    <option value="Teal" />
    <option value="Champagne" />
    <option value="Maroon" />
    <option value="Navy" />
    <option value="Cream" />
    <option value="Ivory" />
    <option value="Indigo" />
    <option value="Turquoise" />
    <option value="Lime" />
    <option value="Aqua" />
    <option value="Magenta" />
    <option value="Charcoal" />
    <option value="Ruby" />
    <option value="Emerald" />
    <option value="Sapphire" />
    <option value="Pearl" />
    <option value="Copper" />
    <option value="Mocha" />
    <option value="Plum" />
    <option value="Amber" />
    <option value="Coral" />
    <option value="Lilac" />
    <option value="Ebony" />
    <option value="Frost" />
    <option value="Graphite" />
</datalist>
<datalist id="country">
    <option value="Afghanistan" />
    <option value="Albania" />
    <option value="Algeria" />
    <option value="American Samoa" />
    <option value="Andorra" />
    <option value="Angola" />
    <option value="Anguilla" />
    <option value="Antarctica" />
    <option value="Antigua and Barbuda" />
    <option value="Argentina" />
    <option value="Armenia" />
    <option value="Aruba" />
    <option value="Australia" />
    <option value="Austria" />
    <option value="Azerbaijan" />
    <option value="Bahamas" />
    <option value="Bahrain" />
    <option value="Bangladesh" />
    <option value="Barbados" />
    <option value="Belarus" />
    <option value="Belgium" />
    <option value="Belize" />
    <option value="Benin" />
    <option value="Bermuda" />
    <option value="Bhutan" />
    <option value="Bolivia" />
    <option value="Bosnia and Herzegovina" />
    <option value="Botswana" />
    <option value="Bouvet Island" />
    <option value="Brazil" />
    <option value="British Indian Ocean Territory" />
    <option value="Brunei Darussalam" />
    <option value="Bulgaria" />
    <option value="Burkina Faso" />
    <option value="Burundi" />
    <option value="Cambodia" />
    <option value="Cameroon" />
    <option value="Canada" />
    <option value="Cape Verde" />
    <option value="Cayman Islands" />
    <option value="Central African Republic" />
    <option value="Chad" />
    <option value="Chile" />
    <option value="China" />
    <option value="Christmas Island" />
    <option value="Cocos (Keeling) Islands" />
    <option value="Colombia" />
    <option value="Comoros" />
    <option value="Congo" />
    <option value="Congo, The Democratic Republic of The" />
    <option value="Cook Islands" />
    <option value="Costa Rica" />
    <option value="Cote D'ivoire" />
    <option value="Croatia" />
    <option value="Cuba" />
    <option value="Cyprus" />
    <option value="Czech Republic" />
    <option value="Denmark" />
    <option value="Djibouti" />
    <option value="Dominica" />
    <option value="Dominican Republic" />
    <option value="Ecuador" />
    <option value="Egypt" />
    <option value="El Salvador" />
    <option value="Equatorial Guinea" />
    <option value="Eritrea" />
    <option value="Estonia" />
    <option value="Ethiopia" />
    <option value="Falkland Islands (Malvinas)" />
    <option value="Faroe Islands" />
    <option value="Fiji" />
    <option value="Finland" />
    <option value="France" />
    <option value="French Guiana" />
    <option value="French Polynesia" />
    <option value="French Southern Territories" />
    <option value="Gabon" />
    <option value="Gambia" />
    <option value="Georgia" />
    <option value="Germany" />
    <option value="Ghana" />
    <option value="Gibraltar" />
    <option value="Greece" />
    <option value="Greenland" />
    <option value="Grenada" />
    <option value="Guadeloupe" />
    <option value="Guam" />
    <option value="Guatemala" />
    <option value="Guinea" />
    <option value="Guinea-bissau" />
    <option value="Guyana" />
    <option value="Haiti" />
    <option value="Heard Island and Mcdonald Islands" />
    <option value="Holy See (Vatican City State)" />
    <option value="Honduras" />
    <option value="Hong Kong" />
    <option value="Hungary" />
    <option value="Iceland" />
    <option value="India" />
    <option value="Indonesia" />
    <option value="Iran, Islamic Republic of" />
    <option value="Iraq" />
    <option value="Ireland" />
    <option value="Israel" />
    <option value="Italy" />
    <option value="Jamaica" />
    <option value="Japan" />
    <option value="Jordan" />
    <option value="Kazakhstan" />
    <option value="Kenya" />
    <option value="Kiribati" />
    <option value="Korea, Democratic People's Republic of" />
    <option value="Korea, Republic of" />
    <option value="Kuwait" />
    <option value="Kyrgyzstan" />
    <option value="Lao People's Democratic Republic" />
    <option value="Latvia" />
    <option value="Lebanon" />
    <option value="Lesotho" />
    <option value="Liberia" />
    <option value="Libyan Arab Jamahiriya" />
    <option value="Liechtenstein" />
    <option value="Lithuania" />
    <option value="Luxembourg" />
    <option value="Macao" />
    <option value="Macedonia, The Former Yugoslav Republic of" />
    <option value="Madagascar" />
    <option value="Malawi" />
    <option value="Malaysia" />
    <option value="Maldives" />
    <option value="Mali" />
    <option value="Malta" />
    <option value="Marshall Islands" />
    <option value="Martinique" />
    <option value="Mauritania" />
    <option value="Mauritius" />
    <option value="Mayotte" />
    <option value="Mexico" />
    <option value="Micronesia, Federated States of" />
    <option value="Moldova, Republic of" />
    <option value="Monaco" />
    <option value="Mongolia" />
    <option value="Montserrat" />
    <option value="Morocco" />
    <option value="Mozambique" />
    <option value="Myanmar" />
    <option value="Namibia" />
    <option value="Nauru" />
    <option value="Nepal" />
    <option value="Netherlands" />
    <option value="Netherlands Antilles" />
    <option value="New Caledonia" />
    <option value="New Zealand" />
    <option value="Nicaragua" />
    <option value="Niger" />
    <option value="Nigeria" />
    <option value="Niue" />
    <option value="Norfolk Island" />
    <option value="Northern Mariana Islands" />
    <option value="Norway" />
    <option value="Oman" />
    <option value="Pakistan" />
    <option value="Palau" />
    <option value="Palestinian Territory, Occupied" />
    <option value="Panama" />
    <option value="Papua New Guinea" />
    <option value="Paraguay" />
    <option value="Peru" />
    <option value="Philippines" />
    <option value="Pitcairn" />
    <option value="Poland" />
    <option value="Portugal" />
    <option value="Puerto Rico" />
    <option value="Qatar" />
    <option value="Reunion" />
    <option value="Romania" />
    <option value="Russian Federation" />
    <option value="Rwanda" />
    <option value="Saint Helena" />
    <option value="Saint Kitts and Nevis" />
    <option value="Saint Lucia" />
    <option value="Saint Pierre and Miquelon" />
    <option value="Saint Vincent and The Grenadines" />
    <option value="Samoa" />
    <option value="San Marino" />
    <option value="Sao Tome and Principe" />
    <option value="Saudi Arabia" />
    <option value="Senegal" />
    <option value="Serbia and Montenegro" />
    <option value="Seychelles" />
    <option value="Sierra Leone" />
    <option value="Singapore" />
    <option value="Slovakia" />
    <option value="Slovenia" />
    <option value="Solomon Islands" />
    <option value="Somalia" />
    <option value="South Africa" />
    <option value="South Georgia and The South Sandwich Islands" />
    <option value="Spain" />
    <option value="Sri Lanka" />
    <option value="Sudan" />
    <option value="Suriname" />
    <option value="Svalbard and Jan Mayen" />
    <option value="Swaziland" />
    <option value="Sweden" />
    <option value="Switzerland" />
    <option value="Syrian Arab Republic" />
    <option value="Taiwan, Province of China" />
    <option value="Tajikistan" />
    <option value="Tanzania, United Republic of" />
    <option value="Thailand" />
    <option value="Timor-leste" />
    <option value="Togo" />
    <option value="Tokelau" />
    <option value="Tonga" />
    <option value="Trinidad and Tobago" />
    <option value="Tunisia" />
    <option value="Turkey" />
    <option value="Turkmenistan" />
    <option value="Turks and Caicos Islands" />
    <option value="Tuvalu" />
    <option value="Uganda" />
    <option value="Ukraine" />
    <option value="United Arab Emirates" />
    <option value="United Kingdom" />
    <option value="United States" />
    <option value="United States Minor Outlying Islands" />
    <option value="Uruguay" />
    <option value="Uzbekistan" />
    <option value="Vanuatu" />
    <option value="Venezuela" />
    <option value="Viet Nam" />
    <option value="Virgin Islands, British" />
    <option value="Virgin Islands, U.S" />
    <option value="Wallis and Futuna" />
    <option value="Western Sahara" />
    <option value="Yemen" />
    <option value="Zambia" />
    <option value="Zimbabwe" />
</datalist>
<datalist id="currencyList">
    <option value="ETB" />
    <option value="USD" />
    <option value="EUR" />
    <option value="AED" />
    <option value="AFN" />
    <option value="ALL" />
    <option value="AMD" />
    <option value="ANG" />
    <option value="AOA" />
    <option value="ARS" />
    <option value="AUD" />
    <option value="AWG" />
    <option value="AZN" />
    <option value="BAM" />
    <option value="BBD" />
    <option value="BDT" />
    <option value="BGN" />
    <option value="BHD" />
    <option value="BIF" />
    <option value="BMD" />
    <option value="BND" />
    <option value="BOB" />
    <option value="BRL" />
    <option value="BSD" />
    <option value="BTN" />
    <option value="BWP" />
    <option value="BYN" />
    <option value="BZD" />
    <option value="CAD" />
    <option value="CDF" />
    <option value="CHF" />
    <option value="CLP" />
    <option value="CNY" />
    <option value="COP" />
    <option value="CRC" />
    <option value="CUC" />
    <option value="CUP" />
    <option value="CVE" />
    <option value="CZK" />
    <option value="DJF" />
    <option value="DKK" />
    <option value="DOP" />
    <option value="DZD" />
    <option value="EGP" />
    <option value="ERN" />
    <option value="FJD" />
    <option value="FKP" />
    <option value="GBP" />
    <option value="GEL" />
    <option value="GHS" />
    <option value="GIP" />
    <option value="GMD" />
    <option value="GNF" />
    <option value="GTQ" />
    <option value="GYD" />
    <option value="HKD" />
    <option value="HNL" />
    <option value="HRK" />
    <option value="HTG" />
    <option value="HUF" />
    <option value="IDR" />
    <option value="ILS" />
    <option value="INR" />
    <option value="IQD" />
    <option value="IRR" />
    <option value="ISK" />
    <option value="JMD" />
    <option value="JOD" />
    <option value="JPY" />
    <option value="KES" />
    <option value="KGS" />
    <option value="KHR" />
    <option value="KMF" />
    <option value="KPW" />
    <option value="KRW" />
    <option value="KWD" />
    <option value="KYD" />
    <option value="KZT" />
    <option value="LAK" />
    <option value="LBP" />
    <option value="LKR" />
    <option value="LRD" />
    <option value="LSL" />
    <option value="LYD" />
    <option value="MAD" />
    <option value="MDL" />
    <option value="MGA" />
    <option value="MKD" />
    <option value="MMK" />
    <option value="MNT" />
    <option value="MOP" />
    <option value="MRU" />
    <option value="MUR" />
    <option value="MVR" />
    <option value="MWK" />
    <option value="MXN" />
    <option value="MYR" />
    <option value="MZN" />
    <option value="NAD" />
    <option value="NGN" />
    <option value="NIO" />
    <option value="NOK" />
    <option value="NPR" />
    <option value="NZD" />
    <option value="OMR" />
    <option value="PAB" />
    <option value="PEN" />
    <option value="PGK" />
    <option value="PHP" />
    <option value="PKR" />
    <option value="PLN" />
    <option value="PYG" />
    <option value="QAR" />
    <option value="RON" />
    <option value="RSD" />
    <option value="RUB" />
    <option value="RWF" />
    <option value="SAR" />
    <option value="SBD" />
    <option value="SCR" />
    <option value="SDG" />
    <option value="SEK" />
    <option value="SGD" />
    <option value="SHP" />
    <option value="SLL" />
    <option value="SOS" />
    <option value="SRD" />
    <option value="SSP" />
    <option value="STN" />
    <option value="SVC" />
    <option value="SYP" />
    <option value="SZL" />
    <option value="THB" />
    <option value="TJS" />
    <option value="TMT" />
    <option value="TND" />
    <option value="TOP" />
    <option value="TRY" />
    <option value="TTD" />
    <option value="TWD" />
    <option value="TZS" />
    <option value="UAH" />
    <option value="UGX" />
    <option value="UYU" />
    <option value="UZS" />
    <option value="VES" />
    <option value="VND" />
    <option value="VUV" />
    <option value="WST" />
    <option value="XAF" />
    <option value="XCD" />
    <option value="XDR" />
    <option value="XOF" />
    <option value="XPF" />
    <option value="YER" />
    <option value="ZAR" />
    <option value="ZMW" />
    <option value="ZWL" />
</datalist>