@using mechanical.Models.PCE.Entities
@using mechanical.Models.PCE.Dto.PCEEvaluationDto
@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ReturnProductionDto

@{
    var currentUser = ViewData["CurrentUser"] as CreateUser;
    var latestEvaluation = ViewData["LatestEvaluation"] as PCEEvaluationReturnDto;
}

<section class="content">
    <div class="card direct-chat direct-chat-purple">
        <div class="card-header">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4>PCE Remark Detail</h4>
                </div>
            </div>
        </div>

        <div class="card-body">
            @if (latestEvaluation != null)
            {
                if (string.IsNullOrEmpty(latestEvaluation.SurveyRemark))
                {
                    <h6>There is no remark related to this Production Capacity</h6>
                }
                else
                {
                    <div class="card">
                        <h6>@latestEvaluation.SurveyRemark</h6>
                    </div>

                    if (currentUser.Role.Name == "Relation Manager")
                    {
                        <form action="/ProductionCapacity/HandleRemark" method="post" enctype="multipart/form-data">
                            <input name="PCEId" type="hidden" value="@latestEvaluation.Id" />
                            <input name="EvaluatorId" type="hidden" value="@latestEvaluation.EvaluatorId" />
                            <div class="card">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RemarkType" id="Justification" value="Justification">
                                    <label class="form-check-label" for="Justification">Justification</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RemarkType" id="Verification" value="Verification">
                                    <label class="form-check-label" for="Verification">Verification</label>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="Category">Category</label>
                                <input name="Category" type="text" class="form-control form-control-sm" id="Category">
                                <span validation-for="Category" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="File">Remark Document</label>
                                <input name="File" type="file" class="form-control form-control-sm" id="OtherDocument">
                                <span validation-for="File" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary" id="SendRemark">Send Remark Release</button>
                                </span>
                            </div>
                        </form>
                    }
                    else if (currentUser.Role.Name == "Maker Officer")
                    {
                        string formAction = Model.CurrentStatus == "Remark Justification" ? "/PCEEvaluation/RemarkRelease" : "/PCEEvaluation/Reevaluate";
                        string buttonLabel = Model.CurrentStatus == "Remark Justification" ? "Release Remark" : "Edit";

                        <div class="card">
                            <h6>@Model.CurrentStatus</h6>
                        </div>
                        <form action="@formAction" method="post">
                            <div class="card">
                                <textarea class="form-control" name="Remark">@latestEvaluation.SurveyRemark</textarea>
                            </div>

                            <input name="Id" type="hidden" value="@latestEvaluation.Id" />
                            <input name="EvaluatorId" type="hidden" value="@latestEvaluation.EvaluatorId" />
                            <input name="CurrentStatus" type="hidden" value="@Model.CurrentStatus" />
                            <div class="input-group">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary" id="Edit">@buttonLabel</button>
                                </span>
                            </div>
                        </form>
                    }
                }
            }
        </div>
    </div>
</section>