
@model mechanical.Models.Dto.UserDto.loginDto

@{
    Layout = null;
    var errorMessage= ViewData["Error"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Login </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mechanical.styles.css" asp-append-version="true" />
    <link href="~/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/icheck-bootstrap.min.css" rel="stylesheet" />

    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/overlayscrollbars/css/overlayscrollbars.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-purple">
            <div class="card-header text-center">
                <asp:Label ID="Label2" runat="server" Style="color: #000066; text-align: center;">CBE-Collateral Valuation System</asp:Label>
                <img alt="CBE Logo" style="width: 10%; float: right;" src="~/img/cbelogo.jpg" />
            </div>

            <div class="card-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "loginForm" }))
                {
                    <div class="form-group col-md-12" style="padding:0px;">
                        <label class="form-label"> Email:</label>
                        <div class="input-group">
                            <input type="text" asp-for="Email" name="Email" class="form-control" placeholder="Enter Your UserName" >

                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-12" style="padding:0px;">
                        <label class="form-label"> Password:</label>
                        <div class="input-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" >

                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>                   
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                        
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary bg-purple btn-block" style="border-color:#6f42c1"><i class="fa fa-sign-in-alt"></i> Sign In</button>
                        </div>
                    </div>
                    @*
                        <div class="row">
                        <div class="col-12">
                            <p class="col-md-6">@Html.ActionLink("Forget Password?", "PasswordRest", "UserManagement")</p>
                        </div>
                    </div> *@

                    <div class="row">
                        <div class="col-12">
                            @Html.ValidationMessage("Error", new { @class = "text-danger validation-error" })
                        </div>
                        <div class="col-12">
                            @{
                                if (ViewData["Error"] != null)
                                {
                                    <p class="text-danger">@errorMessage</p>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/lib/chart.js/chart.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

    @if (TempData["ToastMessage"] != null)
    {
        <script>
            $(function() {
                toastr.warning('@TempData["ToastMessage"]');
            });
        </script>
    }
    @if (Context.Items["ToastMessage"] != null)
    {
        <script>
            $(function() {
                toastr.warning('@Context.Items["ToastMessage"]');
            });
        </script>
    }
    @if (ViewBag.ToastMessage != null)
    {
        <script>
            $(function() {
                toastr.warning('@ViewBag.ToastMessage');
            });
        </script>
    }
</body>
</html>