@using mechanical.Models.PCE.Dto.PCECaseDto
@using mechanical.Models.PCE.Enum.ProductionCapacity

@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ProductionPostDto

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
    var status = ViewBag.Status as string;
    var emptyMessage = "There are no Productions found for this PCE Case.";
    var fetchUrl = "/ProductionCapacity/GetProductions?Status=" + status + "&PCECaseId=" + myPCECase.Id;

    if (!string.IsNullOrEmpty(status) && !status.Equals("All", StringComparison.OrdinalIgnoreCase))
    {
        emptyMessage = "There are no " + status + " Productions found for this PCE Case.";
    }
}

<div class="modal fade" id="addProductionModal" tabindex="-1" role="dialog" aria-labelledby="addProductionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductionModalLabel">   <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon"> Add Manufacturing Production Capacity Estimation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

           
            @using (Html.BeginForm("Create", "ProductionCapacity", FormMethod.Post, new { id = "addProductionForm"}))
            {
                <div class="modal-body" style="padding-top:0px;">
                    <div class="card-body">
                        <input asp-for="PCECaseId" value='@myPCECase.Id' type="hidden" id="PCECaseId" /> 
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="PropertyOwner">Property Owner <i class="text-danger">*</i></label>
                                <input asp-for="PropertyOwner" type="text" class="form-control form-control-sm" id="PropertyOwner" placeholder="Property Owner *">
                                <span id="PropertyOwner-error" asp-validation-for="PropertyOwner" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="Role">Role <i class="text-danger">*</i></label>
                                <select asp-for="Role" class="form-control form-control-sm" id="Role" >
                                    <option value="" disabled selected>Select Role</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Rent">Rent</option>
                                </select>
                                <span id="Role-error" asp-validation-for=" Role" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="Category"> Manufacturing Main Sector <i class="text-danger">*</i></label>
                                <select id="categoryDropdown" asp-for="Category" id="Category" class="form-control form-control-sm"
                                        asp-items="@(new SelectList(Enum.GetValues(typeof(ManufacturingSector)).Cast<ManufacturingSector>().Select(e => new SelectListItem { Text = e.GetType().GetMember(e.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).OfType<DisplayAttribute>().FirstOrDefault()?.Name, Value = e.ToString() }), "Value", "Text"))">
                                    <option value="" disabled selected>Select manufacturing main sector</option>
                                </select>
                                <span id="Category-error" asp-validation-for="Category" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="Type">Manufacturing Sub Sector <i class="text-danger">*</i></label>
                                <select id="typeDropdown" asp-for="Type"  required class="form-control form-control-sm">
                                    <option value="" disabled selected>Select manufacturing sub sector </option>
                                </select>
                                <span id="Type-error" asp-validation-for="Type" class="text-danger"></span>
                            </div>
                        </div>
                      
@*                        industerial production attributes *@

                        <div class="row" id="IndusteryProp">
                            <div class="form-group col-lg-3">
                                <label asp-for="MachineName">Machine Name <i class="text-danger">*</i></label>
                                <input asp-for="MachineName" type="text" class="form-control form-control-sm"  placeholder="Enter Machine Name" id="MachineName">
                                <span id="MachineName-error" asp-validation-for="MachineName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="Purpose">Purpose <i class="text-danger">*</i></label>
                                <input asp-for="Purpose" type="text" class="form-control form-control-sm" id="Purpose" placeholder="Please Enter Purpose">
                                <span id="Purpose-error" asp-validation-for="Purpose" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="ModelNo">Model Number </label>
                                <input asp-for="ModelNo" type="text" class="form-control form-control-sm" id="ModelNo" placeholder="Enter Model Number">
                                <span id="ModelNo-error" asp-validation-for="ModelNo" class="text-danger"></span>
                            </div>

                             @* <div class="form-group col-lg-3">
                                <label asp-for="CountryOfOrgin">Country Of Orgin <i class="text-danger">*</i></label>
                                <input asp-for="CountryOfOrgin" type="text" class="form-control form-control-sm" id="CountryOfOrgin" placeholder="Enter Country Of Orgin" required>

                                <span id="CountryOfOrgin-error" asp-validation-for="CountryOfOrgin" class="text-danger"></span>
                            </div> *@
                            <div class="form-group col-lg-3">
                                <label asp-for="CountryOfOrgin">Country of Origin <i class="text-danger">*</i></label>
                                <input asp-for="CountryOfOrgin" type="text" class="form-control" placeholder="Select Country of Origin" list="country" required>
                                <span id="CountryOfOrgin-error" asp-validation-for="CountryOfOrgin" class="text-danger"></span>
                             </div>
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label asp-for="BusinessLicenseNumber">Business License Number <i class="text-danger">*</i></label>
                                    <input asp-for="BusinessLicenseNumber" type="text" class="form-control form-control-sm" id="BusinessLicenseNumber" placeholder="Business License Number" >
                                    <span id="BusinessLicenseNumber-error" asp-validation-for="BusinessLicenseNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="ManufactureYear">Manufactuing Year <i class="text-danger">*</i> </label>
                                    <input asp-for="ManufactureYear" type="number" min="1900" max="2024" class="form-control form-control-sm" id="ManufactureYear" placeholder="1900">
                                    <span id="ManufactureYear-error" asp-validation-for="ManufactureYear" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="InvoiceNo">Invoice Number <i class="text-danger">*</i></label>
                                    <input asp-for="InvoiceNo" type="text" class="form-control form-control-sm" id="InvoiceNo" placeholder="Enter Invoice Number">
                                    <span id="InvoiceNo-error" asp-validation-for="InvoiceNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="SerialNo">Serial Number <i class="text-danger">*</i></label>
                                    <input asp-for="SerialNo" type="text" class="form-control form-control-sm" id="SerialNo" placeholder="XXXXXXXXXXXX">
                                    <span id="SerialNo-error" asp-validation-for="SerialNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                                                  
                        @* place of where machine installed *@

                        <div class="row" id="MachineryInstalledPlace">
                            <div class="form-group col-lg-4">
                                <label asp-for="MachineryInstalledPlace"> Machinery Installed Place <i class="text-danger">*</i></label>
                                <select asp-for="MachineryInstalledPlace" class="form-control form-control-sm" id="MachineryInstalledPlacelist" onchange="handleMachineryInstalledPlaceChange(this)" >
                                    <option value="">Select Machinery Installed Place</option>
                                    <option value="Private Owned LHC">Private Owned LHC</option>
                                    <option value="Private Rented LHC">Private Rented LHC</option>
                                    <option value="Industrial Park">Industrial Park</option>
                                </select>
                                <span id="MachineryInstalledPlace-error" asp-validation-for="MachineryInstalledPlace" class="text-danger"></span>
                                   
                            </div>
                           
                              
                        </div>
                @*       <div class="row" id="MachineryInstalledPlaceProp"> *@
                        <div id="PrivateownedLHC" style="display: none;">
                            <div class="row">
                             <div class="form-group col-lg-4">

                                <label asp-for="LHCNumber">LHC Number: </label>
                                    <input asp-for="LHCNumber" type="number" class="form-control form-control-sm" placeholder="LHC Number" id="LHCNumber" >
                                    <span id="LHCNumber-error" asp-validation-for="LHCNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="OwnerName">Owner Name in the LHC </label>
                                    <input asp-for="OwnerName" type="text" class="form-control form-control-sm" id="OwnerName" placeholder="XXXXXXXXXXX" >
                                <span id="OwnerName-error" asp-validation-for="OwnerName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="LHCDocument">Upload LHC Document </label>
                                    <input asp-for="LHCDocument" type="file" class="form-control  form-control-sm" id="LHCDocument" >
                                    <span id="LHCDocument-error" asp-validation-for="LHCDocument" class="text-danger"></span>
                            </div>
                           </div>
                        </div>
                        <div id="PrivateRentedLHC" style="display: none;">
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label asp-for="LHCNumber">LHC Number: </label>
                                    <input asp-for="LHCNumber" type="number" class="form-control form-control-sm" placeholder="LHC Number" id="LHCNumber">
                                    <span id="LHCNumber-error" asp-validation-for="LHCNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="OwnerName">Owner Name in the LHC </label>
                                    <input asp-for="OwnerName" type="text" class="form-control form-control-sm" id="OwnerName" placeholder="XXXXXXXXXXX">
                                    <span id="OwnerName-error" asp-validation-for="OwnerName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="LHCDocument">Upload LHC Document </label>
                                    <input asp-for="LHCDocument" type="file" class="form-control  form-control-sm" id="LHCDocument">
                                    <span id="LHCDocument-error" asp-validation-for="LHCDocument" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="ShadeRentAgreement">Upload Rent Agreement Document </label>
                                    <input asp-for="ShadeRentAgreement" type="file" class="form-control  form-control-sm" id="RentAgreement" >
                                    <span id="RentAgreement-error" asp-validation-for="ShadeRentAgreement" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div id="IndustrialParkrow" style="display: none;">
                           <div class="row">
                                <div class="form-group col-lg-4">
                                    <label asp-for="Industrialpark">Industrial Park <i class="text-danger">*</i></label>
                                    <select asp-for="Industrialpark" class="form-control form-control-sm" id="Industrialpark" onchange="handleIndestrialparkChange(this)">
                                        <option value="">Select Industrial Park</option>
                                        <option value="Adama">Adama</option>
                                        <option value="BahirDar">BahirDar</option>
                                        <option value="Bole lemi I">Bole lemi I</option>
                                        <option value="Bole lemi II">Bole lemi II</option>
                                        <option value="Kilinto">Kilinto</option>
                                        <option value="Combolcha">Combolcha</option>
                                        <option value="Dukem Eastern Industry zone">Dukem Eastern Industry zone</option>
                                        <option value="Hawassa">Hawassa</option>
                                        <option value="Jimma">Jimma</option>
                                        <option value="Mekelle">Mekelle</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="Others">Others, please specify</option>
                                    </select>
                                    <input type="text" class="form-control form-control-sm mt-2" id="OtherIndustrialpark" name="OtherIndustrialpark" style="display: none;">
                                    <span id="Industrialpark-error" asp-validation-for="Industrialpark" class="text-danger"></span>
                                </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="ShadeRentAgreement">Upload Shade Rent Agreement Document <i class="text-danger">*</i></label>
                                    <input asp-for="ShadeRentAgreement" type="file" class="form-control  form-control-sm" id="ShadeRentAgreement" >
                                    <span id="ShadeRentAgreement-error" asp-validation-for="ShadeRentAgreement" class="text-danger"></span>
                            </div>
                                </div>
                        </div>
                 
                        <div class="card">
                            <div class="card-body" style="padding-bottom:0px;">
                               @*  <h5 class="text-center">Physical Address of Property </h5> *@
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label asp-for="Region">Region <i class="text-danger">*</i></label>
                                        <select asp-for="Region" class="form-control form-control-sm" id="Region" onchange="handleRegionChange(this)" >
                                            <option value="">Select Region</option>
                                            <option value="Addis Ababa">Addis Ababa</option>
                                            <option value="Afar">Afar</option>
                                            <option value="Amhara">Amhara</option>
                                            <option value="Benshangul">Benshangul</option>
                                            <option value="Central Ethiopia">Central Ethiopia</option>
                                            <option value="Diredawa">Diredawa</option>
                                            <option value="Gambella">Gambella</option>
                                            <option value="Harrari">Harrari</option>
                                            <option value="Oromia">Oromia</option>
                                            <option value="Sidama">Sidama</option>
                                            <option value="Somali">Somali</option>
                                            <option value="South western Ethiopia">South western Ethiopia</option>
                                            <option value="Southern Ethiopia">Southern Ethiopia</option>
                                            <option value="Tigray">Tigray</option>
                                            <option value="Others">Others, please specify</option>
                                        </select>
                                        <input type="text" class="form-control form-control-sm mt-2" id="OtherRegion" name="OtherRegion" style="display: none;">
                                        <span id="Region-error" asp-validation-for="Region" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label asp-for="Zone">Zone</label>
                                        <input asp-for="Zone" type="text" class="form-control form-control-sm" id="Zone" placeholder="Enter Zone" oninput="validateZoneInput(this)">
                                        <span id="Zone-error" asp-validation-for="Zone" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label asp-for="City">City</label>
                                        <input asp-for="City" type="text" class="form-control form-control-sm" id="City" placeholder="Enter City" oninput="validateCityInput(this)">
                                        <span id="City-error" asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label asp-for="SubCity">Sub-City</label>
                                        <input asp-for="SubCity" type="text" class="form-control form-control-sm" id="SubCity" placeholder="Enter Sub City" oninput="validateSubCityInput(this)">
                                        <span id="SubCity-error" asp-validation-for="SubCity" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="form-group col-lg-3">
                                        <label asp-for="Wereda">Wereda</label>
                                        <input asp-for="Wereda" type="text" class="form-control form-control-sm" id="Wereda" placeholder="Enter Wereda" oninput="validateWeredaInput(this)">
                                        <span id="Wereda-error" asp-validation-for="Wereda" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label asp-for="Kebele">Kebele</label>
                                        <input asp-for="Kebele" type="text" class="form-control form-control-sm" id="Kebele" placeholder="Enter Kebele" oninput="validateKebeleInput(this)">
                                        <span id="Kebele-error" asp-validation-for="Kebele" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label asp-for="HouseNo">House Number</label>
                                        <input asp-for="HouseNo" type="text" class="form-control form-control-sm" id="HouseNo" placeholder="Enter House Number" oninput="validateHouseNoInput(this)">
                                        <span id="HouseNo-error" asp-validation-for="HouseNo" class="text-danger"></span>
                                    </div>


                                </div>
                            </div>

                        </div>
                       
                        <div class="row">
                            <div class="form-group col-lg-12">
                              <label asp-for="ProductDescription"> Manufacturing Production Capacity Description </label>
                                <textarea asp-for="ProductDescription" cols='10' rows='3' class="form-control  form-control-sm" id="ProductDescription" placeholder="Write product description here ..."> </textarea>
                                <span id="ProductDescription-error" asp-validation-for="ProductDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="BusinessLicense"> Upload Business License <i class="text-danger">*</i></label>
                                <input asp-for="BusinessLicense" type="file" class="form-control  form-control-sm" id="BusinessLicense" >
                                <span id="BusinessLicense-error" asp-validation-for="BusinessLicense" class="text-danger"></span>
                            </div> 
                            <div class="form-group col-lg-6">
                               <label asp-for="MachineSpecificationDocument">Commercial Invoice : <i class="text-danger">*</i></label>
                                <input asp-for="MachineSpecificationDocument" type="file" class="form-control  form-control-sm" id="MachineSpecificationDocument" required>
                                <span id="MachineSpecificationDocument-error" asp-validation-for="MachineSpecificationDocument" class="text-danger"></span>
                            </div>
                            </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="MachineOperationManual"> Performa Invoice : </label>
                                <input asp-for="MachineOperationManual" type="file" class="form-control  form-control-sm" id="MachineOperationManual">
                                <span id="MachineOperationManual-error" asp-validation-for="MachineOperationManual" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="OtherDocuments">Other Supporting Documents</label>
                                <input asp-for="OtherDocuments" type="file" class="form-control form-control-sm" id="OtherDocuments" multiple>
                                <span id="OtherDocuments-error" asp-validation-for="OtherDocuments" class="text-danger"></span>
                            </div>
                        </div>
                         <div class="row">
                            <button type="submit" class="col-xl-4  btn btn-sm bg-purple">Add</button>
                        </div>
                    </div>
                </div>
               
            }
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_PCEScriptPartial");
        await Html.RenderPartialAsync("PCEScriptPartial/Partial/_CommonLibrariesScriptPartial");
    }
}
<script>
    
    var fetchUrl = '@Html.Raw(fetchUrl)';
    @* var fetchUrl = '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(fetchUrl))'; *@
    var emptyMessage = '@Html.Raw(emptyMessage)';

    var typeDropdown = $("#typeDropdown");
    typeDropdown.prop("disabled", true);
    populateTypeDropdown();
    
    $("#categoryDropdown").change(function () {
        typeDropdown.prop("disabled", false);
        populateTypeDropdown();
    });
    $('#addProductionForm').submit(function (e) {
        e.preventDefault(); // Prevent form submission

        var isValid = true; // Initialize validation flag
        var formDataArray = $(this).serializeArray(); // Serialize form data into an array

<<<<<<< HEAD
        // Clear previous error messages
        $("#LHCNumber-error").text("");
        $("#OwnerName-error").text("");
        $("#LHCDocument-error").text("");
        $("#Industrialpark-error").text("");
        $("#shaderentagreement-error").text("");
               
        // Get selected machinery installation place
        var MachineryInstalledPlace = getAttributeByName(formDataArray, 'MachineryInstalledPlace').trim();
        
        // Validate based on selected installation place
           if (MachineryInstalledPlace === "Private Owned LHC") { // Private Owned LHC Validation
            var LHCNumber = getAttributeByName(formDataArray, 'LHCNumber').trim();
            var OwnerName = getAttributeByName(formDataArray, 'OwnerName').trim();
            var LHCDocument = $("#LHCDocument");
            // Validate LHC Number
            if (LHCNumber === "") {
                $("#LHCNumber-error").text("The field is required.");
                isValid = false;
            }

            // Validate Owner Name
            if (OwnerName === "") {
                $("#OwnerName-error").text("The field is required.");
                isValid = false;
            }

            // Validate LHC Document file
            if (LHCDocument.get(0).files.length === 0) {
                $("#LHCDocument-error").text("The field is required.");
                isValid = false;
            }

            // Stop if validation fails
            if (!isValid) {
                toastr.error("Please fill in all required fields.");
                return; // Exit if any validation fails
            }
        } else if (MachineryInstalledPlace === "Industrial Park") {
=======
        var Role = getAttributeByName(formDataArray, 'Role').trim();
        if (Role === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }

        var PropertyOwner = getAttributeByName(formDataArray, 'PropertyOwner').trim();
        if (PropertyOwner === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }

        var Category = getAttributeByName(formDataArray, 'Category').trim();
        if (Category === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }

        var MachineName = getAttributeByName(formDataArray, 'MachineName').trim();
        if (MachineName === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }

        var Purpose = getAttributeByName(formDataArray, 'Purpose').trim();
        if (Purpose === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }
        // var ModelNo = getAttributeByName(formDataArray, 'ModelNo').trim();
        // if (ModelNo === "") {
        //     toastr.error("Please fill in all required fields.");
        //     return;
        // }
        var CountryOfOrgin = getAttributeByName(formDataArray, 'CountryOfOrgin').trim();
        if (CountryOfOrgin === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }
        var BusinessLicenseNumber = getAttributeByName(formDataArray, 'BusinessLicenseNumber').trim();
        if (BusinessLicenseNumber === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }

        var Region = getAttributeByName(formDataArray, 'Region').trim();
        if (Region === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }
        // var ProductDescription = getAttributeByName(formDataArray, 'ProductDescription').trim();
        // if (ProductDescription === "") {
        //     toastr.error("Please fill in all required fields.");
        //     return;
        // }
        var MachineryInstalledPlace = getAttributeByName(formDataArray, 'MachineryInstalledPlace');
        if (MachineryInstalledPlace === "") {
            toastr.error("Please fill in all required fields.");
            return;
        }
        // if (MachineryInstalledPlace == "Private Owned LHC") {
        //     var LHCNumber = getAttributeByName(formDataArray, 'LHCNumber').trim();
        //     var OwnerName = getAttributeByName(formDataArray, 'OwnerName').trim();                
        //     var LHCDocument = $("#LHCDocument");
        //     if (LHCNumber === "" || OwnerName === "" || (LHCDocument.get(0).files.length === 0)) {
        //         toastr.error("Please fill in all required fields.");
        //         return;
        //     }
        // } 
        if (MachineryInstalledPlace == "Industrial Park") {
>>>>>>> main
            var Industrialpark = getAttributeByName(formDataArray, 'Industrialpark').trim();
            var ShadeRentAgreement = $("#ShadeRentAgreement");
            var Industrialpark = getAttributeByName(formDataArray, 'Industrialpark').trim();


            // Validate Industrial Park selection
            if (Industrialpark === "") {
                $("#Industrialpark-error").text("The field is required.");
                isValid = false;
            }

            // Validate Shade Rent Agreement file
            if (ShadeRentAgreement.get(0).files.length === 0) {
                $("#ShadeRentAgreement-error").text("The field is required.");
                isValid = false;
            }
            // Stop if validation fails
            if (!isValid) {
                toastr.error("Please fill in all required fields.");
                return; // Exit if any validation fails
            }
<<<<<<< HEAD
        } 
            
        if (isValid) {
            // Only submit the form if validation passes
            var formData = new FormData(this); // Create a new FormData object
            $.ajax({
                url: '/ProductionCapacity/Create',
                type: 'POST',
                data: formData,
                processData: false, // Do not process the data
                contentType: false, // Do not set content-type header
                success: function (response) {
                    toastr.success(response.message); // Show success message
                    loadProductions(fetchUrl, emptyMessage); // Reload production list
                    $('#addProductionModal').modal('hide'); // Hide modal
                    $('#addProductionForm')[0].reset(); // Reset the form
                },
                error: function (error) {
                    toastr.error("Unable to create PCE Request"); // Show error message
                    console.log(error); // Log error to console
                }
            });
=======
        }

        var BusinessLicense = $("#BusinessLicense");
        if (BusinessLicense.get(0).files.length === 0) {
            toastr.error("Please fill in all required fields.");
            return;
        }
        var MachineSpecificationDocument = $("#MachineSpecificationDocument");
        if (MachineSpecificationDocument.get(0).files.length === 0) {
            toastr.error("Please fill in all required fields.");
            return;
        }

        var formData = new FormData(this);
        $.ajax({
            url: '/ProductionCapacity/Create',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                toastr.success(response.message);
                loadProductions(fetchUrl, emptyMessage);
                $('#addProductionModal').modal('hide');
               
                $('#addProductionForm')[0].reset();
            },
            error: function (error) {
                toastr.error("Unable to create PCE Request");
                console.log(error);
            }
        });

    });

    document.getElementById("PropertyOwner").addEventListener("input", function () {
        var input = this.value;
        var alphanumericRegex = /^[A-Za-z0-9\s]+$/;
        if (!alphanumericRegex.test(input)) {
            this.setCustomValidity("Only alphanumeric characters are allowed.");
            document.getElementById("PropertyOwner-error").textContent = "Only alphanumeric characters are allowed.";
        } else {
            this.setCustomValidity("");
            document.getElementById("PropertyOwner-error").textContent = "";
>>>>>>> main
        }
    });


    function handleRegionChange(selectElement) {
        var otherRegionInput = document.getElementById("OtherRegion");
        if (selectElement.value === "Others") {
            otherRegionInput.style.display = "block";
            otherRegionInput.setAttribute("required", "required");
            otherRegionInput.setAttribute("name", "Region"); // Set the name attribute to "Region"
        } else {
            otherRegionInput.style.display = "none";
            otherRegionInput.removeAttribute("required");
            otherRegionInput.removeAttribute("name"); // Remove the name attribute
        }
    }
    
    
    function handleIndestrialparkChange(selectElement) {
        var OtherIndustrialpark = document.getElementById("OtherIndustrialpark");

        if (selectElement.value === "Others") {
            OtherIndustrialpark.style.display = "block";
            OtherIndustrialpark.setAttribute("required", "required");
            OtherIndustrialpark.setAttribute("name", "Industrialpark"); // Set the name attribute to "Industrialpark"
        } else {
            OtherIndustrialpark.style.display = "none";
            OtherIndustrialpark.removeAttribute("required");
            OtherIndustrialpark.removeAttribute("name"); // Remove the name attribute
        }
    }


    function validateInputFields(inputId, errorId, isRequired) {
        var input = document.getElementById(inputId).value;
        //var alphanumericRegex = /^[A-Za-z0-9]+$/;
        var errorMessage = "";
        console.log("from vaidate mech");
        // Check if the field is required and empty
        if (isRequired && input.trim() === "") {
            errorMessage = "This field is required.";
        } 
        // else if (!alphanumericRegex.test(input)) {
        //     errorMessage = "Only alphanumeric characters are allowed.";
        // }
        if (errorMessage) {
            document.getElementById(inputId).setCustomValidity(errorMessage);
            document.getElementById(errorId).textContent = errorMessage;
        } else {
            document.getElementById(inputId).setCustomValidity("");
            document.getElementById(errorId).textContent = "";
        }
    }
    document.getElementById("addProductionForm").addEventListener("submit", function (event) {
        validateInputFields("PropertyOwner", "PropertyOwner-error", true);
        validateInputFields("Role", "Role-error", true);
        validateInputFields("categoryDropdown", "Category-error", true);
        validateInputFields("typeDropdown", "Type-error", true);
        validateInputFields("MachineName", "MachineName-error", true);
        validateInputFields("Purpose", "Purpose-error", true);
        validateInputFields("ModelNo", "ModelNo-error", true);
        validateInputFields("CountryOfOrgin", "CountryOfOrgin-error", true);
        validateInputFields("BusinessLicenseNumber", "BusinessLicenseNumber-error", true);
        validateInputFields("ManufactureYear", "ManufactureYear-error", true);
        validateInputFields("InvoiceNo", "InvoiceNo-error", true);
        validateInputFields("SerialNo", "SerialNo-error", true);
        validateInputFields("MachineryInstalledPlacelist", "MachineryInstalledPlace-error", true);
        validateInputFields("Region", "Region-error", true);
        validateInputFields("ProductDescription", "ProductDescription-error", true);
        validateInputFields("BusinessLicense", "BusinessLicense-error", true);
        validateInputFields("MachineSpecificationDocument", "MachineSpecificationDocument-error", true);

        


        console.log("from submit mech");
        if (!this.checkValidity()) {
            event.preventDefault();  // Prevent form submission
        }
    });
<<<<<<< HEAD

    
</script>
=======
</script>
<datalist id="country">
    <option value="Afghanistan" />
    <option value="Albania" />
    <option value="Algeria" />
    <option value="American Samoa" />
    <option value="Andorra" />
    <option value="Angola" />
    <option value="Anguilla" />
    <option value="Antarctica" />
    <option value="Antigua and Barbuda" />
    <option value="Argentina" />
    <option value="Armenia" />
    <option value="Aruba" />
    <option value="Australia" />
    <option value="Austria" />
    <option value="Azerbaijan" />
    <option value="Bahamas" />
    <option value="Bahrain" />
    <option value="Bangladesh" />
    <option value="Barbados" />
    <option value="Belarus" />
    <option value="Belgium" />
    <option value="Belize" />
    <option value="Benin" />
    <option value="Bermuda" />
    <option value="Bhutan" />
    <option value="Bolivia" />
    <option value="Bosnia and Herzegovina" />
    <option value="Botswana" />
    <option value="Bouvet Island" />
    <option value="Brazil" />
    <option value="British Indian Ocean Territory" />
    <option value="Brunei Darussalam" />
    <option value="Bulgaria" />
    <option value="Burkina Faso" />
    <option value="Burundi" />
    <option value="Cambodia" />
    <option value="Cameroon" />
    <option value="Canada" />
    <option value="Cape Verde" />
    <option value="Cayman Islands" />
    <option value="Central African Republic" />
    <option value="Chad" />
    <option value="Chile" />
    <option value="China" />
    <option value="Christmas Island" />
    <option value="Cocos (Keeling) Islands" />
    <option value="Colombia" />
    <option value="Comoros" />
    <option value="Congo" />
    <option value="Congo, The Democratic Republic of The" />
    <option value="Cook Islands" />
    <option value="Costa Rica" />
    <option value="Cote D'ivoire" />
    <option value="Croatia" />
    <option value="Cuba" />
    <option value="Cyprus" />
    <option value="Czech Republic" />
    <option value="Denmark" />
    <option value="Djibouti" />
    <option value="Dominica" />
    <option value="Dominican Republic" />
    <option value="Ecuador" />
    <option value="Egypt" />
    <option value="El Salvador" />
    <option value="Equatorial Guinea" />
    <option value="Eritrea" />
    <option value="Estonia" />
    <option value="Ethiopia" />
    <option value="Falkland Islands (Malvinas)" />
    <option value="Faroe Islands" />
    <option value="Fiji" />
    <option value="Finland" />
    <option value="France" />
    <option value="French Guiana" />
    <option value="French Polynesia" />
    <option value="French Southern Territories" />
    <option value="Gabon" />
    <option value="Gambia" />
    <option value="Georgia" />
    <option value="Germany" />
    <option value="Ghana" />
    <option value="Gibraltar" />
    <option value="Greece" />
    <option value="Greenland" />
    <option value="Grenada" />
    <option value="Guadeloupe" />
    <option value="Guam" />
    <option value="Guatemala" />
    <option value="Guinea" />
    <option value="Guinea-bissau" />
    <option value="Guyana" />
    <option value="Haiti" />
    <option value="Heard Island and Mcdonald Islands" />
    <option value="Holy See (Vatican City State)" />
    <option value="Honduras" />
    <option value="Hong Kong" />
    <option value="Hungary" />
    <option value="Iceland" />
    <option value="India" />
    <option value="Indonesia" />
    <option value="Iran, Islamic Republic of" />
    <option value="Iraq" />
    <option value="Ireland" />
    <option value="Israel" />
    <option value="Italy" />
    <option value="Jamaica" />
    <option value="Japan" />
    <option value="Jordan" />
    <option value="Kazakhstan" />
    <option value="Kenya" />
    <option value="Kiribati" />
    <option value="Korea, Democratic People's Republic of" />
    <option value="Korea, Republic of" />
    <option value="Kuwait" />
    <option value="Kyrgyzstan" />
    <option value="Lao People's Democratic Republic" />
    <option value="Latvia" />
    <option value="Lebanon" />
    <option value="Lesotho" />
    <option value="Liberia" />
    <option value="Libyan Arab Jamahiriya" />
    <option value="Liechtenstein" />
    <option value="Lithuania" />
    <option value="Luxembourg" />
    <option value="Macao" />
    <option value="Macedonia, The Former Yugoslav Republic of" />
    <option value="Madagascar" />
    <option value="Malawi" />
    <option value="Malaysia" />
    <option value="Maldives" />
    <option value="Mali" />
    <option value="Malta" />
    <option value="Marshall Islands" />
    <option value="Martinique" />
    <option value="Mauritania" />
    <option value="Mauritius" />
    <option value="Mayotte" />
    <option value="Mexico" />
    <option value="Micronesia, Federated States of" />
    <option value="Moldova, Republic of" />
    <option value="Monaco" />
    <option value="Mongolia" />
    <option value="Montserrat" />
    <option value="Morocco" />
    <option value="Mozambique" />
    <option value="Myanmar" />
    <option value="Namibia" />
    <option value="Nauru" />
    <option value="Nepal" />
    <option value="Netherlands" />
    <option value="Netherlands Antilles" />
    <option value="New Caledonia" />
    <option value="New Zealand" />
    <option value="Nicaragua" />
    <option value="Niger" />
    <option value="Nigeria" />
    <option value="Niue" />
    <option value="Norfolk Island" />
    <option value="Northern Mariana Islands" />
    <option value="Norway" />
    <option value="Oman" />
    <option value="Pakistan" />
    <option value="Palau" />
    <option value="Palestinian Territory, Occupied" />
    <option value="Panama" />
    <option value="Papua New Guinea" />
    <option value="Paraguay" />
    <option value="Peru" />
    <option value="Philippines" />
    <option value="Pitcairn" />
    <option value="Poland" />
    <option value="Portugal" />
    <option value="Puerto Rico" />
    <option value="Qatar" />
    <option value="Reunion" />
    <option value="Romania" />
    <option value="Russian Federation" />
    <option value="Rwanda" />
    <option value="Saint Helena" />
    <option value="Saint Kitts and Nevis" />
    <option value="Saint Lucia" />
    <option value="Saint Pierre and Miquelon" />
    <option value="Saint Vincent and The Grenadines" />
    <option value="Samoa" />
    <option value="San Marino" />
    <option value="Sao Tome and Principe" />
    <option value="Saudi Arabia" />
    <option value="Senegal" />
    <option value="Serbia and Montenegro" />
    <option value="Seychelles" />
    <option value="Sierra Leone" />
    <option value="Singapore" />
    <option value="Slovakia" />
    <option value="Slovenia" />
    <option value="Solomon Islands" />
    <option value="Somali" />
    <option value="South Africa" />
    <option value="South Georgia and The South Sandwich Islands" />
    <option value="Spain" />
    <option value="Sri Lanka" />
    <option value="Sudan" />
    <option value="Suriname" />
    <option value="Svalbard and Jan Mayen" />
    <option value="Swaziland" />
    <option value="Sweden" />
    <option value="Switzerland" />
    <option value="Syrian Arab Republic" />
    <option value="Taiwan, Province of China" />
    <option value="Tajikistan" />
    <option value="Tanzania, United Republic of" />
    <option value="Thailand" />
    <option value="Timor-leste" />
    <option value="Togo" />
    <option value="Tokelau" />
    <option value="Tonga" />
    <option value="Trinidad and Tobago" />
    <option value="Tunisia" />
    <option value="Turkey" />
    <option value="Turkmenistan" />
    <option value="Turks and Caicos Islands" />
    <option value="Tuvalu" />
    <option value="Uganda" />
    <option value="Ukraine" />
    <option value="United Arab Emirates" />
    <option value="United Kingdom" />
    <option value="United States" />
    <option value="United States Minor Outlying Islands" />
    <option value="Uruguay" />
    <option value="Uzbekistan" />
    <option value="Vanuatu" />
    <option value="Venezuela" />
    <option value="Viet Nam" />
    <option value="Virgin Islands, British" />
    <option value="Virgin Islands, U.S" />
    <option value="Wallis and Futuna" />
    <option value="Western Sahara" />
    <option value="Yemen" />
    <option value="Zambia" />
    <option value="Zimbabwe" />
</datalist>
>>>>>>> main
