﻿@using mechanical.Models.Dto.UserDto

@{
    var currentUser = ViewData["CurrentUser"] as ReturnUserDto;
    var currentUserRole = currentUser?.Role?.Name as string;
    var status = ViewBag.Status as string;

    var emptyMessage = "There are no PCE Cases";
    var fetchUrl = "/PCECase/GetPCECases?Status=" + status;

    if (!string.IsNullOrEmpty(status) && !status.Equals("All", StringComparison.OrdinalIgnoreCase))
    {
        emptyMessage = "There are no " + status + " PCE Cases";
    }
}
<script>
    function initializePCECasesDataTable(data, emptyMessage) {
        var columns = [
            {
                data: 'CreatedAt',
                width: '15%',
                render: function (data) {
                    var date = new Date(data);
                    return date.toISOString().split('T')[0];
                }
            },
            { data: 'CaseNo', width: '10%' },
            { data: 'ApplicantName', width: '15%' },
            { data: 'CustomerId', width: '15%' },            
            @if (status != "All")
            {
                @: { data: 'NoOfProductions', width: '10%' },
            }
            { data: 'TotalNoOfProductions', width: '10%' },      
            {
                data: 'Id',
                width: '10%',
                render: function (data, type, row) {            
                    const detailUrl = '@Url.Action("Detail", "PCECase")?Id=' + data + '&Status=@ViewBag.Status';
                    const editUrl = '@Url.Action("Edit", "PCECase")?Id=' + data;
                    const deleteUrl = '@Url.Action("Delete", "PCECase")?Id=' + data;
                    const summaryUrl = '@Url.Action("PCESummary", "PCECase")?Id=' + data;
                    const timeLineUrl = '@Url.Action("Index", "PCECaseTimeLine")?PCECaseId=' + data;

                    const editLink = '@currentUserRole' === "Relation Manager" ? ` | <a href="${editUrl}">Edit</a>` : '';
                    @* const deleteLink = '@currentUserRole' === "Relation Manager" ? ` | <a href="${deleteUrl}" onclick="openDeletionModal('${data}')">Delete</a>` : ''; *@
                    const summaryLink = ` | <a href="${summaryUrl}">Summary</i></a>`;
                    const timeLineLink = ` | <a href="${timeLineUrl}"><i class="nav-icon fas fa-sitemap"></i></a>`;                   


                    let link = `<a href="${detailUrl}">Details</a>`;                

                    @if (currentUserRole == "Relation Manager")
                    {
                            <text>
                                @* if (row.Status === "New" || row.Status === "Returned" || row.Status === "Pending") { *@                              
                                if (row.Status === "New") {
                                    link += editLink;
                                    @* link += editLink + deleteLink; *@
                                }
                                else if (row.Status === "Completed") {
                                    link += summaryLink;
                                }
                        </text>
                    }

                    return link + timeLineLink;                        
                }
            }
        ];

        const $PCECasesTable = $('#MyPCECasesDatatable');
        $PCECasesTable.DataTable({
            language: {
                emptyTable: emptyMessage
            },
            responsive: true,
            pageLength: 8,
            lengthChange: false,
            autoWidth: false,
            buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My PCE Case - pdf' }, { extend: 'print', title: 'My PCE Case - Print' }, "colvis"],
            data: data,
            columns: columns,
            order: [[1, 'desc']]
        }).buttons().container().appendTo('#MyPCECasesDatatable_wrapper .col-md-6:eq(0)');
    }

    function loadPCECases(fetchUrl, emptyMessage) {
        $.ajax({
            url: fetchUrl,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                const $PCECasesTable = $('#MyPCECasesDatatable');
                if ($.fn.DataTable.isDataTable($PCECasesTable)) {
                    $PCECasesTable.DataTable().destroy();
                }
                initializePCECasesDataTable(data, emptyMessage);
            },
            error: function (error) {
                toastr.error("Failed to load PCE Cases");
                console.log(error);
            }
        });
    }
</script>
