@*      public Guid Id { get; set; }
        public required string CaseNo { get; set; }
        public required string ApplicantName { get; set; }
        public string CustomerUserId { get; set; } = string.Empty;
        public string CustomerEmail { get; set; } = string.Empty;
        public Guid DistrictId { get; set; }
        public string CurrentStage { get; set; } = string.Empty;
        public string CurrentStatus { get; set; } = string.Empty;
        public DateTime CreationDate { get; set; }
        public DateTime MakerAssignmentDate { get; set; } *@

@using mechanical.Models.PCE.Dto.PCECaseDto
@{
    var myCase = ViewData["pcecaseDtos"] as PCECaseReturntDto;

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Applicant Information</h3>
                    </div>
                    <div class="card-body">
                        <h6><strong>Name:</strong> @myCase.ApplicantName</h6>
                        <h6 style="margin-top:1.2rem;"><strong>Customer Id: </strong> @myCase.CustomerUserId</h6>
                        <h6 style="margin-top:1.2rem;"><strong>Email:</strong> @myCase.CustomerEmail</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
    

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Case Information</h3>
                    </div>
                    <div class="card-body">
                        @* <h6><strong>Segment:</strong> @myCase.Type</h6> *@

                        <h6 style="margin-top:1.2rem;"><strong>Case No:</strong> @myCase.CaseNo </h6>
                        <h6 style="margin-top:1.2rem;"><strong>Status:</strong> @myCase.CurrentStatus </h6>
                        <h6 style="margin-top:1.2rem;"><strong>Center: </strong> @myCase.District </h6>
                        <h6 style="margin-top:1.2rem;"><strong>Total Number of PCE:</strong> @myCase.TotalNoOfCollateral</h6>
                    </div>
                </div>
            </div>

          @*   <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Attached Document</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>File Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                                                <tbody>
                                @{
                                    if(myCase.BussinessLicence == null)
                                    {
                                        <tr>
                                            <td colspan="3">There is no document related to this case</td>
                                        </tr>
                                    }else
                                    {
                                        <tr>

                                            <td>@myCase.BussinessLicence.Name</td>
                                            <td>@myCase.BussinessLicence.Catagory</td>
                                            <td><a href="/UploadFile/ViewFile/' + @myCase.BussinessLicence.Id + '" target="_blank">View <i class="fas fas-solid fa-eye"></i></a>&nbsp;|&nbsp;<a href="/UploadFile/DownloadFile/' + @myCase.BussinessLicence.Id+ '" target="_blank">Download <i class="fas fas-solid fa-download"></i></a></td>
                                        </tr>
                                    }
                                }
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</section>