@* @using mechanical.Models.PCE.Dto.ProductionUploadFileDto *@
@using mechanical.Models.Dto.UploadFileDto
@using mechanical.Models.PCE.Entities
@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ReturnProductionDto;
@{
    var productionFiles = ViewData["productionFiles"] as IEnumerable<ReturnFileDto>;
    var rejectedProductions = ViewData["RejectedCollateral"] as ProductionReject;
    var user = ViewData["user"] as CreateUser;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Production Capacity Information</h3>
                    </div>
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(Model.PropertyOwner)){<h6><strong>Property Owner:</strong> @Model.PropertyOwner</h6> }
                        @if (!string.IsNullOrEmpty(Model.Role)){<h6 style="margin-top:1.2rem;"><strong>Role: </strong> @Model.Role</h6>}
                        @if (!string.IsNullOrEmpty(Model.Category)){ <h6 style="margin-top:1.2rem;"><strong>Manufacturing Main Sector :</strong> @Model.Category</h6> }
                        @if (!string.IsNullOrEmpty(Model.Type)){  <h6 style="margin-top:1.2rem;"><strong>Manufacturing Sub Sector:</strong> @Model.Type</h6> }
                        @if (!string.IsNullOrEmpty(Model.MachineName))  { <h6 style="margin-top:1.2rem;"><strong>Machine Name:</strong> @Model.MachineName</h6>  }
                        @if (!string.IsNullOrEmpty(Model.Purpose)) { <h6 style="margin-top:1.2rem;"><strong>Purpose:</strong> @Model.Purpose</h6>  }
                        @if (!string.IsNullOrEmpty(Model.ModelNo)) { <h6 style="margin-top:1.2rem;"><strong>Model Number:</strong> @Model.ModelNo</h6> }
                        @if (!string.IsNullOrEmpty(Model.ProductionBussinessLicence)) { <h6 style="margin-top:1.2rem;"><strong>Business License Number:</strong> @Model.ProductionBussinessLicence</h6> }    
                        @if (Model.ManufactureYear.HasValue) {<h6 style="margin-top:1.2rem;"><strong>Manufacturing Year:</strong> @Model.ManufactureYear.Value.ToString()</h6> }
                        @if (!string.IsNullOrEmpty(Model.InvoiceNo)){<h6 style="margin-top:1.2rem;"><strong>Invoice Number:</strong> @Model.InvoiceNo</h6> }
                        @if (!string.IsNullOrEmpty(Model.SerialNo))  { <h6 style="margin-top:1.2rem;"><strong>Serial Number:</strong> @Model.SerialNo</h6> }
                    </div>
                </div>
                 
           
                 <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Machinery Installed Place Information</h3>
                    </div>
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(Model.MachineryInstalledPlace)){ <h6><strong>Installed Place :</strong> @Model.MachineryInstalledPlace</h6> }
                        @if (!string.IsNullOrEmpty(Model.LHCNumber)) { <h6 style="margin-top:1.2rem;"><strong>LHC Number:</strong> @Model.LHCNumber</h6>  }
                        @if (!string.IsNullOrEmpty(Model.OwnerName)) { <h6 style="margin-top:1.2rem;"><strong>Owner Name in the LHC: </strong> @Model.OwnerName</h6> }
                        @if (!string.IsNullOrEmpty(Model.Industrialpark))  {<h6 style="margin-top:1.2rem;"><strong>Industrial Park:</strong> @Model.Industrialpark</h6>  }
           
                    </div>
                </div>

                
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Property Address</h3>
                    </div>
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(Model.Region)){ <h6><strong>Region:</strong> @Model.Region</h6> }
                        @if (!string.IsNullOrEmpty(Model.Zone)) { <h6 style="margin-top:1.2rem;"><strong>Zone:</strong> @Model.Zone</h6>  }
                        @if (!string.IsNullOrEmpty(Model.City)) { <h6 style="margin-top:1.2rem;"><strong>City: </strong> @Model.City</h6> }
                        @if (!string.IsNullOrEmpty(Model.SubCity))  {<h6 style="margin-top:1.2rem;"><strong>Sub-City:</strong> @Model.SubCity</h6>  }
                        @if (!string.IsNullOrEmpty(Model.Wereda)){<h6 style="margin-top:1.2rem;"><strong>Woreda: </strong> @Model.Wereda</h6> }
                        @if (!string.IsNullOrEmpty(Model.Kebele)){<h6 style="margin-top:1.2rem;"><strong>Kebele:</strong> @Model.Kebele</h6> }
                    </div>
                </div>
            </div>
            

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Attached PCE Document</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>File Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    if (productionFiles != null && productionFiles.Count() == 0)
                                    {
                                        <tr class="text-center">
                                            <td colspan="3">
                                                <h6>There is no document related to this PCE</h6>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var productionFile in productionFiles)
                                        {
                                            <tr>
                                                <td>
                                                    <div title="@productionFile.Name">
                                                        <div style="max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            @productionFile.Name
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div title="@productionFile.Catagory">
                                                        <div style="max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            @productionFile.Catagory
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ViewFile","UploadFile" ,new { Id =productionFile.Id })" target="_blank">
                                                        View <i class="fas fas-solid fa-eye"></i>
                                                    </a>&nbsp;|&nbsp;
                                                    <a href="@Url.Action("DownloadFile","UploadFile" ,new { Id = productionFile.Id })" target="_blank">
                                                        Download <i class="fas fas-solid fa-download"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-danger">Returned PCE Information</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Returned  By</th>
                                    <th>Reason for return </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                    @{
                                    if (rejectedProductions == null || user == null)
                                    {

                                        <tr class="text-center"> <td colspan="3"><h6>There is no document related to this PCE</h6></td></tr>
                                        }
                                        else
                                    {
                                            <tr>
                                                <td><a href="@Url.Action("Profile","UserManagment")?id=@user.Id">@user.Name</a> (@user.Role.Name)</td>
                                            <td>@rejectedProductions.RejectionComment</td>
                                                
                                            </tr>  
                                        }
                                    }
                            </tbody>
                        </table>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Production Capacity Description</h3>
                    </div>
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(Model.ProductDescription))
                        {
                            <h6> @Model.ProductDescription</h6>
                        }
                        @*  @if (!string.IsNullOrEmpty(Model.Zone)) { <h6 style="margin-top:1.2rem;"><strong>Zone:</strong> @Model.Zone</h6>  }
                        @if (!string.IsNullOrEmpty(Model.City)) { <h6 style="margin-top:1.2rem;"><strong>City: </strong> @Model.City</h6> }
                        @if (!string.IsNullOrEmpty(Model.SubCity))  {<h6 style="margin-top:1.2rem;"><strong>Sub-City:</strong> @Model.SubCity</h6>  }
                        @if (!string.IsNullOrEmpty(Model.Wereda)){<h6 style="margin-top:1.2rem;"><strong>Woreda: </strong> @Model.Wereda</h6> }
                        @if (!string.IsNullOrEmpty(Model.Kebele)){<h6 style="margin-top:1.2rem;"><strong>Kebele:</strong> @Model.Kebele</h6> } *@
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>