﻿@using mechanical.Models.PCE.Entities
@using mechanical.Models.Dto.UploadFileDto
@using mechanical.Models.PCE.Dto.ProductionCapacityDto
@using mechanical.Models.PCE.Dto.PCEEvaluationDto
@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ReturnProductionDto

@{
    var LatestEvaluation = ViewData["LatestEvaluation"] as PCEEvaluationReturnDto;
    var Reestimation = ViewData["Reestimation"] as ProductionCapacityReestimation;
    var CurrentUser = ViewData["CurrentUser"] as CreateUser;
    ViewData["Title"] = ViewBag.Title as string;
}

<section class="content">
    <section class="col-xl-12 connectedSortable">

        @{
            if (Reestimation != null)
            {
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-warning">Reason for Reestimation</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            @Reestimation.Reason
                        </div>
                    </div>
                </div>
            }
        }

        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info center">General Information</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="container col-12">

                        <div class="row">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Manufacturing Main Sector:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.Category</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Manufacturing sector:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.Type</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Machine Name:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.MachineName</div>
                                </div>
                            </div>


                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Purpose:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.Purpose</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label> Manufacture Year:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.ManufactureYear</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Property Address:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.Region</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Model Number:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.ModelNo</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Production Type:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.ProductionType</div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Bussiness Licence:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.ProductionBussinessLicence</div>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-4">
                                <div class="col-lg-6">
                                    <label>Installed Place:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>@Model.MachineryInstalledPlace</div>
                                </div>
                            </div>
                            @if (Model.MachineryInstalledPlace == "Private Owned LHC")
                            {
                                <div class="row col-lg-4">
                                    <div class="col-lg-6">
                                        <label>LHC Number::</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>@Model.LHCNumber</div>
                                    </div>
                                </div>
                                <div class="row col-lg-4">
                                    <div class="col-lg-6">
                                        <label>Owner Name in the LHC:</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>@Model.OwnerName</div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="row col-lg-4">
                                    <div class="col-lg-6">
                                        <label>Industrial Park:</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>@Model.Industrialpark</div>
                                    </div>
                                </div>

                            }

                        </div>
                        <div class="row" style="margin-top:1.25rem;">
                            <div class="row col-lg-12">
                                <div class="col-lg-4">
                                    <label>Poduction Capcity Description:</label>
                                </div>
                                <div class="col-lg-8">
                                    <div>@Model.ProductDescription</div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-success text-center"> PCE Valuation Result</h3>
            </div>
            <div class="card-body">
                @{
                    if (LatestEvaluation != null)
                    {
                        <div class="row">
                            @await Html.PartialAsync("Partial/_RMEvaluationDetailPartial", LatestEvaluation)
                        </div>
                    }
                    else
                    {
                        <div>
                            <h6 class="text-center">
                                Not evaluated yet.

                            </h6>
                        </div>
                    }
                }

            </div>
        </div>
    </section>
</section>