@model mechanical.Models.PCE.Dto.ProductionCapacityDto.PlantEditPostDto

@{
    var productionFiles = ViewData["ProductionFiles"] as IEnumerable<ReturnFileDto>;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6">
                <h4 class="m-0">Edit Production Capacitty</h4>
            </div>
            <div class="col-sm-6 col-xl-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("RM", "Dashboard")">Home</a></li>
                    <li class="breadcrumb-item active">Edit Production Capacitty</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <section class=" connectedSortable">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <form method="post" enctype="multipart/form-data" asp-action="PlantEdit" onsubmit="return validateForm();">

                        <input asp-for="Id" hidden />
                        <input asp-for="PCECaseId" id="CaseId"  hidden/>
                        <input asp-for="ProductionType" value="Plant" hidden />
                        <div class="row">
@*                             <div class="form-group col-lg-4">
                                <label asp-for="PlantName"></label><i class="text-danger">*</i>
                                <input asp-for="PlantName" class="form-control form-control-sm" id="PlantName" placeholder="Name of Plant">
                                <span id="PlantName-error" asp-validation-for="PlantName" class="text-danger"></span>
                            </div> *@





                            <div class="form-group col-lg-4">
                                <label asp-for="PlantName">Type of Farming <i class="text-danger">*</i></label>
                                <select asp-for="PlantName" class="form-control form-control-sm" id="PlantName" required>
                                    <option value="" disabled selected>Select Type of Farming *</option>
                                    <option value="Coffee">Coffee</option>
                                    <option value="Fruit">Fruit</option>
                                    <option value="Citrus">Citrus</option>
                                    <option value="Mango">Mango</option>
                                    <option value="Grapevine">Grapevine</option>
                                    <option value="Papaya">Papaya</option>
                                    <option value="Banana">Banana</option>
                                    <option value="Avocado">Avocado</option>
                                    <option value="Others, please specify">Others, please specify</option>
                                </select>
                                <span id="PlantName-error" asp-validation-for="PlantName" class="text-danger"></span>
                            </div>

                            <div class="form-group col-lg-4 d-none" id="OtherPlantNameInput">
                                <label >Please enter the Farming Type <i class="text-danger">*</i></label>
                                <input asp-for="OtherPlantName" class="form-control form-control-sm" id="OtherPlantName" placeholder="Other Type of Farming" required>
                                <span id="OtherPlantName-error" asp-validation-for="OtherPlantName" class="text-danger"></span>
                            </div>






                            <div class="form-group col-lg-4">
                                <label asp-for="PropertyOwner"></label><i class="text-danger">*</i>
                                <input asp-for="PropertyOwner" type="text" class="form-control form-control-sm" id="PropertyOwner" placeholder="Property Owner">
                                <span id="PropertyOwner-error" typeof="text" class="text-danger" asp-validation-for="PropertyOwner"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="Role">Role <i class="text-danger">*</i></label>
                                <select asp-for="Role" class="form-control form-control-sm" id="Role" required>
                                    <option value="" disabled selected>Select Role *</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Guarantor">Guarantor</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="border my-2 p-2 position-relative shadow" style="border-color: darkgray !important;border-radius:1px">
                            <div class="bg-white px-2 position-absolute top-0 start-50 translate-middle"><h6>General Information of the Plant </h6></div>

                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label asp-for="OwnerOfMachinery"></label> <i class="text-danger">*</i>
                                    <input asp-for="OwnerOfMachinery" id="OwnerOfMachinery" class="form-control form-control-sm" placeholder="Enter Trade License No">
                                    <span asp-validation-for="OwnerOfMachinery" id="OwnerOfMachinery-error" class="text-danger"></span>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label asp-for="CountryOfOrgin"> </label><i class="text-danger">*</i>
                                    <input asp-for="CountryOfOrgin" class="form-control form-control-sm" id="CountryOfOrgin" placeholder="Country of Orgin">
                                    <span asp-validation-for="CountryOfOrgin" class="text-danger" id="CountryOfOrgin-error"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="PlaceOfInspection"> </label><i class="text-danger">*</i>
                                    <input asp-for="PlaceOfInspection" class="form-control form-control-sm" id="PlaceOfInspection" placeholder="Place of Inspection">
                                    <span asp-validation-for="PlaceOfInspection" class="text-danger" id="PlaceOfInspection-error"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label asp-for="DateOfInspection"> </label><i class="text-danger">*</i>
                                    <input asp-for="DateOfInspection" class="form-control form-control-sm" id="DateOfInspection" placeholder="Date of Inspection">
                                    <span asp-validation-for="DateOfInspection" class="text-danger" id="DateOfInspection-error"></span>
                                </div>
                          
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label asp-for="TradeLicenseNumber"></label><i class="text-danger">*</i>
                                    <input asp-for="TradeLicenseNumber" class="form-control form-control-sm" placeholder="Enter Trade License No" id="TradeLicenseNumber">
                                    <span asp-validation-for="TradeLicenseNumber" class="text-danger" id="TradeLicenseNumber-error"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="LHCNumber"></label> <i class="text-danger">*</i>
                                    <input asp-for="LHCNumber" class="form-control form-control-sm" id="LHCNumber" placeholder="Please Enter LHCNo">
                                    <span asp-validation-for="LHCNumber" class="text-danger" id="LHCNumber-error"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="OwnerNameLHC"> </label> <i class="text-danger">*</i>
                                    <input asp-for="OwnerNameLHC" class="form-control form-control-sm" id="OwnerNameLHC" placeholder="Enter OwnerNameLHC ">
                                    <span id="OwnerNameLHC-error" asp-validation-for="OwnerNameLHC" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label asp-for="YearOfManifacturing"></label> <i class="text-danger">*</i>
                                    <input asp-for="YearOfManifacturing" min="1900" max="2024" class="form-control form-control-sm" id="YearOfManifacturing" placeholder="1900">
                                    <span asp-validation-for="YearOfManifacturing" class="text-danger" id="YearOfManifacturing-error"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="PurposeOfCollateral"></label> <i class="text-danger">*</i>
                                    <input asp-for="PurposeOfCollateral" class="form-control form-control-sm" id="PurposeOfCollateral" placeholder="Enter Purpose Of PCE">
                                    <span id="PurposeOfCollateral-error" asp-validation-for="PurposeOfCollateral" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="ObsolescenceStatus"></label> <i class="text-danger">*</i>
                                    <select asp-for="ObsolescenceStatus" class="form-control form-control-sm" id="ObsolescenceStatus">
                                        <option value="" disabled selected>Select Obsolescence Status</option>
                                        <option value="Good">Good/Functional</option>
                                        <option value="Obsolete">Obsolete</option>
                                        <option value="PartiallyObsolete">Partially Obsolete</option>
                                        <option value="Outdated">Outdated</option>
                                        <option value="EndOfLife">End-of-Life</option>
                                    </select>
                                    <span id="ObsolescenceStatus-error" asp-validation-for="ObsolescenceStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="PlantDepreciationRate"></label> <i class="text-danger">*</i>
                                    <input asp-for="PlantDepreciationRate" type="number" class="form-control form-control-sm" id="PlantDepreciationRate" placeholder="Plant Depreciation Rate">
                                    <span id="PlantDepreciationRate-error" asp-validation-for="PlantDepreciationRate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <div class="border my-2 p-2 position-relative shadow mt-4" style="border-color: darkgray !important;border-radius:1px">
                            <div class="bg-white px-2 position-absolute top-0 start-50 translate-middle"><h6>Physical Address of the Plant </h6></div>
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label asp-for="Region"></label><i class="text-danger">*</i>
                                    <select asp-for="Region" class="form-control form-control-sm" id="Region" onchange="handleRegionChange(this)">
                                        <option value="">Select Region</option>
                                        <option value="Addis Ababa">Addis Ababa</option>
                                        <option value="Afar">Afar</option>
                                        <option value="Amhara">Amhara</option>
                                        <option value="Benshangul">Benshangul</option>
                                        <option value="Central Ethiopia">Central Ethiopia</option>
                                        <option value="Diredawa">Diredawa</option>
                                        <option value="Gambella">Gambella</option>
                                        <option value="Harrari">Harrari</option>
                                        <option value="Oromia">Oromia</option>
                                        <option value="Sidama">Sidama</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South western Ethiopia">South western Ethiopia</option>
                                        <option value="Southern Ethiopia">Southern Ethiopia</option>
                                        <option value="Tigray">Tigray</option>
                                        <option value="Others">Others, please specify</option>
                                    </select>
                                    <input class="form-control form-control-sm mt-2" id="OtherRegion" name="OtherRegion" style="display: none;">
                                    <span id="Region-error" asp-validation-for="Region" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="Zone"></label>
                                    <input asp-for="Zone" class="form-control form-control-sm" id="Zone" placeholder="Enter Zone" oninput="validateZoneInput(this)">
                                    <span id="Zone-error" asp-validation-for="Zone" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control form-control-sm" id="City" placeholder="Enter City" oninput="validateCityInput(this)">
                                    <span id="City-error" asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="SubCity"></label>
                                    <input asp-for="SubCity" class="form-control form-control-sm" id="SubCity" placeholder="Enter Sub City" oninput="validateSubCityInput(this)">
                                    <span id="SubCity-error" asp-validation-for="SubCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-lg-3">
                                    <label asp-for="Wereda"></label>
                                    <input asp-for="Wereda" class="form-control form-control-sm" id="Wereda" placeholder="Enter Wereda" oninput="validateWeredaInput(this)">
                                    <span id="Wereda-error" asp-validation-for="Wereda" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label asp-for="Kebele"></label>
                                    <input asp-for="Kebele" class="form-control form-control-sm" id="Kebele" placeholder="Enter Kebele" oninput="validateKebeleInput(this)">
                                    <span id="Kebele-error" asp-validation-for="Kebele" class="text-danger"></span>
                                </div>
                                @*   <div class="form-group col-lg-4">
                                <label asp-for="LHCNumber"></label> <i class="text-danger">*</i>
                                <input asp-for="LHCNumber" class="form-control  form-control-sm" placeholder="Enter LHC Number" id="LHCNo">
                                <span asp-validation-for="LHCNumber" class="text-danger"></span>
                                </div> *@
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <button type="submit" id="assignButton" class="col-xl-4  btn btn-sm bg-purple">Edit</button>
                                </div>
                                @*  <div class="form-group col-lg-6">
                                <button type="button" id="sendEvaluationButton" class="btn btn-lg bg-purple" data-toggle="modal" data-target="#sendEvaluationButtonModal1">
                                Send Evaluation Again <i class="fas fa-eye"></i>
                                </button>
                                </di *@
                            </div>
                        </div>
                    </form>
               
                </div>
                <div class="row" style="margin-top:1.2rem;margin-bottom:0.2rem;">
                    <table class="table table-bordered " style="border-top: 3px solid #6f42c1;">
                        <thead>
                            <tr>
                                <th colspan="4"><h4>Edit Production Capacity Document</h4></th>
                            </tr>
                            <tr>
                                <th>Document Name</th>
                                <th>Document Catagory</th>
                                <th>Document Type</th>
                                <th>Document Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (productionFiles.Count() == 0)
                                {
                                     <tr class="text-center"> <td colspan="4"><h6><a href="#" data-id="@Model.PCECaseId" id="uploadLink">There is no document related to this PCE (Click to Add new Document)</a></h6></td></tr>
                                }
                                else
                                {
                                    foreach (var productionFile in productionFiles)
                                    {
                                        <tr>
                                            <td>@productionFile.Name</td>
                                            <td>@productionFile.Catagory</td>
                                            <td>@productionFile.ContentType</td>
                                            <td>
                                                <a class="text-purple" href="@Url.Action("ViewFile","UploadFile" ,new { Id = productionFile.Id })" target="_blank">View <i class="fas fas-solid fa-eye"></i></a>&nbsp;|&nbsp;
                                                <a class="text-purple" href="@Url.Action("DownloadFile","UploadFile" ,new { Id = productionFile.Id })" target="_blank">Download <i class="fas fas-solid fa-download"></i></a>&nbsp;|&nbsp;
                                                <a class="text-danger delete-link" href="#" data-id="@productionFile.Id" data-toggle="modal" data-target="#deleteConfirmationModal">Delete <i class="fas fas-solid fa-trash"></i></a>
                                            </td>

                                        </tr>
                                    }
                                    <tr class="text-center"> <td colspan="4"><h6><a href="#" data-id="@Model.PCECaseId" id="uploadLink">Click to Add new Document</a></h6></td></tr>
                                }

                                // if (Model.ProductionBussinessLicence == null)
                                // {
                                //    <tr class="text-center"> <td colspan="4"><h6><a href="#" data-id="@Model.Id" id="uploadLink">There is no document related to this case (Click to Add new Document)</a></h6></td></tr>
                                // }
                                // else
                                // {

                                // }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteItem">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <div class="modal-body">
                    <div class="form-group">
                        <label name-for="DocumentCatagory">Document Catagory*</label>
                        <select name="DocumentCatagory" class="form-control form-control-sm" id="DocumentCatagory" required>
                            <option value="" disabled selected>Select Document Catagory *</option>
                            <option value="Plant LHC Certificate">Plant LHC Certificate</option>
                            <option value="Plant Custom Declaration">Plant Custom Declaration</option>
                            <option value="Plant Bussiness Licence">Plant Bussiness Licence</option>
                            <option value="CBE Partial Financing Supportive Document">CBE Partial Financing Supportive Document</option>
                            <option value="Plant Custom Declaration">PCE Machine operation manual</option>
                            <option value="PCE Other Supportive Document"> PCE Other Supportive Document</option>
                        </select>
                        <span name-for="DocumentCatagory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.Id" type="hidden" id="collateralID"/>
                        <label name-for="File"> PCE Business License</label>
                        <input name="File" type="file" class="form-control" id="CollateralDocument">
                        <span name-validation-for="File" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn bg-purple" id="uploadFile">Upload</button>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="modal fade" id="sendEvaluationButtonModal1" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/Case/SendReEvaluation" id="ReevaluationForm">
                @*                 <input asp-for="Id" hidden />
                *@                <div class="modal-header">
                    <h4 class="modal-title" id="rejectionModalLabel">Reevaluation Comment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ReevaluationComment">Are you sure you want to send it to Reevaluation:</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn bg-purple col-xl-3" onclick="closeModal()">No</button>
                        </div>
                        <div class="col-md-6 ">
                            <button type="submit" class="btn bg-purple col-xl-3">Yes</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var otherPlantNameInput = document.getElementById('OtherPlantNameInput');
        otherPlantNameInput.classList.add('d-none');
    });

    document.getElementById('PlantName').addEventListener('change', function () {
        var otherPlantNameInput = document.getElementById('OtherPlantNameInput');
        if (this.value === 'Others, please specify') {
            otherPlantNameInput.classList.remove('d-none');
        } else {
            otherPlantNameInput.classList.add('d-none');
        }
    });

    // document.getElementById('OtherPlantName').addEventListener('input', function () {
    //     document.getElementById('PlantName').value = this.value;
    // });

</script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>

        document.getElementById('PlantMachinePurchased').addEventListener('change', function () {
            var supportDocumentRow = document.getElementById('SupportDocumentUpload');
            if (this.checked) {
                supportDocumentRow.style.display = 'block';
            } else {
                supportDocumentRow.style.display = 'none';
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            var otherPlantNameInput = document.getElementById('OtherPlantNameInput');
            otherPlantNameInput.classList.add('d-none');
        });



   





        $(function () {
            $('#sendEvaluationButtonModal1').on('shown.bs.modal', function () {
                $('#rejectionComment').focus();
            });

            $('#rejectionForm').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                var rejectionComment = $('#rejectionComment').val();
                var CollateralId = $('#CollateralId').val();

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),

                    data: { rejectionComment: rejectionComment, CollateralId: CollateralId },
                    success: function (response) {
                        // Handle the response from the controller if needed
                        toastr.success('Rejection comment saved successfully');
                        $('#sendEvaluationButtonModal1').modal('hide');
                        window.location.href = "https://localhost:7166/MOCase/MyCases";
                    },
                    error: function (error) {
                        // Handle the error if needed
                        toastr.error('Error saving rejection comment:', error);
                    }
                });
            });
        });


    </script>
    <script>
        $(document).ready(function () {

            $('.delete-link').on('click', function (e) {
                e.preventDefault();
                var itemId = $(this).data('id');
                $('#deleteItem').data('id', itemId);
                $('#deleteConfirmationModal').modal('show');
            });

            $('#deleteItem').on('click', function () {
                var itemId = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("DeleteProductionFile", "ProductionCapacity")',
                    type: 'POST',
                    data: { id: itemId },
                    success: function (result) {
                        toastr.success('PCE Document deleted successfully.');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        toastr.error('unable to delete PCE document.');
                    }
                });

                $('#deleteConfirmationModal').modal('hide');
            });




            $('#uploadLink').on('click', function (e) {
                e.preventDefault();
                var caseId = $(this).data('id');
                $('#uploadModal').data('caseId', caseId);
                $('#uploadModal').modal('show');
            });


            $('#uploadFile').on('click', function () {
                var caseId = $('#uploadModal').data('caseId');

                var fileInput = document.getElementById('CollateralDocument');
                var file = fileInput.files[0]; 
                var DocumentCatagory = document.getElementById('DocumentCatagory').value;
                var CollateralId = document.getElementById('collateralID').value;
                var formData = new FormData();
                formData.append('BussinessLicence', file);
                formData.append('caseId', CollateralId);
                @*formData.append('CollateralId', CollateralId);*@
                formData.append('DocumentCatagory', DocumentCatagory)

                $.ajax({
                    url: '@Url.Action("UploadProductionFile", "ProductionCapacity")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        toastr.success('PCE File uploaded successfully.');
                        @*location.reload();*@
                        window.location.reload(true);

                    },
                    error: function (xhr, status, error) {
                        toastr.error('An error occurred while uploading the PCE file.');
                    }
                });
                $('#uploadModal').modal('hide');
            });
        });






    </script>
}

